.axys-hero {
  --shift-offset-x: 72px;
  // border: $test;
  @include full-viewport-section(true);
  @include row-center;
  @include section-padding;
  // margin-block-start: var(--header-height);
  position: relative;
  overflow: hidden; // for tilt, either make that smaller or keep this line

  &__content {
    z-index: 1;
  }

  &__content-small {
    @include column-start;

    @include mq-min(md) {
      translate: calc(var(--shift-offset-x) * -1) 0;
      padding-inline-start: 4px;
    }
  }

  &__title {
    // border: $test;
    @include column-start;
    width: 11ch;

    &-glitch {
      line-height: 1.2;

      @include mq-motion-allow {
        .outer-span {
          display: flex;
          overflow: hidden;
        }

        .text-reveal__words {
          translate: 0 100%;
          transition: 1s $cubic-ease-sudden;
        }

        &.gsap-animated {
          .outer-span {
            @include mq-min(md) {
              translate: calc(var(--shift-offset-x) * -1) 0;
              transition: 1s $cubic-ease-sudden 0.64s;
            }
          }

          .text-reveal__words {
            translate: 0 0;
            transition: 1s $cubic-ease-sudden;
          }
        }
      }
    }

    &-shift {
      @include mq-motion-allow {
        translate: 0 0;

        &.gsap-animated {
          @include mq-min(md) {
            translate: var(--shift-offset-x) 0;
            transition: 0.8s $cubic-ease-sudden;
          }
        }
      }
    }

    .text-reveal {
      line-height: 0.8;

      .outer-span {
        line-height: 1.2;
      }

      .text-reveal__words {
        translate: 0 100%;
        transition: 1s $cubic-ease-back;
      }

      &--active {
        .text-reveal__words {
          translate: 0 0;
        }
      }
    }
  }

  &__background {
    @include absolute-center;
    translate: -50% -50%;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    .axys-hero__layer-tilt {
      width: 100%;
      height: 100%;
    }

    .axys-hero__logo-gsap-animate {
      min-height: 50vh;

      @include mq-motion-allow {
        opacity: 0;
        transition: 1.5s ease;

        &.gsap-animated {
          opacity: 1;
        }
      }
    }

    .axys-dots-logo {
      --dots-logo-size: 360px;

      @include absolute-center;
      width: var(--dots-logo-size);
      height: var(--dots-logo-size);
      // filter: blur(1px);
      // opacity: 0.5;

      @media all {
        // @include mq-max(xxl) {
        @media (max-width: 1512px) {
          --dots-logo-size: 320px;
        }
        @include mq-max(xl) {
          --dots-logo-size: 280px;
        }
        @include mq-max(lg) {
          --dots-logo-size: 240px;
        }
        @include mq-max(md) {
          --dots-logo-size: 200px;
        }
      }

      &__1,
      &__2 {
        --offset: 9.2%;

        @include absolute-center;
        width: 100%;
        height: 100%;

        @media all {
          // @include mq-max(xxl) {
          @media (max-width: 1512px) {
            --offset: 10.6%;
          }
          @include mq-max(xl) {
            --offset: 10%;
          }
          @include mq-max(lg) {
            --offset: 12%;
          }
          @include mq-max(md) {
            --offset: 14.9%;
          }
        }
      }

      &__1 {
        translate: calc(var(--offset) * -1) calc(-100% + var(--offset));
      }
      &__2 {
        translate: calc(-100% + var(--offset)) calc(var(--offset) * -1);
      }
    }
  }
}
