.scroll-horizontal {
  // @include width-clamp;
  @include section-padding;
  position: relative; // for pin steps
  overflow: hidden;
  // background: linear-gradient(180deg, blue, red);

  &__pin {
    border: $test;
    height: calc(100vh - calc(var(--header-height) * 2));
    min-height: 850px;
    max-width: $content-width;
    margin: auto;

    @include mq-max(xxl) {
      min-height: 650px;
    }
  }

  &__header {
    @include row-center(space-between);
    gap: var(--spacing--lg);
    margin-block-end: var(--section-gap);

    @include mq-max(lg) {
      flex-direction: column;
      gap: var(--spacing--sm);
    }

    &-title {
      flex-shrink: 0;
    }

    &-desc {
      @include mq-min(lg) {
        width: 50%;
      }
    }
  }

  &__container {
    --container-height: calc(100svh - calc(var(--header-height) + var(--body-padding-double)));

    // border: $test;
    display: flex;
    align-items: center;
    height: var(--container-height);
  }

  &__slider {
    height: 100%;
    display: flex;
    gap: var(--spacing);
  }

  &__figure {
    // Couldn't get aspect ratio to work
    @include column-start;
    gap: var(--spacing--sm);
    width: min(25vw, 450px);

    @include mq-motion-allow {
      opacity: 0;
      scale: 0.9;
      filter: blur(4px);
      transition: $ease-sudden;

      &.gsap-stagger-animate {
        opacity: 1;
        scale: 1;
        filter: blur(0);
      }
    }

    @include mq-max(xl) {
      width: 350px;
    }

    @include mq-max(sm) {
      width: 250px;
    }

    picture {
      height: 100%;
      border-radius: var(--radius--sm);
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
      }
    }

    &-caption {
      @include row-center(start);
      gap: var(--spacing--sm);
      width: 100%;

      h3 {
        @include h5;
      }
    }

    &--parallax {
      picture {
        justify-content: flex-end;
      }
    }
  }

  &--message {
    .scroll-horizontal__slider {
      align-items: center;
    }

    .scroll-horizontal__message {
      white-space: nowrap;
      font-size: min(10vw, 128px);
    }
  }
}
