.axys-hero {
  --shift-offset-x: 72px;
  // border: $test;
  @include full-viewport-section(true);
  @include row-center;
  @include section-padding;
  // margin-block-start: var(--header-height);
  position: relative;
  overflow: hidden; // for tilt, either make that smaller or keep this line

  &__content {
    z-index: 1;
  }

  &__content-small {
    @include column-start;

    @include mq-min(md) {
      translate: calc(var(--shift-offset-x) * -1) 0;
      padding-inline-start: 4px;
    }
  }

  &__title {
    // border: $test;
    @include column-start;
    width: 11ch;

    &-glitch {
      line-height: 1.2;

      @include mq-motion-allow {
        .outer-span {
          display: flex;
          overflow: hidden;
        }

        .text-reveal__words {
          translate: 0 100%;
          transition: 1s $cubic-ease-sudden;
        }

        &.gsap-animated {
          .outer-span {
            @include mq-min(md) {
              translate: calc(var(--shift-offset-x) * -1) 0;
              transition: 1s $cubic-ease-sudden 0.64s;
            }
          }

          .text-reveal__words {
            translate: 0 0;
            transition: 1s $cubic-ease-sudden;
          }
        }
      }
    }

    &-shift {
      @include mq-motion-allow {
        translate: 0 0;

        &.gsap-animated {
          @include mq-min(md) {
            translate: calc(var(--shift-offset-x) * -1) 0;
            transition: 0.8s $cubic-ease-sudden;
          }
        }
      }
    }

    &-cta {
      margin-block-start: var(--spacing);

      .overflow-hidden {
        padding-inline-end: 12px; // for icon end on cta-2
      }

      @include mq-motion-allow {
        @include mq-min(md) {
          translate: calc(var(--shift-offset-x) * -1) 0;
        }

        .cta-1,
        .cta-2 {
          translate: 0 150%;
        }

        &.gsap-animated {
          @include mq-min(md) {
            translate: 0 0;
            transition: 0.8s $cubic-ease-sudden 0.6s;
          }

          .cta-1 {
            translate: 0 0;
            transition: $ease, translate 1s $cubic-ease-sudden;
          }

          .cta-2 {
            translate: 0 0;
            transition: $ease, translate 1s $cubic-ease-sudden 0.125s;
          }
        }
      }
    }

    .text-reveal {
      line-height: 0.8;

      .outer-span {
        line-height: 1.2;
      }

      .text-reveal__words {
        translate: 0 100%;
        transition: 1s $cubic-ease-back;
      }

      &--active {
        .text-reveal__words {
          translate: 0 0;
        }
      }
    }
  }

  &__background {
    @include absolute-center;
    translate: -50% -50%;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    .axys-hero__layer-tilt {
      width: 100%;
      height: 100%;
    }

    .axys-hero__logo-gsap-animate {
      min-height: 50vh;

      @include mq-motion-allow {
        opacity: 0;
        transition: 1.5s ease;

        &.gsap-animated {
          opacity: 1;
        }
      }
    }

    .axys-dots-logo__push {
      @include absolute-center;

      width: 40vw;
      height: 40vw;
      max-width: 650px;
      max-height: 650px;
      filter: blur(7px);
      // opacity: 0.5;

      @include mq-max(lg) {
        width: 72vw;
        height: 72vw;
        filter: blur(3px);
      }

      @include mq-max(sm) {
        // width: 72vw;
        // height: 72vw;
        filter: blur(1px);
      }
    }
  }
}
