.work-gallery {
  &__inner {
    @include width-clamp;
    @include section-padding;
  }

  &__header {
    @include row-center(space-between);
    margin-block-end: var(--section-gap--lg);

    @include mq-max(md) {
      flex-direction: column;
      align-items: start;
    }

    &-desc {
      @include mq-min(md) {
        text-align: end;
      }
    }
  }

  &__layout {
    display: grid;
    gap: var(--spacing--xl);

    @include mq-max(xl) {
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing);
    }

    @include mq-max(lg) {
      grid-template-columns: 1fr;
      gap: var(--spacing);
    }

    &--default {
      @include mq-min(xl) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &--alternate {
      @include mq-min(xl) {
        grid-template-columns: repeat(3, 1fr);
      }
      .work-gallery__figure {
        @include mq-min(xl) {
          @for $i from 1 through 100 {
            // Pattern repeats every 4
            $pos: ($i - 1) % 4 + 1;

            @if $pos == 1 {
              &:nth-of-type(#{$i}) {
                grid-column: 1;
              }
            } @else if $pos == 2 {
              &:nth-of-type(#{$i}) {
                grid-column: 2 / 4;
              }
            } @else if $pos == 3 {
              &:nth-of-type(#{$i}) {
                grid-column: 1 / 3;
              }
            } @else if $pos == 4 {
              &:nth-of-type(#{$i}) {
                grid-column: 3;
              }
            }
          }
        }
      }
    }
  }

  &__figure {
    @include column-stretch;
    gap: var(--spacing--sm);
    width: 100%;
    height: 100%;

    @include mq-motion-allow {
      opacity: 0;
      scale: 0.9;
      filter: blur(2px);
      transition: $ease-sudden;

      &:nth-of-type(even) {
        @include mq-min(lg) {
          transition-delay: 0.125s;
        }
      }

      &.gsap-animated {
        opacity: 1;
        scale: 1;
        filter: blur(0);
      }
    }

    &-link {
      position: relative;
      width: 100%;
      height: 100%;

      @include desktop-hover {
        picture,
        img {
          object-view-box: inset(0); // restore zoom (scale)
        }
      }

      .badge {
        position: absolute;
        top: 12px;
        left: 12px;
      }

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius--sm);
        object-view-box: inset(2.5%); // zoom in (scale up) slightly

        transition: $ease-sudden;

        @include mq-max(xl) {
          border-radius: var(--radius--sm);
        }
      }
    }

    &-caption {
      @include row-center(space-between);
      line-height: 2;

      @include mq-motion-allow {
        overflow: hidden;

        .work-gallery__figure-title,
        .work-gallery__figure-type {
          translate: 0 100%;
          transition: $ease-sudden;
        }

        &.gsap-animated {
          .work-gallery__figure-title,
          .work-gallery__figure-type {
            translate: 0 0;
          }
          .work-gallery__figure-title {
            transition-delay: 0s;

            @include mq-min(md) {
              transition-delay: 0.05s;
            }
          }
          .work-gallery__figure-type {
            transition-delay: 0s;

            @include mq-min(md) {
              transition-delay: 0.16s;
            }
          }
        }
      }
    }

    &-title {
      @include h5;
    }

    // &-type {
    //   // @include h6;
    // }
  }
}
