<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="{{ meta_data.theme_color }}" />
    <meta name="author" content="{{ meta_data.author }}" />
    <meta name="description" content="{{ description }}" />
    {% if path == "404" %}
    <meta name="robots" content="noindex, nofollow" />
    {% else %}
    <meta name="robots" content="index, follow" />
    {% endif %}

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ meta_data.og_title }}" />
    <meta property="og:description" content="{{ meta_data.og_description }}" />
    <meta
      property="og:image"
      content="{{ meta_data.url }}{{ meta_data.og_image }}"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta_data.url }}" />
    <meta property="og:site_name" content="{{ meta_data.site_name }}" />

    {% block head %}{% endblock %}

    <title>{{ title }}</title>

    {% if path != '404' %}
    <link
      rel="canonical"
      href="{{ meta_data.url }}{%if path != 'home'%}/{{ path }}{%endif%}"
    />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link
      rel="icon"
      href="/static/img/logo-light.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/static/img/logo-dark.svg"
      media="(prefers-color-scheme: light)"
    />

    <script src="../static/javascript/index.js" type="module" defer></script>

    <!-- Data Schema -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ meta_data.og_site_name }}",
        "url": "{{ meta_data.url }}",
        "logo": "{{ meta_data.url }}/favicon.ico",
        "image": "{{ meta_data.og_image }}",
        "sameAs": [
          "https://www.instagram.com/sample",
          "https://twitter.com/sample",
          "https://dribbble.com/sample"
        ],
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "{{ meta_data.contact_email }}",
          "contactType": "Support"
        }
      }
    </script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "./partials/header.html" %}
    {% include "./partials/nav.html" %}
    <main class="main-content main-{{path}}">{{ content | safe }}</main>
    {%include "./partials/footer.html" %}
    <!-- prettier-ignore -->

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
    <script src="/static/js/alpine.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
  </body>
</html>
