<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- prettier-ignore -->
    {% set pageMeta = meta_data.page_details[page.fileSlug] or {} %}
    {% set defaults = meta_data.defaults %}
    
    {% include "./meta/_meta-core.njk" %}
    {% include "./meta/_meta-open-graph.njk" %}
    {% include "./meta/_meta-schema.njk" %}
    {% include "./meta/_meta-theme-script.njk" %}

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />

    <!-- Script Tags -->
    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      defer
    ></script>
    {% endif %}
    <script src="/static/js/alpine.js" defer></script>
    <script src="/static/javascript/index.js" type="module" defer></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "./partials/header-simple.njk" %}
    <main class="main-content main-{{ path | slugifyPath }}">
      {{ content | safe }}
    </main>
    {%include "./partials/footer-advanced.njk" %}

    <!-- Library // CHANGE ME -->
    <!-- prettier-ignore -->
    {% if path == "home" or path == "library/utils" or path == "library/components" or path == "style-guide" %}
      {% include "./library/components/mouse-cursor.njk" %}
    {% endif %}

    <!-- prettier-ignore -->
    {% if path == "library/utils" or path == "library/components" %}
      {% include "./library/components/video-overlay.njk" %}
      {% include "./library/components/btn-back-to-top.njk" %}
    {% endif %}
    
    {% if path == "library/advanced" %}
    <canvas id="grid-bg"></canvas>
    {% endif %}

    <!-- prettier-ignore -->
    {% include "./partials/scripts.njk" %}
  </body>
</html>
