---
title:
description: Description for blog archive page
author: CHANGE ME

layout: app
path: archive-blog
---

<!-- prettier-ignore -->
{% set hero_simple = ({
  title: 'Blog Archive',
  desc: 'A flexible yet seamless way to include a blog, resources list, or news articles on a website.',
  direction: 'column'
}) %}
{% include './sections/hero-simple.njk' %}

<!-- src > blog > index.njk -->
<!-- prettier-ignore -->
<section class="blog-list">
  <h2 class="blog-list__title">Latest Articles</h2>

  {{ content | safe }}
</section>
