---
title:
description: Description for blog archive page
author: CHANGE ME

layout: app
path: archive-blog
---

<section class="hero">
  <h1>Blog Archive</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus esse
    repellendus a.
  </p>
</section>

<!-- src > blog > index.njk -->
<!-- prettier-ignore -->
<section class="blog-article-list" id="blog-articles-list">
  {{ content | safe }}
</section>
