---
title:
description: Description for blog archive page
author: CHANGE ME

layout: app
path: archive-blog
---

<!-- prettier-ignore -->
{% set hero_simple = ({
  title: 'Blog Archive',
  desc: 'A place to view common styles and guidelines.',
  direction: 'column'
}) %}
{% include './library/sections/hero-simple.njk' %}

<!-- src > blog > index.njk -->
<!-- prettier-ignore -->
<section class="blog-article-list" id="blog-articles-list">
  {{ content | safe }}
</section>
