---
title: Blog
layout: app
cta1:
  url: "/"
  title: "Return Home"
---

<section id="hero-section" class="hero-section__home">
  <!-- <h1>Access the power <br />of Decap CMS</h1> -->
  <h1 class="h1">{{title}}</h1>
  <p>The things we've learned. The journal we keep.</p>
  <!-- <p>
    Powered by Decap CMS, AXYS Creative let's you <br />
    control the content of your site, with ease.
  </p>
  -->

  {% include "./partials/cta-wrapper.html" %}

  <!-- prettier-ignore -->
  {% include "./partials/social-media.html" %}
  <!-- prettier-ignore -->
</section>

<section id="blog-list">
  <!-- prettier-ignore -->
  {{ content | safe }}
  <!-- prettier-ignore -->
</section>
