---
layout: app
path: blog-post
---

<!-- prettier-ignore -->
{% include "./sections/blog-article-hero.njk" %}

<!-- from src > posts > blog > blog.json -->
<!-- prettier-ignore -->
{% set blog_article_body = ({
  content: content,
  side_nav: false
}) %}
{% include "./sections/blog-article-body.njk" %}
