<!-- prettier-ignore -->
{% set label_true = btn_toggle.label_true | default('ON') %}
{% set label_false = btn_toggle.label_false | default('OFF') %}

<button
  class="btn-toggle tab-element-page {{ btn_toggle.class }}"
  aria-pressed="false"
>
  {% if btn_toggle.label %}
  <span class="btn-toggle__label {{ btn_toggle.class }}__label">
    {{ btn_toggle.label }}
  </span>
  {% endif %}
  <span
    class="btn-toggle__switch {{ btn_toggle.class }}__switch"
    aria-hidden="true"
    data-label-true="{{ label_true }}"
    data-label-false="{{ label_false }}"
  >
    <span
      class="btn-toggle__switch-nob {{ btn_toggle.class }}__switch-nob"
    ></span>
  </span>
</button>
