<!-- props -->
<!-- prettier-ignore -->
{% set text = btn.text or '' %}
{% set text_desc = btn.text_desc or '' %}
{% set url = btn.url or '' %}
{% set new_tab = btn.new_tab or false %}
{% set type = btn.type or 'text' %}
{% set class = btn.class or '' %}
{% set attributes = btn.attributes or '' %}
{% set icon_start = btn.icon_start or '' %}
{% set icon_end = btn.icon_end or '' %}
{% set icon_end_class = btn.icon_end_class or '' %}

<!-- prettier-ignore -->
{% set a11y_tab = a11y_tab or 'tab-element-page' %}

{% if type == 'icon-end' %}
  {% set icon_end = '/static/img/library/icon-google-chevron-right.svg' %}
{% endif %}

{% set element_to_use = 'button' %}
{% if url %}
{% set element_to_use = 'a' %}
{% endif %}

{% set content_start_class = '' %}
{% if content_start %}
  {% set content_start_class = 'content-start' %}
{% endif %}

<!-- prettier-ignore -->
<{{element_to_use}}
  class="{{ class }} btn btn-type--{{ type }} {{ a11y_tab }} {{ content_start_class}}"
  {%if url %}
    href="{{ url }}"
  {%endif%}
  {%if url and new_tab%}
    target="_blank" rel="noopener noreferrer"
  {%endif%}
  {% if not text or text_desc %}
    aria-label="{{ text_desc or 'no text, please provide a text_desc' }}"
  {% endif %}
  {% if attributes %}
    {{ attributes }}
  {% endif %}
>
  {% if icon_start %}
    <span 
      class="btn__icon-start mask-icon"
      style="mask-image: url('{{icon_start}}');"
      role="img"
    ></span>
  {% endif %}
  <span class="btn__text">{{ text }}</span>
  {% if icon_end or type == 'icon_end' %}
    <span 
      class="{{ icon_end_class }} btn__icon-end mask-icon"
      style="mask-image: url('{{icon_end}}');"
      role="img"
    ></span>
  {% endif %}
</{{element_to_use}}>
