<!-- props -->
<!-- prettier-ignore -->
{% set text = link.text or '' %}
{% set text_desc = link.text_desc or '' %}
{% set url = link.url or '' %}
{% set new_tab = link.new_tab or false %}
{% set type = link.type or 'text' %}
{% set class = link.class or '' %}
{% set attributes = link.attributes or '' %}
{% set icon_start = link.icon_start or '' %}
{% set icon_end = link.icon_end or '' %}
{% set icon_end_class = link.icon_end_class or '' %}

<!-- prettier-ignore -->
{% set a11y_tab = a11y_tab or 'tab-element-page' %}

{% if type == 'icon_end' %}
  {% set icon_end = '/static/img/library/icon-google-chevron-right.svg' %}
{% endif %}

{% set element_to_use = 'button' %}
{% if url %}
{% set element_to_use = 'a' %}
{% endif %}

{% set content_start_class = '' %}
{% if content_start %}
  {% set content_start_class = 'content-start' %}
{% endif %}

<!-- prettier-ignore -->
<{{element_to_use}}
  class="{{ class }} button button-type--{{ type }} {{ a11y_tab }} {{ content_start_class}}"
  {%if url %}
    href="{{ url }}"
  {%endif%}
  {%if url and new_tab%}
    target="_blank" rel="noopener noreferrer"
  {%endif%}
  {% if not text or text_desc %}
    aria-label="{{ text_desc or 'no text, please provide a text_desc' }}"
  {% endif %}
  {% if attributes %}
    {{ attributes }}
  {% endif %}
>
  {% if icon_start %}
    <span 
      class="button__icon-start mask-icon"
      style="mask-image: url('{{icon_start}}');"
      role="img"
    ></span>
  {% endif %}
  <span class="button__text">{{ text }}</span>
  {% if icon_end or type == 'icon_end' %}
    <span 
      class="{{ icon_end_class }} button__icon-end mask-icon"
      style="mask-image: url('{{icon_end}}');"
      role="img"
    ></span>
  {% endif %}
</{{element_to_use}}>
