<!-- prettier-ignore -->
{% set a11y_tab = 'tab-element-page' %}

{% set autoplay = carousel_swiper.autoplay %}
{% set controls = carousel_swiper.controls %}
{% set pagination = carousel_swiper.pagination %}
{% set slides = carousel_swiper.slides %}

{% if slides %}
<div
  class="swiper mySwiper carousel-swiper"
  data-autoplay-enabled="{{ autoplay.enabled }}"
  data-autoplay-interval="{{ autoplay.interval }}"
  data-pagination="{{ pagination }}"
>
  <div class="swiper-wrapper tab-element-page">
    {% for slide in slides %}
    <div class="swiper-slide">
      <img src="{{ slide.img }}" alt="{{ slide.title }}" />
    </div>
    {% endfor %}
  </div>

  <div class="swiper-controls">
    <!-- prettier-ignore -->
    {% set btn = ({
      text: controls.prev_text,
      type: 'primary',
      class: 'swiper-button-prev',
      icon_start: controls.btn_icon,
      icon_start_class: 'swiper-button-prev__icon'
     }) %}
     {% include "./btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: controls.next_text,
      type: 'primary',
      class: 'swiper-button-next',
      icon_end: controls.btn_icon,
      icon_end_class: 'swiper-button-next__icon'
     }) %}
     {% include "./btn.njk" %}

    <!-- prettier-ignore -->
    {% if pagination %}
    <div class="swiper-pagination"></div>
    {% endif %}
  </div>
</div>
{% endif %}
