{% if cta_1 %}
<div class="cta-group disable-bg">
  <!-- prettier-ignore -->
  {% if cta_1 %}
    {% set btn = ({
      text: cta_1.text,
      text_desc: cta_1.text_desc,
      url: cta_1.url,
      new_tab: cta_1.new_tab,
      icon_start: cta_1.icon_start,
      icon_end: cta_1.icon_end,
      type: 'solid',
      class: 'magnet magnet-wide-btn hide-cursor',
      attributes: ''
    }) %}
    {% include "./btn.njk" %}
  {% endif %}

  <!-- prettier-ignore -->
  {% if cta_2 %}
    {% set btn = ({
      text: cta_2.text,
      text_desc: cta_2.text_desc,
      url: cta_2.url,
      new_tab: cta_2.new_tab,
      icon_start: cta_2.icon_start,
      icon_end: cta_2.icon_end,
      icon_end_class: 'cursor-target__cta-2',
      type: 'icon-end',
      class: 'cursor-trigger cursor-pair',
      attributes: 'data-cursor-target=cursor-target__cta-2 data-cursor-class=cta-2'
    }) %}
    {% include "./btn.njk" %}
  {% endif %}
</div>
{% endif %}
