<div class="dropdown-link">
  <button class="dropdown-link__trigger classic-link" aria-expanded="false">
    {{ dropdown_link.text or 'No text provided'}}

    <!-- prettier-ignore -->
    {% if dropdown_link.icon %}
    <span
      class="dropdown-link__trigger-icon mask-icon"
      style="mask-image: url('{{ dropdown_link.icon }}')"
    ></span>
    {% endif %}
  </button>
  <div class="dropdown-link__accordion">
    <ul class="dropdown-link__list">
      {% for link in dropdown_link.inner_links %}
      <li>
        <!-- prettier-ignore -->
        <a
          class="classic-link tab-element-page"
          href="{{ link.url }}"
          {% if link.new_tab %}
            target="_blank"
            rel="noopener noreferrer"
          {% endif %}
        >
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
