<!-- prettier-ignore -->
{% set a11y_tab = '' %}
{% if tab_nav %}
  {% set a11y_tab = 'tab-element-nav' %}
{% else %}
  {% set a11y_tab = 'tab-element-page' %}
{% endif %}

<div class="dropdown-link">
  <button
    class="
    dropdown-link__trigger 
    {{ dropdown_link.trigger_class }} 
    {{ a11y_tab }}
    "
    aria-expanded="false"
  >
    <!-- placing trigger_class on span as not to remove icon with split-text -->
    <span
      class="dropdown-link__trigger-text {{ dropdown_link.trigger_text_class }}"
    >
      {{ dropdown_link.text or 'No text provided'}}
    </span>

    <!-- prettier-ignore -->
    {% if dropdown_link.icon %}
      {% set icon_svg = ({ src: dropdown_link.icon, class: 'dropdown-link__trigger-icon' }) %}
      {% include "./icon-svg.njk" %}
    {% endif %}
  </button>
  <div class="dropdown-link__accordion">
    <ul class="dropdown-link__list">
      {% for inner_link in dropdown_link.inner_links %}
      <li>
        <!-- prettier-ignore -->
        {% set btn = inner_link %}
        {% include "./btn.njk" %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
