<!-- prettier-ignore -->
{% set src = icon_svg.src or '' %}
{% set class = icon_svg.class or '' %}
{% set label = icon_svg.label or '' %}

{% set icon_classes = (class ~ ' mask-icon') | trim %}

<!-- prettier-ignore -->
<span
  class="{{ icon_classes }}"
  style="mask-image: url('{{ src }}');"
  {% if label %}
    role="img"
    aria-label="{{ label }}"
  {% else %}
    aria-hidden="true"
  {% endif %}
></span>
