<!-- prettier-ignore -->
{% set logo = global.logo %}

{% set src = logo.src or '' %}
{% set a11y_text = logo.a11y_text or meta_data.site_name + ' Logo' %}
{% set url = logo.url or '' %}
{% set new_tab = logo.new_tab or false %}
{% set theme_src = logo.theme_src or null %}
{% set class = logo.class or '' %}

{% set theme_class = '' %}
{% if theme_src %}
  {% set theme_class = 'theme-img' %}
{% endif %}

{% set dynamic_src = '' %}
{% if theme_src %}
  {% set dynamic_src = theme_src.dark %}
{% else %}
  {% set dynamic_src = src %}
{% endif %}

{% if logo.url %}
<!-- prettier-ignore -->
<a 
  class="site-logo site-logo-link {{class}} {{a11y_tab or ''}}" 
  href="{{ url }}" 
  {% if new_tab %}
    target="_blank" 
    rel="noopener noreferrer"
  {% endif %}
>
  <img
    class="site-logo site-logo-img {{ theme_class }}"
    src="{{ dynamic_src }}"
    {% if theme_src %}      
      data-light="{{ theme_src.light }}"
      data-dark="{{ theme_src.dark }}"
    {% endif %}
    alt="{{ a11y_text }}"
    eleventy:ignore
  />
</a>
{% else %}
<!-- prettier-ignore -->
<img
  class="site-logo site-logo-img {{class}} {{ theme_class }}" 
  src="{{ logo.dynamic_src }}"
  {% if theme_src %}      
    data-light="{{ theme_src.light }}"
    data-dark="{{ theme_src.dark }}"
  {% endif %}
  alt="{{ a11y_text }}"
  eleventy:ignore
/>
{% endif %}
