<!-- prettier-ignore -->
{% set text = marquee.text or '' %}
{% set imgs = marquee.imgs or null %}
{% set count = marquee.count or 1 %}
{% set velocity = marquee.velocity or 0 %}
{% set scroll_alternate = marquee.scroll_alternate or false %}
{% set scrub = marquee.scrub or false %}
{% set speed = marquee.speed or 28 %}
{% set speed_md = marquee.speed_md or 24 %}
{% set speed_sm = marquee.speed_sm or 20 %}

<!-- prettier-ignore -->
<div
  class="marquee {%if imgs%}marquee--imgs{%endif%}"
  {% if velocity > 0 %}data-marquee-velocity="{{ velocity }}"{% endif %}
  {% if text %} aria-label="{{ text | removeTokens }}"{% endif %}
  {% if scroll_alternate %}data-marquee-scroll-alternate{% endif %}
  {% if scrub %}data-marquee-scrub{% endif %}
  {% if speed %}data-marquee-speed="{{ speed }}"{% endif %}
  {% if speed_md %}data-marquee-speed-md="{{ speed_md }}"{% endif %}
  {% if speed_sm %}data-marquee-speed-sm="{{ speed_sm }}"{% endif %}
  role="region"
>
  {# Text marquee #}
  {% if text %}
    {% for i in range(0, count) %}
      <div class="marquee-inner" aria-hidden="true">
        <p class="marquee-inner__split">
          <span>{{ text }}</span>
          <span>{{ text }}</span>
        </p>
      </div>
    {% endfor %}
  {% endif %}

  {# Image marquee #}
  {% if imgs %}
    {% for i in range(0, count) %}
      <div class="marquee-inner" aria-hidden="true">
        <div class="marquee-inner__split">
          {% for img in imgs %}
            <img src="{{ img.src }}" alt="{{ img.alt }}" class="marquee-img" />
          {% endfor %}
        </div>
        <div class="marquee-inner__split">
          {% for img in imgs %}
            <img src="{{ img.src }}" alt="{{ img.alt }}" class="marquee-img" />
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
