<!-- prettier-ignore -->
{% set text = marquee_curve.text | default('No value passed') %}
{% set curve = marquee_curve.curve | default('cubic-bezier(0.55, 1.00, 0.66, 0.22)') %}
{% set spacing = marquee_curve.spacing | default('1') %}
{% set reverse = marquee_curve.reverse | default(true) %}

<div
  class="marquee-curve text-mono"
  data-curve="{{ curve }}"
  data-spacing="{{ spacing }}"
  data-reverse="{{ reverse }}"
  data-tracking="1"
  data-min-spacing-factor="1.1"
>
  <div class="marquee-curve__track">
    <svg class="marquee-curve__path" preserveAspectRatio="none">
      <path class="marquee-curve__curve" />
    </svg>
    <div class="marquee-curve__content" aria-hidden="true">
      {{ text }}
    </div>
    <div class="marquee-curve__content marquee-curve__content--clone" aria-hidden="true">
      {{ text }}
    </div>
  </div>
  <div class="marquee-curve__original" role="marquee">
    {{ text }}
  </div>
</div>
