<!-- prettier-ignore -->
{% set tab_class = '' %}
{% if tab_nav %}
  {% set tab_class = 'tab-element-nav' %}
{% else %}
  {% set tab_class = 'tab-element-page' %}
{% endif %}

{% if global.header.links %}
<menu class="menu-links hide-cursor" aria-label="navigation links">
  <!-- prettier-ignore -->
  {% for link in global.header.links %}
  {% if link.inner_links %}
  <li>
    <!-- prettier-ignore -->
    {% set dropdown_link = link %}
    {% include "./dropdown-link.njk" %}
  </li>
  {% else %}
  <li>
    <!-- prettier-ignore -->
    <a
      class="menu-links__link classic-link {{tab_class}}"
      href="{{ link.url }}"
      {% if link.new_tab %}
        target="_blank"
        rel="noopener noreferrer"
      {% endif %}
    >
      {{ link.text }}
    </a>
  </li>
  {% endif %} {% endfor %}
</menu>
{% endif %}
