<!-- prettier-ignore -->
{% set elastic = mouse_cursor.elastic or false %}
{% set tilt = mouse_cursor.tilt or false %}
{% set tilt_max = mouse_cursor.tilt_max or 25 %}
{% set tilt_reverse = mouse_cursor.tilt_reverse or true %}

<!-- prettier-ignore -->
<div
  style="opacity: 0"
  class="mouse-cursor"
  aria-hidden="true"
  data-elastic="{{elastic}}"
  data-tilt="{{tilt}}"
  data-tilt-max="{{tilt_max}}"
  {% if tilt_reverse %}
    data-tilt-reverse
  {% endif %}
>
  <div class="mouse-cursor__shape"></div>

  <!-- Components/utils that use the mouse-cursor logic (to reduce duplicate code) DELETE ME - IF NOT USED -->
  <div class="tooltip-util-message" role="tooltip"></div>
  <span class="mouse-cursor__message"></span>

  <!-- prettier-ignore -->
  {# Default icon goes in the 'src' (if using only one icon site-wide). Override with 'data-cursor-icon' attr #}
  {% set icon_svg = ({ 
    src: '/static/img/icon-google-bolt.svg', 
    class: 'mouse-cursor__icon' 
  }) %} {%
  include "./icon-svg.njk" %}
</div>
