<ul class="social-media-links">
  {% for link in global.social_media.links %}
  <li aria-label="{{ meta_data.author }} social media links">
    <a
      href="{{ link.url }}"
      target="_blank"
      class="social-media-link {% if tab_nav %}tab-element-nav{% else %}tab-element-page{% endif %}"
      aria-label="{{ link.title }}"
    >
      <span
        class="social-media-link__img"
        style="mask-image: url({{ link.src }})"
      ></span>
    </a>
  </li>
  {% endfor %}
</ul>
