<!-- prettier-ignore -->
{% set a11y_tab = '' %}
{% if tab_nav %}
  {% set a11y_tab = 'tab-element-nav' %}
{% else %}
  {% set a11y_tab = 'tab-element-page' %}
{% endif %}

<ul class="social-media-links">
  {% for link in global.social_media.links %}
  <li class="cursor-pair">
    <!-- prettier-ignore -->
    <a
      href="{{ link.url }}"
      target="_blank"
      class="social-media-link magnet cursor-trigger {{a11y_tab}}"
      aria-label="{{ link.title }}"
      data-cursor-target="social-media-link"
      data-cursor-class="cursor-social-media"
      data-magnet-x="1"
      data-magnet-y="1"
      data-magnet-return-duration="350"
      data-magnet-return-ease="cubic-bezier(0,1.64,.63,1.92)"
    >
      <span
        class="social-media-link__img"
        style="mask-image: url('{{ link.src }}')"
        role="img"
      ></span>
    </a>
  </li>
  {% endfor %}
</ul>
