<!-- prettier-ignore -->
{% set svg_card_text = svg_card.text or 'No Text Provided' %}
{% set svg_card_img  = svg_card.img  or '' %}
{% set svg_card_alt  = svg_card.alt  or svg_card_text %}
{% set svg_card_class = svg_card.class or '' %}

<div class="svg-card{% if svg_card_class %} {{ svg_card_class }}{% endif %}">
  <div class="svg-card__inner">
    {% if svg_card_img %}
    <img
      class="svg-card__img"
      src="{{ svg_card_img }}"
      alt="{{ svg_card_alt }}"
      eleventy:ignore
    />
    {% endif %}
  </div>
  <span class="svg-card__text">{{ svg_card_text }}</span>
</div>
