<!-- prettier-ignore -->
{% set text = text_curve_crop.text | default('No text provided') %} 
{% set placement = text_curve_crop.placement or 'bottom-right' %}

<div class="text-curve-crop text-curve-crop--{{ placement }}">
  <small><em>text_crop.placement:</em> <code>{{placement}}</code></small>
  <h2 class="text-curve-crop__title">{{ text }}</h2>
  <div class="text-curve-crop__corner text-curve-crop__corner--top"></div>
  <div class="text-curve-crop__corner text-curve-crop__corner--bottom"></div>
</div>
