<!-- prettier-ignore -->
{% set id = video_bg.id or '' %}
{% set src = video_bg.src or '' %}
{% set autoplay = video_bg.autoplay | default(true) %}
{% set poster = video_bg.poster or '' %}
{% set shadow = video_bg.shadow | default('bottom') %}
{% set toggle_class = video_bg.toggle.class or '' %}
{% set toggle_attributes = video_bg.toggle.attributes or '' %}
{% set toggle_placement = video_bg.toggle.placement | default('br') %}

{% set shadow_attribute = '' %}
{% if shadow %}
  {% set shadow_attribute = 'data-bg-shadow='~shadow~'' %}
{% endif %}

{% set autoplay_attributes = '' %}
{% if autoplay %}
  {% set autoplay_attributes = 'autoplay muted playsinline loop' %}
{% endif %}

{% set poster_attribute = '' %}
{% if poster and autoplay == false %}
  {% set poster_attribute = 'poster='~poster~'' %}
{% endif %}

<!-- Poster is required if autoplay is false. On mobile panel shows black. -->
<!-- Including a figure since video tags can't have ::psuedo-tag. Also not aw and I want to keep props in one place. -->

<!-- prettier-ignore -->
<figure class="video-bg__figure" {{ shadow_attribute }}>
  <video
    class="video-bg__video"
    id="{{ id }}"
    src="{{ src }}"
    {{ autoplay_attributes }}
    {{ poster_attribute }}
  ></video>
</figure>

<!-- prettier-ignore -->
{% set btn_video_toggle = ({
  id: id,
  video_type_autoplay: autoplay,
  class: 'video-bg__toggle '~toggle_class~'',
  attributes: toggle_attributes,
  placement: toggle_placement
}) %}
{% include "./btn-video-toggle.njk" %}
