//
// Utility
//

@keyframes classic-link-default {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  20% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 0;
  }
}

@keyframes classic-link-hover {
  0% {
    right: auto;
    left: 0;
    width: 0;
  }
  80% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}
