@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.otf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.otf") format("truetype");
}
