@font-face {
  font-family: "Funnel Display";
  src: url("../fonts/FunnelDisplay-variable.ttf") format("trueType");
  font-weight: 100 900;
  font-display: block; // pre-load font in app head
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
