@font-face {
  font-family: "Funnel Display";
  src: url("../fonts/FunnelDisplay-variable.ttf") format("trueType");
  font-weight: 100 900;
  font-display: block; // pre-load font in app head
}

// For glitch text
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("trueType");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

// Variable Sample
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
