* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);

  & > * {
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }
}

.site-header {
  $logo-text-width: 73px;

  & > * {
    z-index: 5;
    position: fixed;
  }

  .header-logo {
    @include left-spacing;
    top: 56px;
    display: flex;
    align-items: center;
    gap: 12px;
    mix-blend-mode: difference;

    @include mq-max("md") {
      top: 38px;
    }

    &__icon {
      width: 40px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 48px;
      }
    }
  }

  .header-links {
    @include row-center;
    @include right-spacing;
    top: 68px;
    gap: 48px;

    @include mq-max("lg") {
      display: none;
    }

    &__link {
      &:hover,
      &:focus-visible {
        &::after {
          background: var(--font-color--primary);
        }
      }
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mq-max("lg") {
      @include right-spacing;
      top: 74px;
      translate: 0 -50%;
      transition: opacity 0.3s ease;
      mix-blend-mode: difference;
      display: block;
    }

    @include mq-max("md") {
      top: 56px;
    }

    .site-nav-btn {
      $line-offset: 4px;

      width: 28px;
      height: 28px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .site-nav-btn-line-wrapper {
        position: relative;
        transition: 0.2s ease;
      }

      &-line {
        @include absolute-center;
        width: 100%;
        height: 3px;
        border-radius: 12px;
        background: var(--font-color--primary);
        transition: 0.3s ease;

        &:first-of-type {
          translate: -50% calc(-50% - $line-offset);
        }
        &:last-of-type {
          translate: -50% calc(-50% + $line-offset);
        }
      }

      &[aria-expanded="true"] {
        .site-nav-btn-line-wrapper {
          rotate: 45deg;
        }
        .site-nav-btn-line {
          translate: -50% -50%;

          &:last-of-type {
            rotate: 90deg;
          }
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  // &.away-from-top {

  // }

  // &.nav-active {

  // }
}

.site-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: $z-index--nav;

  @include mq-min("lg") {
    display: none;
  }

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    min-height: 768px;
    margin: auto;

    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("sm") {
      min-height: 520px;
    }
  }

  .nav-links,
  .nav-footer-links {
    position: absolute;

    li {
      a {
        font-family: $brand-font--body;
      }
    }
  }

  .nav-links {
    @include left-spacing;
    @include column-start;
    gap: 12px;
    top: 50%;
    translate: 0 -50%;

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }
    }

    .nav-link {
      @include h2;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      translate: 0 100%;
      border-left: 4px solid transparent;
      // transition: 0.2s ease, translate 0.3s ease 0.6s;

      &:hover,
      &:focus-visible {
        padding-left: 24px;
        border-color: var(--primary-accent-color);

        @include mq-max("xxl") {
          padding-left: 16px;
        }
      }
    }
  }

  .nav-footer-links {
    @include left-spacing;
    @include row-center;
    bottom: var(--body-padding);
    gap: 48px;

    @include mq-max("lg") {
      gap: 24px;
    }

    @include mq-max("md") {
      @include column-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      gap: 4px;
    }

    li {
      .nav-footer-link {
        padding: 4px;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        &:hover,
        &:focus-visible {
          border-color: var(--primary-accent-color);
        }
      }
    }
  }

  .social-media-links {
    @include right-spacing;
    position: absolute;
    bottom: var(--body-padding);
  }

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    transition: background 0s ease;

    .nav-links li {
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + $i * 0.16s;
          $delay: 0.2s + $i * 0.04s;

          .nav-link {
            transition: 0.2s ease, translate $transition ease $delay;
          }
        }
      }
    }

    .nav-links,
    .nav-footer-links,
    .nav-social-media {
      opacity: 1;
      pointer-events: all;
      // transition: opacity 0s ease 0.3s;

      .nav-link {
        translate: 0 0;
      }
    }
  }
}

.site-footer {
  @include row-center(space-between);
  gap: 12px;
  position: relative;
  padding: var(--body-padding);

  @media all {
    @include mq-max("lg") {
      justify-content: flex-start;
    }

    @include mq-max("md") {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;

    @include mq-max("lg") {
      left: auto;
      bottom: 0;
      right: var(--body-padding);
      translate: 0 calc(var(--body-padding) * -1);
    }

    @include mq-max("sm") {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    translate: -8px;

    @include mq-max("md") {
      font-size: 12px;
    }
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: $z-index--loader;

  &__text {
    @include h6;
    color: var(--font-color--primary);
  }

  &.load-complete {
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }
}

section {
  @include section-padding;

  &.hero {
    padding-block: 380px;

    @include mq-max("xxl") {
      padding-block: 320px;
    }

    @include mq-max("md") {
      padding-block: 248px;
    }
  }
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label {
  @include body-font-styles;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: $brand-font--body;
  font-size: 12px;
}

img,
video {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

// Components

.cta-1 {
  border: 2px solid var(--font-color--primary);
  border-radius: var(--radius);
  padding: 8px 24px;

  @include mq-max("sm") {
    padding: 10px 20px;
  }
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;
}

.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 24px;
  }

  .social-media-link {
    --link-size: 24px;

    @include row-center;
    width: var(--link-size);
    height: var(--link-size);
    overflow: hidden;
    transition: 0.25s ease;

    &:hover,
    &:focus-visible {
      scale: 1.1;
    }

    &__img {
      background-color: white;
      mask-size: cover;
      mask-position: center;
      width: 100%;
      height: 100%;
    }
  }
}
