* {
  // border: $test;
  margin: 0;
  padding: 0;
  font-family: $brand-font--body;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &::selection {
    background-color: rgba($coral, 1);

    // color: var(--color-font--primary);
    color: var(--color-background);
    stroke-width: 0;
  }

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--color-font--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--color-background);
  color: var(--color-font--primary);
  // padding-block-start: var(--header-height); // layout shift ... lame

  @include mq-motion-allow {
    transition: background $ease; // Library, used for theme toggle
  }

  // &:has(.promo-banner) {
  //   .site-header > * {
  //     transition: top $ease, opacity $ease; // for transition
  //   }
  // }
}

.site-logo {
  --logo-size: 20px; // aspect ration not working as exptected.

  display: block;
  width: var(--logo-size);
  height: var(--logo-size);
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p {
  display: inline;
}

p,
a,
button,
figcaption,
blockquote,
input,
textarea,
label,
li {
  @include font-styles--body;
  text-decoration: none;

  &.body-lg {
    @include font-styles--body(lg);
  }
}

a {
  color: var(--color-link);

  @include desktop-hover {
    color: var(--color-link--hover);
  }
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  // FYI: Dropping below 12px results in a11y pentalty.
  font-family: $brand-font--body;
  font-size: 13px;

  @include mq-max(lg) {
    font-size: 12px;
  }
}

picture {
  @include row-center;
  width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

ul,
menu {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

fieldset {
  border: none;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--color-font--primary);

  &.hr--gradient {
    @include gradient-divider;
  }
}

// Partials

// .hero {

// }

#grid-bg {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  pointer-events: none;

  @include mq-mouse {
    opacity: 0.25;
  }

  @include mq-touch {
    opacity: 0.5;
  }
}

.grid-show {
  @include column-center;
  gap: 24px;
  height: 120vh;

  p {
    max-width: 950px;
    text-align: center;
    text-wrap: balance;
  }
}

// Libary

.style-guide__heading {
  margin-block: 48px;
}

ul:has(code),
ol:has(code) {
  code {
    font-size: 14px;
  }
}
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-font--primary);
  background: var(--color-surface--1);
  padding: 4px 8px;
  border-radius: var(--radius--sm);

  @include mq-min(md) {
    white-space: nowrap; // avoid lengthy code strings. Causes overflow scroll.
  }

  &.codearea {
    display: inline-block;
    padding: 12px 16px;
  }
}
