* {
  margin: 0;
  padding: 0;
  font-family: $brand-font--body;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &::selection {
    background-color: rgba($coral, 0.5);

    color: var(--color-font--primary);
    stroke-width: 0;
  }

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--color-font--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--color-background);
  color: var(--color-font--primary);

  .site-header,
  .site-footer,
  section {
    // see util.scss to adjust section width
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: opacity $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }
}

.site-header {
  // No static content here to allow clickthrough
  --children-height: 32px;
  --children-top: var(--body-padding);

  & > * {
    z-index: $z-index--header;
    position: fixed;
    transition: opacity 0.5s ease;
  }

  .header-logo {
    @include left-spacing;
    top: var(--children-top);
    height: var(--children-height);
    aspect-ratio: 1;
  }

  // scoped to header
  .menu-links {
    --links-gap: 36px;

    @include row-start;
    @include right-spacing;
    top: var(--children-top);
    gap: var(--links-gap);
    height: var(--children-height);

    @include mq-max(lg) {
      display: none;
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mq-max(lg) {
      @include right-spacing;
      top: var(--children-top);
      height: var(--children-height);
      display: block;
    }

    // See _nav-btns.scss for variants
  }

  // &--away-from-top {
  //   > * {
  //     @include hide-content;
  //   }
  // }

  &--scrolling-down {
    > * {
      @include hide-content;
    }

    &:focus-within {
      > * {
        @include show-content;
      }
    }
  }

  // &--near-bottom {

  // }

  &--nav-active {
    > * {
      @include show-content;
    }
  }

  &--promo-banner {
    // promo-banner-height var set in js. See promo-banner.js

    --children-top: calc(var(--body-padding) + var(--promo-banner-height));

    > * {
      transition: top $ease, opacity $ease;
    }

    // &.site-header--away-from-top {
    //   --children-top: var(--body-padding);
    // }
  }

  .skip-to-content {
    position: fixed;
    top: -40px;
    left: 0;
    background: var(--color-background);
    color: var(--color-font--primary);
    padding: 8px;
    z-index: 10;
    transition: top 0.3s ease;

    &:focus {
      top: 0;
    }

    @include mq-max(xl) {
      display: none;
    }
  }
}

.site-nav {
  @include hide-content;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  z-index: $z-index--nav;

  transition: $ease, width 0s, height 0s;

  @include mq-min(lg) {
    display: none;
  }

  .width-constraint {
    @include column-start;
    gap: 24px; // minimum gap in case they start to hug

    position: relative;
    max-width: $content-width;
    height: 100dvh;
    min-height: 768px;
    margin: auto;
    padding: var(--body-padding);

    @include mq-max(xxl) {
      min-height: 640px;
    }

    @include mq-max(sm) {
      min-height: 520px;
    }
  }

  // scoped to nav
  .menu-links {
    @include column-start;
    gap: 12px;
    margin-block: 40vh auto;

    @include mq-max(sm) {
      margin-block: 32vh auto;
    }
  }

  &__footer {
    @include row-center(space-between);
    width: 100%;

    @include mq-max(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--section-gap);
    }

    &-links {
      @include row-center;
      gap: 1ch;

      @include mq-max(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &[aria-hidden="false"] {
    @include show-content;
    background: var(--color-background);
  }
}

.menu-links {
  .menu-links__link,
  .dropdown-link {
    @include mq-max(lg) {
      font-size: 24px;
    }
  }
}

.site-footer {
  @include row-center(space-between);
  gap: 12px;
  position: relative;
  padding: var(--body-padding);

  @media all {
    @include mq-max(lg) {
      justify-content: flex-start;
    }

    @include mq-max(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max(sm) {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;

    @include mq-max(lg) {
      left: auto;
      bottom: 0;
      right: var(--body-padding);
      translate: 0 calc(var(--body-padding) * -1);
    }

    @include mq-max(sm) {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    font-size: 12px;
  }
}

.site-logo {
  height: 36px;
  width: auto;
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100dvh;
  background: var(--color-background);
  z-index: $z-index--loader;

  &__text {
    @include body-font-styles(lg);
    color: var(--color-font--primary);
  }

  &.load-complete {
    @include hide-content;
    transition: 0.5s ease;
  }
}

section {
  @include section-padding;
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p {
  display: inline;
}

p,
a,
button,
figcaption,
blockquote,
input,
textarea,
label,
li {
  @include body-font-styles;
  text-decoration: none;

  &.body-lg {
    @include body-font-styles(lg);
  }
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  // FYI: Dropping below 12px results in a11y pentalty.
  font-family: $brand-font--body;
  font-size: 13px;

  @include mq-max(lg) {
    font-size: 12px;
  }
}

picture {
  @include row-center;
  width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

ul,
menu {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--color-font--primary);
}

// Partials

// .hero {

// }

// Libary

.style-guide {
  margin-block: 64px;
}

ul:has(code),
ol:has(code) {
  li {
    font-size: 14px;
  }
}
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-font--primary);
  background: var(--color-surface--1);
  padding: 4px 8px;
  border-radius: var(--radius--sm);
  // white-space: nowrap;
}

#grid-bg {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;

  @include mq-mouse {
    opacity: 0.25;
  }

  @include mq-touch {
    opacity: 0.5;
  }
}

.grid-show {
  @include column-center;
  gap: 24px;
  height: 120vh;

  p {
    max-width: 950px;
    text-align: center;
    text-wrap: balance;
  }
}
