* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $brand-font-family-body;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);

  & > * {
    max-width: $content-width;
    margin: auto;
  }
}

header {
  $logo-text-width: 73px;

  & > * {
    z-index: 5;
    position: fixed;
  }

  .header-logo {
    @include left-spacing;
    top: 56px;
    display: flex;
    align-items: center;
    gap: 12px;
    mix-blend-mode: difference;

    @include mq-min("xxxl") {
      left: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("md") {
      top: 38px;
    }

    &__icon {
      width: 40px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 48px;
      }
    }

    .logo-text {
      width: $logo-text-width;
      height: 20px;
      object-fit: cover;
      object-position: left;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        scale: 0.8;
        transform-origin: left;
      }
    }
  }

  .header-links {
    @include row-center;
    @include right-spacing;
    top: 68px;
    gap: 48px;
    transition: 0.3s ease 0.1s;

    @include mq-max("lg") {
      display: none;
    }

    &__link {
      &:hover,
      &:focus {
        &::after {
          background: var(--primary-font-color);
        }
      }
    }
  }

  .menu-btn-wrapper {
    display: none;

    @include mq-max("lg") {
      @include right-spacing;
      top: 74px;
      translate: 0 -50%;
      transition: opacity 0.3s ease;
      mix-blend-mode: difference;
      display: block;
    }

    @include mq-max("md") {
      top: 56px;
    }

    .menu-btn {
      // border: 1px solid white;
      width: 28px;
      height: 28px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .menu-btn-line-wrapper {
        // border: $test;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        transition: 0.2s ease;
      }

      &-line {
        width: 32px;
        height: 3px;
        background: $white;
        transition: 0.3s ease;
      }

      &.menu-active {
        opacity: 1;
        pointer-events: all;

        .menu-btn-line-wrapper {
          rotate: 45deg;
          gap: 0;

          .menu-btn-line:first-of-type {
            translate: 0 1.5px;
          }
          .menu-btn-line:last-of-type {
            translate: 0 -1.5px;
            rotate: 90deg;
          }
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  &.scroll-active {
    .header-logo {
      .logo-text {
        width: 0px;
      }
    }
  }

  &.menu-active {
    .header-logo {
      .logo-text {
        width: $logo-text-width;
        transition: 0.2s ease 0.65s;
      }
    }

    // .menu-btn-wrapper {
    //   opacity: 1;
    //   pointer-events: all;
    // }
  }
}

nav {
  display: none;
  position: fixed;
  top: 0;
  // background: transparent;
  background: navy;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  // transition: background 0s ease 0.4s, opacity 0s ease 0.75s;

  @include mq-max("lg") {
    display: block;
  }

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    min-height: 768px;
    margin: auto;

    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("sm") {
      min-height: 520px;
    }
  }

  .nav-links,
  .nav-footer-links,
  .nav-social-media {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    // user-select: none;
    // transition: opacity 0s ease 0.3s;

    li {
      a {
        font-family: $brand-font-family-body;
      }
    }
  }

  .nav-links {
    @include left-spacing;
    @include column-start;
    gap: 12px;
    top: 50%;
    translate: 0 -50%;

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }
    }

    .nav-link {
      @extend .h2;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      translate: 0 100%;
      border-left: 4px solid transparent;
      // transition: 0.2s ease, translate 0.3s ease 0.6s;

      &:hover,
      &:focus {
        padding-left: 24px;
        border-color: var(--primary-accent-color);

        @include mq-max("xxl") {
          padding-left: 16px;
        }
      }
    }
  }

  .nav-footer-links {
    @include left-spacing;
    @include row-center;
    bottom: $body-padding;
    gap: 48px;

    @include mq-max("lg") {
      gap: 24px;
    }

    @include mq-max("md") {
      @include column-start;
      gap: 12px;
      bottom: $body-padding-xxl;
    }

    @include mq-max("sm") {
      gap: 4px;
      bottom: $body-padding-md;
    }

    li {
      .nav-footer-link {
        padding: 4px;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        &:hover,
        &:focus {
          border-color: var(--primary-accent-color);
        }
      }
    }
  }

  .nav-social-media {
    @include right-spacing;
    bottom: $body-padding;
    left: unset;

    @include mq-max("lg") {
      translate: 0 4px;
    }

    @include mq-max("md") {
      bottom: $body-padding-md;
      translate: 0 -12px;
    }

    @include mq-max("sm") {
      translate: 0 0;
    }
  }

  .nav-abstract {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 0px;
    background: $black;
    animation: nav-abstract-default 0.75s ease 0s forwards;
  }

  &.menu-active {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    transition: background 0s ease;

    .nav-abstract {
      animation: nav-abstract-open 0.75s ease 0s forwards;
    }

    .nav-links {
      @for $i from 2 through 10 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + ($i - 2) * 0.2s;
          $delay: 0.65s + ($i - 2) * 0.05s;

          // .nav-link {
          //   transition: 0.2s ease, translate $transition ease $delay;
          // }
        }
      }
    }

    .nav-links,
    .nav-footer-links,
    .nav-social-media {
      opacity: 1;
      pointer-events: all;
      // transition: opacity 0s ease 0.3s;

      .nav-link {
        translate: 0 0;
      }
    }
  }
}

section {
  @include section-padding;
}

footer {
  padding: $body-padding;
  position: relative;
  @include row-center(space-between);

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(calc(-50% - 6px), 50%);
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include mq-max("lg") {
      width: 100%;
      bottom: $body-padding;
      transform: translate(calc(-50% - 6px), 0);
    }

    @include mq-max("md") {
      font-size: 10px;
      transform: translate(calc(-50% - 5.5px), 0);
    }
  }
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

p,
a,
ul {
  color: var(--primary-font-color);
  font-family: $brand-font-family-body;
  font-size: 16px;
  font-weight: 500;

  @include mq-max("xxl") {
    font-size: 14px;
  }

  @include mq-max("xxl") {
    font-size: 12px;
  }
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

// Components

.cta-wrapper {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;

  .cta-1 {
    border: 2px solid var(--primary-font-color);
    padding: 12px 24px;

    @include mq-max("sm") {
      padding: 10px 20px;
    }
  }
}

.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 24px;
  }

  li.magnet {
    transition: 0.4s ease;
  }

  .social-media-link {
    @include row-center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.25s ease;

    @include mq-max("sm") {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus {
      .social-media-icon-wrapper {
        translate: 0 -40%;
      }
    }

    .social-media-icon-wrapper {
      @include column-center;
      gap: 24px;
      translate: 0 36%;
      transition: 0.25s ease;

      .social-media-icon {
        path {
          fill: var(--primary-font-color);
        }
      }
    }
  }
}
