* {
  margin: 0;
  padding: 0;
  font-family: $brand-font--body;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &::selection {
    background-color: rgba($coral, 0.5);

    color: var(--color-font--primary);
    stroke-width: 0;
  }

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--color-font--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--color-background);
  color: var(--color-font--primary);

  // .site-header,
  .site-footer,
  section {
    // see util.scss to adjust section width
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: opacity $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }

  &:has(.promo-banner) {
    .site-header > * {
      transition: top $ease, opacity $ease; // for transition
    }
  }
}

.site-footer {
  @include row-center(space-between);
  gap: 12px;
  position: relative;
  padding: var(--body-padding);

  @media all {
    @include mq-max(lg) {
      justify-content: flex-start;
    }

    @include mq-max(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max(sm) {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;

    @include mq-max(lg) {
      left: auto;
      bottom: 0;
      right: var(--body-padding);
      translate: 0 calc(var(--body-padding) * -1);
    }

    @include mq-max(sm) {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    font-size: 12px;
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100dvh;
  background: var(--color-background);
  z-index: $z-index--loader;

  &__text {
    @include body-font-styles(lg);
    color: var(--color-font--primary);
  }

  &.load-complete {
    @include hide-content;
    transition: 0.5s ease;
  }
}

section {
  @include section-padding;
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p {
  display: inline;
}

p,
a,
button,
figcaption,
blockquote,
input,
textarea,
label,
li {
  @include body-font-styles;
  text-decoration: none;

  &.body-lg {
    @include body-font-styles(lg);
  }
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  // FYI: Dropping below 12px results in a11y pentalty.
  font-family: $brand-font--body;
  font-size: 13px;

  @include mq-max(lg) {
    font-size: 12px;
  }
}

picture {
  @include row-center;
  width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

ul,
menu {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--color-font--primary);
}

// Partials

// .hero {

// }

// Libary

.style-guide {
  margin-block: 64px;
}

ul:has(code),
ol:has(code) {
  li {
    font-size: 14px;
  }
}
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-font--primary);
  background: var(--color-surface--1);
  padding: 4px 8px;
  border-radius: var(--radius--sm);
  // white-space: nowrap;
}

#grid-bg {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;

  @include mq-mouse {
    opacity: 0.25;
  }

  @include mq-touch {
    opacity: 0.5;
  }
}

.grid-show {
  @include column-center;
  gap: 24px;
  height: 120vh;

  p {
    max-width: 950px;
    text-align: center;
    text-wrap: balance;
  }
}
