//
// Media Queries
//

$max-breakpoints: (
  "xs": 390px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1512px,
  "xxxl": 1920px,
);

@mixin mq-max($breakpoint) {
  $value: map-get($max-breakpoints, $breakpoint);
  @media screen and (max-width: $value) {
    @content;
  }
}

$min-breakpoints: (
  "xs": 391px,
  "sm": 481px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1201px,
  "xxl": 1513px,
  "xxxl": 1921px,
);

@mixin mq-min($breakpoint) {
  $value: map-get($min-breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

// Users that prefer dark theme
@mixin mq-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Users on tables and smart phones
@mixin mq-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// Users on computers and laptops
@mixin mq-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Users that don't mind animations (motion)
@mixin mq-motion-allow {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Users that are sensitive to motion. Use this to remove animations.
@mixin mq-motion-reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

//
// Site Scaffolding
//

@mixin section-padding($thin: false) {
  @if $thin {
    border: $test;
    padding: 256px 148px;
  } @else {
    padding: 196px 128px;
  }

  @include mq-max("xxl") {
    @if $thin {
      padding: 228px 148px;
    } @else {
      padding: 148px 96px;
    }
  }

  @include mq-max("md") {
    @if $thin {
      padding: 128px 96px;
    } @else {
      padding: 96px 48px;
    }
  }

  @include mq-max("sm") {
    @if $thin {
      padding: 128px 96px;
    } @else {
      padding: 96px 12px;
    }
  }
}

// header logo, nav items
@mixin left-spacing {
  left: $body-padding;

  @include mq-min("xxxl") {
    left: calc(50% - calc($content-width / 2) + $body-padding);
  }

  @include mq-max("xxl") {
    left: $body-padding-xxl;
  }

  @include mq-max("md") {
    left: $body-padding-md;
  }
}

// header menu button, nav social items
@mixin right-spacing {
  right: $body-padding;

  @include mq-min("xxxl") {
    right: calc(50% - calc($content-width / 2 - $body-padding));
  }

  @include mq-max("xxl") {
    right: $body-padding-xxl;
  }

  @include mq-max("md") {
    right: $body-padding-md;
  }
}

//
// Heading Styles
//

@mixin heading($size, $size-xxl, $size-lg, $size-md, $size-sm) {
  font-family: $brand-font-family-heading;
  font-size: $size;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;

  @include mq-max("xxl") {
    font-size: $size-xxl;
  }

  @include mq-max("lg") {
    font-size: $size-lg;
  }

  @include mq-max("md") {
    font-size: $size-md;
  }

  @include mq-max("sm") {
    font-size: $size-sm;
  }
}

// Hero & Prefooter
.h1 {
  @include heading(96px, 6vw, 6vw, 8vw, 32px);
  -webkit-text-stroke-color: var(--primary-font-color);
  -webkit-text-stroke-width: 2px;
}

// Section Title Only
.h2 {
  // @include heading(64px, 56px, 40px, 12px);
  @include heading(64px, 4.4vw, 4.4vw, 6.4vw, 32px);
}

// Text Block Partial & Image Slider
.h3 {
  @include heading(48px, 3vw, 3vw, 24px, 20px);
  font-weight: 700;
}

// Services & Prices
.h4 {
  @include heading(36px, 2vw, 2.8vw, 3.8vw, 12px);
  font-weight: 400;
}

// Price Card Title Only
.h5 {
  @include heading(40px, 32px, 32px, 12px, 12px);
}

// FAQ Accordion Question Only
.h6 {
  @include heading(32px, 20px, 20px, 12px, 12px);
  font-weight: 600;
}

@mixin body-font-styles {
  color: var(--primary-font-color);
  font-family: $brand-font-family-body;
  font-size: 16px;
  font-weight: 400;

  @include mq-max("xxl") {
    font-size: 14px;
  }
}

//
// Flex Layout
//

@mixin row-center($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin row-start($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin row-end($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin column-center($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
}

@mixin column-start($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin column-end($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
