//
// Media Queries
//

$max-breakpoints: (
  "xs": 390px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1512px,
  "xxxl": 1920px,
);

@mixin mq-max($breakpoint) {
  $value: map-get($max-breakpoints, $breakpoint);
  @media screen and (max-width: $value) {
    @content;
  }
}

$min-breakpoints: (
  "xs": 391px,
  "sm": 481px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1201px,
  "xxl": 1513px,
  "xxxl": 1921px,
);

@mixin mq-min($breakpoint) {
  $value: map-get($min-breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

// Users that prefer dark theme
@mixin mq-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Users on tables and smart phones
@mixin mq-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// Users on computers and laptops
@mixin mq-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Users that don't mind animations (motion)
@mixin mq-motion-allow {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Users that are sensitive to motion. Use this to remove animations.
@mixin mq-motion-reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

// Removes hover state on mobile. Covers hover/focus for desktop
@mixin desktop-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      @content;
    }
  }
}

//
// Site Scaffolding
//

@mixin section-padding($type: "regular") {
  padding-inline: var(--body-padding);

  @if $type == "thin" {
    @include mq-min("lg") {
      padding-inline: calc(var(--body-padding) * 4);
    }
  }
}

@mixin left-spacing {
  left: var(--body-padding);

  @include mq-min("xxxl") {
    left: calc(50% - calc($content-width / 2) + var(--body-padding));
  }
}

@mixin right-spacing {
  right: var(--body-padding);

  @include mq-min("xxxl") {
    right: calc(50% - calc($content-width / 2 - var(--body-padding)));
  }
}

//
// Typography, check ultra wide & small screens.
// FYI: Dropping below 12px results in a11y pentalty.
//

@mixin h1 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;

  @include mq-max("xxl") {
    font-size: max(61.5px, 6vw);
  }
}
@mixin h2 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;

  @include mq-max("xxl") {
    font-size: max(49.2px, 4.8vw);
  }
}
@mixin h3 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 52px;

  @include mq-max("xxl") {
    font-size: max(39px, 3.8vw);
  }
}
@mixin h4 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 36px;

  @include mq-max("xxl") {
    font-size: max(28.7px, 2.8vw);
  }
}
@mixin h5 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 32px;

  @include mq-max("xxl") {
    font-size: max(24.5px, 2.4vw);
  }
}
@mixin h6 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 24px;

  @include mq-max("xxl") {
    font-size: max(18px, 2vw);
  }
}

@mixin body-font-styles {
  color: var(--font-color--primary);
  font-family: $brand-font--body;
  font-size: 18px;
  font-weight: 400;

  @include mq-max("xxl") {
    font-size: 16px;
  }

  @include mq-max("md") {
    font-size: 14px;
  }
}

//
// Flex Layout
//

@mixin row-center($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin row-start($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin row-end($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin column-center($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
}

@mixin column-start($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin column-end($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
