.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-font-color);
    animation: classic-link-default $cubic-ease-sudden forwards;

    @include mq-motion-allow {
      animation-duration: 0.64s;
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      animation: classic-link-hover $cubic-ease-sudden forwards;
      @include mq-motion-allow {
        animation-duration: 0.64s;
      }
    }
  }
}

.classic-list {
  list-style: initial;
}

//
// Media Query Utility // Be mindful these may not work well with screen readers
//

@media all {
  .lg-screen-and-up {
    display: none;

    @include mq-min("lg") {
      display: flex; // Flex for cta-wrapper
    }
  }

  .lg-screen-and-below {
    display: none;

    @include mq-max("lg") {
      display: flex;
    }
  }

  .md-screen-and-up {
    display: none;

    @include mq-min("md") {
      display: flex;
    }
  }

  .md-screen-and-below {
    display: none;

    @include mq-max("md") {
      display: flex;
    }
  }

  .sm-screen-and-up {
    display: none;

    @include mq-min("sm") {
      display: flex;
    }
  }

  .sm-screen-and-below {
    display: none;

    @include mq-max("sm") {
      display: flex;
    }
  }
}
