.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
