.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 1px;
    background-color: var(--font-color--primary);

    @include mq-motion-allow {
      transition: 0.32s ease;
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      width: 0;
      left: auto;
      right: 0;
    }
  }
}

.classic-list {
  list-style: initial;
}

// Library

.magnet {
  transition: translate 0.8s $cubic-ease-slow-finish;
}

.fill-text {
  display: inline; // for fill line-wrap
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#fff, #fff);
  -webkit-text-fill-color: rgb(255 255 255 / 50%);
  // filter: drop-shadow(0 0 1px grey); // optional for readability
}

//
// Media Query Utility // Be mindful to use aria-hidden to avoid a break in speech.
//

@media all {
  .lg-screen-and-up {
    display: none;

    @include mq-min("lg") {
      display: flex; // Flex for cta-group
    }
  }

  .lg-screen-and-below {
    display: none;

    @include mq-max("lg") {
      display: flex;
    }
  }

  .md-screen-and-up {
    display: none;

    @include mq-min("md") {
      display: flex;
    }
  }

  .md-screen-and-below {
    display: none;

    @include mq-max("md") {
      display: flex;
    }
  }

  .sm-screen-and-up {
    display: none;

    @include mq-min("sm") {
      display: flex;
    }
  }

  .sm-screen-and-below {
    display: none;

    @include mq-max("sm") {
      display: flex;
    }
  }
}

//
// CMS Tokens
//

@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
  }

  .underline {
    text-decoration: underline;
  }
}
