.section-thin {
  @include section-padding(thin);
}

.classic-link {
  position: relative;

  @include mq-motion-allow {
    transition: $ease;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    @include mq-motion-allow {
      transition: $ease;
    }
  }

  @include desktop-hover {
    color: var(--color-brand--primary);

    &::before {
      width: 0;
      left: auto;
      right: 0;
    }
  }
}

.classic-list {
  @include column-start;
  gap: 0.5ch;

  li {
    margin-inline: 1.8ch;
  }

  &:is(ul) {
    li {
      list-style-type: circle;
    }
  }
}

.mask-icon {
  @include mask-image();
}

.sr-only {
  @include sr-only;
}

// Form Submit & 404 pages
.hero-alert {
  @include full-viewport-section;
  @include column-center;

  &__title {
    margin-block-end: 24px;
    text-align: center;
  }

  &__desc {
    margin-block-end: 48px;
    max-width: 750px;
    text-align: center;
    text-wrap: balance;
  }
}

// Library
@media all {
  .pin-steps {
    @include hide-content;
    @include column-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;

    .pin-step {
      background: linear-gradient(180deg, $coral, $black);
      flex: 1;
      width: 100%;
    }
  }

  .fill-text,
  .fill-text-hover {
    @include fill-text;

    &:is(.fill-text-hover) {
      background-size: 0%;
      // -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
      transition: $ease;

      @include desktop-hover {
        background-size: 100%;
      }
    }
  }

  .glitch-text {
    max-width: var(--content-width); // Prevent overflow
  }

  .glitch-hover,
  [class*="glitch-target__"] {
    white-space: nowrap;
  }

  .glitch-hover {
    overflow: hidden;
  }

  .gradient-border {
    @include gradient-border;
    padding: 24px;
    border-radius: 16px;
  }

  .grid-fade {
    position: relative;

    .grid-fade__overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      pointer-events: none;

      &--tile {
        // min-width controlled via javascript/config
        // border: $test;
        // opacity: 1 !important;
        flex: 1;
        background: var(--color-background);
        // transition: $ease;
        transition: 0.5s ease;
      }

      &.full-viewport {
        left: 50%;
        translate: -50% 0;
        width: 100vw;
        height: 100vh;
      }
    }
  }

  .magnet {
    transition: $magnet;
  }

  .typing-cycle,
  .typing-scroll {
    .typing-text-cursor {
      animation: typing-flicker 1s infinite;
    }

    @keyframes typing-flicker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  .icon-md {
    width: 20px;
    height: 20px;
  }

  .icon-sm {
    width: 16px;
    height: 16px;
  }

  .library-section {
    // library section styles - Doesn't work with Swiper or Fill-text sections
    @include column-start;
    gap: 24px;

    .tilt-card-group {
      @include row-start;
      flex-wrap: wrap;
      gap: 24px;
      width: 100%;
      overflow: hidden;
      padding: var(--spacing--lg);

      .tilt-card {
        @include column-start;
        aspect-ratio: 1 / 1.25;
        max-width: 450px;
        border-radius: var(--radius);
        background: var(--color-surface--1);
        padding: var(--spacing);
        flex: 1 1 320px;

        @include mq-max(md) {
          width: 100%;
        }

        .cta-group {
          margin-top: auto;
        }

        &--3d {
          @include desktop-hover {
            transform-style: preserve-3d;
            perspective: 1000px;

            h3,
            p,
            ol,
            .cta-group {
              transform: translateZ(20px); // higher value for more pop.
            }
          }

          h3,
          p,
          ol,
          .cta-group {
            transition: 0.3s ease !important;
          }
        }
      }
    }
  }
}

// Media Query Utility, be mindful of flex vs block
@media all {
  .xxl-up {
    display: none;

    @include mq-min(xxl) {
      display: block;
    }
  }

  .xxl-down {
    display: none;

    @include mq-max(xxl) {
      display: block;
    }
  }

  .xl-up {
    display: none;

    @include mq-min(xl) {
      display: block;
    }
  }

  .xl-down {
    display: none;

    @include mq-max(xl) {
      display: block;
    }
  }

  .lg-up {
    display: none;

    @include mq-min(lg) {
      display: block;
    }
  }

  .lg-down {
    display: none;

    @include mq-max(lg) {
      display: block;
    }
  }

  .md-up {
    display: none;

    @include mq-min(md) {
      display: block;
    }
  }

  .md-down {
    display: none;

    @include mq-max(md) {
      display: block;
    }
  }

  .sm-up {
    display: none;

    @include mq-min(sm) {
      display: block;
    }
  }

  .sm-down {
    display: none;

    @include mq-max(sm) {
      display: block;
    }
  }
}

// CMS Tokens
@media all {
  .color-primary {
    color: var(--color-brand--primary);
  }
  .color-secondary {
    color: var(--hero-color--secondary);
  }

  .text-balance {
    text-wrap: balance;
  }
  .text-glow {
    filter: drop-shadow(0px 0px 6px #fff);
  }
  .text-stroke {
    -webkit-text-stroke: 1px var(--color-font--primary);
    color: transparent;
    font-weight: 500; // slightly above regular
  }

  .text-underline {
    text-decoration: underline;
  }

  .text-italic {
    font-style: italic;
  }

  // font-size util
  @for $i from 12 through 96 {
    .fs-#{$i} {
      font-size: #{$i}px;
    }
  }

  // font-weight util
  $font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

  @each $weight in $font-weights {
    .fw-#{$weight} {
      font-weight: $weight;
    }
  }
  .text-thin,
  .text-hairline {
    font-weight: 100;
  }
  .text-extra-light,
  .text-ultra-light {
    font-weight: 200;
  }
  .text-light {
    font-weight: 300;
  }
  .text-normal,
  .text-regular {
    font-weight: 400;
  }
  .text-medium {
    font-weight: 500;
  }
  .text-semi-bold,
  .text-demi-bold {
    font-weight: 500;
  }
  .text-bold {
    font-weight: 700;
  }
  .text-extra-bold,
  .text-ultra-bold {
    font-weight: 800;
  }
  .text-black,
  .text-heavy {
    font-weight: 900;
  }

  // margin util
  $min: -128;
  $max: 128;
  $step: 2;

  $directions: (
    "": "",
    "t": "block-start",
    "r": "inline-end",
    "b": "block-end",
    "l": "inline-start",
    "x": "x",
    "y": "y",
  );

  @for $i from $min through $max {
    @if ($i % $step == 0) {
      @each $suffix, $dir in $directions {
        $absValue: abs($i);
        $neg: if($i < 0, "-", "");
        $name: "m#{$suffix}#{$neg}#{$absValue}";

        @if $dir == "" {
          .#{$name} {
            margin: #{$i}px;
          }
        } @else if $dir == "x" {
          .#{$name} {
            margin-left: #{$i}px;
            margin-right: #{$i}px;
          }
        } @else if $dir == "y" {
          .#{$name} {
            margin-top: #{$i}px;
            margin-bottom: #{$i}px;
          }
        } @else {
          .#{$name} {
            margin-#{$dir}: #{$i}px;
          }
        }
      }
    }
  }
}
