.classic-link {
  position: relative;

  @include mq-motion-allow {
    transition: $ease;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    @include mq-motion-allow {
      transition: $ease;
    }
  }

  @include desktop-hover {
    color: var(--hero-color--primary);

    &::before {
      width: 0;
      left: auto;
      right: 0;
    }
  }
}

.classic-list {
  list-style: initial;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Library
@media all {
  .magnet {
    transition: $magnet;
  }

  .fill-text,
  .fill-text-hover {
    display: inline; // for fill line-wrap
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#fff, #fff);
    -webkit-text-fill-color: rgb(255 255 255 / 25%);
    // filter: drop-shadow(0 0 1px grey); // optional for readability

    &:is(.fill-text-hover) {
      background-size: 0%;
      -webkit-text-fill-color: rgb(255 255 255 / 50%);
      transition: 0.5s ease;

      @include desktop-hover {
        background-size: 100%;
      }
    }
  }
}

// Media Query Utility, be mindful of flex vs block
@media all {
  .lg-up {
    display: none;

    @include mq-min("lg") {
      display: block;
    }
  }

  .lg-down {
    display: none;

    @include mq-max("lg") {
      display: block;
    }
  }

  .md-up {
    display: none;

    @include mq-min("md") {
      display: block;
    }
  }

  .md-down {
    display: none;

    @include mq-max("md") {
      display: block;
    }
  }

  .sm-up {
    display: none;

    @include mq-min("sm") {
      display: block;
    }
  }

  .sm-down {
    display: none;

    @include mq-max("sm") {
      display: block;
    }
  }
}

// CMS Tokens
@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
    font-weight: 500; // slightly above regular
  }

  .underline {
    text-decoration: underline;
  }

  .color-primary {
    color: var(--hero-color--primary);
  }
  .color-secondary {
    color: var(--hero-color--secondary);
  }
}
