$brand-font--heading: "Satoshi", source-sans-pro, sans-serif;
$brand-font--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif; // If not using a 'Modern font stack' just have one fallback

$black: #0a0a0a;
$grey-dark: #313131;
$grey-light: #c0c0c0;
$white: #fefefe;

$content-width: 1920px;

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--loader: 5;
$z-index--mouse-cursor: 6; // Library

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.24s ease;
$ease-c: 0.64s $cubic-ease;

// Library
// $magnet: translate 2.5s $cubic-ease-back-strong;
$magnet: translate 0.025s ease-in;

// Debugging
$test: 2px dashed rgba(yellow, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --background-color: #{$black};
  --font-color--primary: #{$white};
  --font-color--secondary: #{$grey-light};

  --font-family--heading: #{$brand-font--heading};
  --font-family--body: #{$brand-font--body};

  --link-color: #{$grey-light};
  --link-color-hover: #{$white};

  --content-width: #{$content-width};
  --body-padding: 64px;
  --body-padding-double: calc(var(--body-padding) * 2);

  --section-gap: 24px;
  --section-gap--lg: 64px;

  --border-bold-girth: 2px;
  --border-bold-color: #{$grey-light};

  --radius: 24px;
  --radius-btn: 4px;

  @media (max-width: 1512px) {
    --body-padding: 48px;
  }

  @media (max-width: 1024px) {
    --body-padding: 24px;
    --section-gap--lg: 24px;
  }
}

// If you add a dark/light theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #{$black};
//     --font-color--primary: #{$white};
//   }
// }

// Library
:root {
  --carousel-snap-gap: 24px;
}
