// $brand-font--heading: "Satoshi", source-sans-pro, sans-serif;
// $brand-font--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif; // If not using a 'Modern font stack' just have one fallback
$brand-font--heading: "Funnel Display", source-sans-pro, sans-serif;
$brand-font--body: "Funnel Display", source-sans-pro, sans-serif;

$black: #0a0a0a;
$grey-dark: #313131;
$grey-light: #c0c0c0;
$white: #fefefe;

$coral: #e48c66;
$blue: #007bff;
$red: #dc143c;

$content-width: 1920px; // Be mindful of media query breakpoints with left/right spacing

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--loader: 5;
$z-index--video-overlay: 6; // Library
$z-index--mouse-cursor: 7; // Library

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.24s ease;
$ease-c: 0.64s $cubic-ease;

// Library
$magnet: transform 0.5s $cubic-ease;
// $magnet: transform 0.64s $cubic-ease-back-strong;

// Debugging
$test: 2px dashed rgba(yellow, 0.75);
$test-bg: rgba(navy, 0.75);

@mixin light-theme {
  --color-background: #{$white};
  --color-font--primary: #{$black};
  --color-font--secondary: #{$grey-light};
  --color-font--error: #{$red};

  --color-brand--primary: #{$coral};

  // --color-btn-2-bg: var(--color-brand--primary);
  --color-btn-2-text: #{$black};
  // --color-btn-2-border: transparent;
  // --color-btn-2-bg--hover: transparent;
  --color-btn-2-text--hover: var(--color-brand--primary);
  // --color-btn-2-border--hover: transparent;

  --link-color: #{$grey-light};
  --link-color--hover: #{$white};

  --border-color--bold: #{$grey-light};
}

@mixin dark-theme {
  --color-background: #{$black};
  --color-font--primary: #{$white};

  --color-btn-2-text: #{$white};

  --border-color--bold: #{$grey-light};
}

:root {
  --color-brand--primary: #{$coral}; // Consistent across themes

  --font-family--heading: #{$brand-font--heading};
  --font-family--body: #{$brand-font--body};

  --content-width: #{$content-width};

  --body-padding: 64px;
  --body-padding-double: calc(var(--body-padding) * 2);

  --color-btn-bg: var(--color-brand--primary);
  --color-btn-text: #{$white};
  --color-btn-border: var(--color-btn-bg);
  --color-btn-bg--hover: transparent;
  --color-btn-text--hover: var(--color-brand--primary);
  --color-btn-border--hover: var(--color-brand--primary);

  --btn-padding: 8px 16px;

  --section-gap: 24px;
  --section-gap--lg: 64px;

  --border-width--btn: 1px;
  --border-width--bold: 2px;

  --radius: 24px;
  --radius-btn: 4px;

  @media (max-width: 1512px) {
    --body-padding: 48px;
  }

  @media (max-width: 1024px) {
    --body-padding: 24px;
    --section-gap--lg: 24px;
  }
}

// Library (themes and component vars)
html[data-theme="dark"] {
  @include dark-theme;
}

html[data-theme="light"] {
  @include light-theme;
}

:root {
  --carousel-snap-gap: 24px;
}
