:root {
  --background-color: #0a0a0a;
  --font-color--primary: #fefefe;
  --font-color--secondary: #c0c0c0;
  --font-family--heading: Satoshi, source-sans-pro, sans-serif;
  --font-family--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  --link-color: #c0c0c0;
  --link-color-hover: #fefefe;
  --content-width: 1920px;
  --body-padding: 64px;
  --radius: 48px;
}
@media (max-width: 1512px) {
  :root {
    --body-padding: 48px;
  }
}
@media (max-width: 1024px) {
  :root {
    --body-padding: 40px;
  }
}
@media (max-width: 768px) {
  :root {
    --body-padding: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  display: none;
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);
}
body > * {
  max-width: 1920px;
  margin: auto;
}
body:has(.site-loader) .hero h1,
body:has(.site-loader) .hero p,
body:has(.site-loader) .hero div {
  opacity: 0;
  transition: 1s ease 0.25s;
}
body:has(.site-loader) .hero p {
  transition-delay: 0.325s;
}
body:has(.site-loader) .hero div {
  transition-delay: 0.375s;
}
body:has(.load-complete) .hero h1,
body:has(.load-complete) .hero p,
body:has(.load-complete) .hero div {
  opacity: 1;
}

.site-header > * {
  z-index: 5;
  position: fixed;
}
.site-header .header-logo {
  left: var(--body-padding);
  top: 56px;
  display: flex;
  align-items: center;
  gap: 12px;
  mix-blend-mode: difference;
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + var(--body-padding));
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    top: 38px;
  }
}
.site-header .header-logo__icon {
  width: 40px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo__icon {
    width: 48px;
  }
}
.site-header .header-logo .logo-text {
  width: 73px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo .logo-text {
    scale: 0.8;
    transform-origin: left;
  }
}
.site-header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  right: var(--body-padding);
  top: 68px;
  gap: 48px;
  transition: 0.3s ease 0.1s;
}
@media screen and (min-width: 1921px) {
  .site-header .header-links {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-links {
    display: none;
  }
}
.site-header .header-links__link:hover::after, .site-header .header-links__link:focus-visible::after {
  background: var(--font-color--primary);
}
.site-header .menu-btn-wrapper {
  display: none;
}
@media screen and (max-width: 1024px) {
  .site-header .menu-btn-wrapper {
    right: var(--body-padding);
    top: 74px;
    translate: 0 -50%;
    transition: opacity 0.3s ease;
    mix-blend-mode: difference;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1921px) {
  .site-header .menu-btn-wrapper {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 768px) {
  .site-header .menu-btn-wrapper {
    top: 56px;
  }
}
.site-header .menu-btn-wrapper .menu-btn {
  width: 28px;
  height: 28px;
  transition: 0.2s ease 0s;
}
.site-header .menu-btn-wrapper .menu-btn:hover, .site-header .menu-btn-wrapper .menu-btn:focus-visible {
  scale: 1.1;
}
.site-header .menu-btn-wrapper .menu-btn:active {
  scale: 0.9;
}
.site-header .menu-btn-wrapper .menu-btn .menu-btn-line-wrapper {
  position: relative;
  transition: 0.2s ease;
}
.site-header .menu-btn-wrapper .menu-btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 32px;
  height: 3px;
  background: var(--font-color--primary);
  transition: 0.3s ease;
}
.site-header .menu-btn-wrapper .menu-btn-line:first-of-type {
  translate: -50% calc(-50% - 4px);
}
.site-header .menu-btn-wrapper .menu-btn-line:last-of-type {
  translate: -50% calc(-50% + 4px);
}
.site-header .menu-btn-wrapper .menu-btn[aria-expanded=true] .menu-btn-line-wrapper {
  rotate: 45deg;
}
.site-header .menu-btn-wrapper .menu-btn[aria-expanded=true] .menu-btn-line {
  translate: -50% -50%;
}
.site-header .menu-btn-wrapper .menu-btn[aria-expanded=true] .menu-btn-line:last-of-type {
  rotate: 90deg;
}
.site-header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
.site-header.away-from-top .header-logo .logo-text {
  width: 0px;
}
.site-header.nav-active .header-logo .logo-text {
  width: 73px;
  transition: 0.2s ease 0.65s;
}

.site-nav {
  position: fixed;
  top: 0;
  background: navy;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
}
@media screen and (min-width: 1025px) {
  .site-nav {
    display: none;
  }
}
.site-nav .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  height: 100dvh;
  min-height: 768px;
  margin: auto;
}
@media screen and (max-width: 1512px) {
  .site-nav .width-constraint {
    min-height: 640px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .width-constraint {
    min-height: 520px;
  }
}
.site-nav .nav-links,
.site-nav .nav-footer-links,
.site-nav .nav-social-media {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.site-nav .nav-links li a,
.site-nav .nav-footer-links li a,
.site-nav .nav-social-media li a {
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
}
.site-nav .nav-links {
  left: var(--body-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  top: 50%;
  translate: 0 -50%;
}
@media screen and (min-width: 1921px) {
  .site-nav .nav-links {
    left: calc(50% - 960px + var(--body-padding));
  }
}
.site-nav .nav-links li {
  display: flex;
  overflow: hidden;
}
.site-nav .nav-links li:focus-within {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(35, 83, 193, 0.75), 0 0 0 5px rgba(255, 255, 255, 0.75);
}
.site-nav .nav-links .nav-link {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 100%;
  height: 100%;
  translate: 0 100%;
  border-left: 4px solid transparent;
}
@media screen and (max-width: 1512px) {
  .site-nav .nav-links .nav-link {
    font-size: max(49.2px, 4.8vw);
  }
}
.site-nav .nav-links .nav-link:hover, .site-nav .nav-links .nav-link:focus-visible {
  padding-left: 24px;
  border-color: var(--primary-accent-color);
}
@media screen and (max-width: 1512px) {
  .site-nav .nav-links .nav-link:hover, .site-nav .nav-links .nav-link:focus-visible {
    padding-left: 16px;
  }
}
.site-nav .nav-footer-links {
  left: var(--body-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--body-padding);
  gap: 48px;
}
@media screen and (min-width: 1921px) {
  .site-nav .nav-footer-links {
    left: calc(50% - 960px + var(--body-padding));
  }
}
@media screen and (max-width: 1024px) {
  .site-nav .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .site-nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-footer-links {
    gap: 4px;
  }
}
.site-nav .nav-footer-links li .nav-footer-link {
  padding: 4px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
.site-nav .nav-footer-links li .nav-footer-link:hover, .site-nav .nav-footer-links li .nav-footer-link:focus-visible {
  border-color: var(--primary-accent-color);
}
.site-nav .nav-social-media {
  right: var(--body-padding);
  bottom: var(--body-padding);
  left: unset;
}
@media screen and (min-width: 1921px) {
  .site-nav .nav-social-media {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 1024px) {
  .site-nav .nav-social-media {
    translate: 0 4px;
  }
}
@media screen and (max-width: 768px) {
  .site-nav .nav-social-media {
    translate: 0 -12px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-social-media {
    translate: 0 0;
  }
}
.site-nav[aria-hidden=false] {
  opacity: 1;
  pointer-events: all;
  background: var(--background-color);
  transition: background 0s ease;
}
.site-nav[aria-hidden=false] .nav-links,
.site-nav[aria-hidden=false] .nav-footer-links,
.site-nav[aria-hidden=false] .nav-social-media {
  opacity: 1;
  pointer-events: all;
}
.site-nav[aria-hidden=false] .nav-links .nav-link,
.site-nav[aria-hidden=false] .nav-footer-links .nav-link,
.site-nav[aria-hidden=false] .nav-social-media .nav-link {
  translate: 0 0;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  padding: var(--body-padding);
}
@media screen and (max-width: 1024px) {
  .site-footer {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .site-footer {
    padding-block-end: 48px;
  }
}
.site-footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  translate: calc(-50% - 6px) 50%;
}
@media screen and (max-width: 1024px) {
  .site-footer .copyright {
    left: auto;
    bottom: 0;
    right: var(--body-padding);
    translate: 0 calc(var(--body-padding) * -1);
  }
}
@media screen and (max-width: 480px) {
  .site-footer .copyright {
    position: static;
    order: 1;
    translate: 0 0;
  }
}
.site-footer .return-to-top,
.site-footer .axys-link {
  translate: -8px;
}
@media screen and (max-width: 768px) {
  .site-footer .return-to-top,
  .site-footer .axys-link {
    font-size: 12px;
  }
}

.site-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: 10;
}
.site-loader__text {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 24px;
  font-weight: 300;
  color: var(--font-color--primary);
}
@media screen and (max-width: 1512px) {
  .site-loader__text {
    font-size: max(18px, 2vw);
  }
}
.site-loader.load-complete {
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

section {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding);
}
section.hero {
  padding-block: 380px;
}
@media screen and (max-width: 1512px) {
  section.hero {
    padding-block: 320px;
  }
}
@media screen and (max-width: 768px) {
  section.hero {
    padding-block: 248px;
  }
}

h1,
.h1 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h1,
  .h1 {
    font-size: max(61.5px, 6vw);
  }
}

h2,
.h2 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h2,
  .h2 {
    font-size: max(49.2px, 4.8vw);
  }
}

h3,
.h3 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 52px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h3,
  .h3 {
    font-size: max(39px, 3.8vw);
  }
}

h4,
.h4 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 36px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h4,
  .h4 {
    font-size: max(28.7px, 2.8vw);
  }
}

h5,
.h5 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 32px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h5,
  .h5 {
    font-size: max(24.5px, 2.4vw);
  }
}

h6,
.h6 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 24px;
  font-weight: 300;
}
@media screen and (max-width: 1512px) {
  h6,
  .h6 {
    font-size: max(18px, 2vw);
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

p,
a,
figcaption,
blockquote,
input,
textarea,
label {
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  p,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label {
    font-size: 14px;
  }
}

span {
  font-family: inherit;
}

small {
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0;
}

img,
video {
  width: 100%;
}

.cta-1 {
  border: 2px solid var(--font-color--primary);
  border-radius: var(--radius);
  padding: 8px 24px;
}
@media screen and (max-width: 480px) {
  .cta-1 {
    padding: 10px 20px;
  }
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.social-media-links {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .social-media-links {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .social-media-links {
    gap: 24px;
  }
}
.social-media-links li.magnet {
  transition: 0.4s ease;
}
.social-media-links .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 480px) {
  .social-media-links .social-media-link {
    width: 24px;
    height: 24px;
  }
}
.social-media-links .social-media-link:hover .social-media-icon-wrapper, .social-media-links .social-media-link:focus-visible .social-media-icon-wrapper {
  translate: 0 -40%;
}
.social-media-links .social-media-link .social-media-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  translate: 0 36%;
  transition: 0.25s ease;
}
.social-media-links .social-media-link .social-media-icon-wrapper .social-media-icon path {
  fill: var(--font-color--primary);
}

.classic-link {
  position: relative;
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--font-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
  }
  .underline {
    text-decoration: underline;
  }
}
@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.hero h1,
.hero p {
  text-align: center;
}

.main-style-guide .hero {
  align-items: flex-start;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}

.marquee {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding);
  overflow: hidden;
  width: 100vw;
  max-width: 1920px;
}
.marquee-inner {
  padding-inline-end: 24px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 480px) {
  .marquee-inner {
    padding-inline-end: 12px;
  }
}
.marquee .marquee-text {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  line-height: 100%;
  display: inline-flex;
  text-wrap: nowrap;
  gap: 24px;
}
@media screen and (max-width: 1512px) {
  .marquee .marquee-text {
    font-size: max(49.2px, 4.8vw);
  }
}
@media screen and (max-width: 1512px) {
  .marquee .marquee-text {
    gap: 18px;
  }
}
@media screen and (max-width: 768px) {
  .marquee .marquee-text {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .marquee .marquee-text {
    gap: 6px;
  }
}
.marquee .marquee-dot {
  font-size: 36px;
  color: #c0c0c0;
  margin: 0 56px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .marquee .marquee-dot {
    font-size: 24px;
    margin: 0 24px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.faq-btn {
  --label-font-size: 40px;
  position: relative;
  display: grid;
  grid-template-rows: 0fr;
  border-bottom: 2px solid var(--font-color--primary);
  transition: 0.3s ease;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .faq-btn {
    --label-font-size: 16px;
  }
}
.faq-btn__question {
  color: var(--font-color--primary);
  font-size: var(--label-font-size);
  font-weight: 100;
  position: absolute;
  cursor: pointer;
  text-align: left;
}
.faq-btn__answer {
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-top: calc(var(--label-font-size) * 1.4);
  overflow: hidden;
}
@media screen and (max-width: 1512px) {
  .faq-btn__answer {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .faq-btn__answer {
    font-size: 14px;
  }
}
.faq-btn[aria-expanded=true] {
  grid-template-rows: 1fr;
}/*# sourceMappingURL=styles.css.map */