// // // // // Base
// prettier-ignore
@import "variables",
 "functions",
 "mixins",
 "globals",
 "util",
 "fonts",
 "animations";

// // // // // Partials
// prettier-ignore
@import "./partials/header-island",
 "./partials/header-simple",
 "./partials/footer-simple",
 "./partials/footer-scroll-reveal";

// // // // // Pages
// prettier-ignore
@import "./pages/home",
 "./pages/style-guide",
 "./pages/404";

// // // // // Components
// prettier-ignore
@import "./components/btn", 
 "./components/cta-group",
 "./components/dropdown-link",
 "./components/social-media";

// // // // // Sections
// prettier-ignore
@import "./playground/axys-hero",
 "./playground/axys-section-faq";

// // // // // Library // DELETE ME CHANGE ME after pulling files
// prettier-ignore
@import "./library/accordion",
 "./library/alert",
 "./library/blog-archive",
 "./library/blog-post",
 "./library/btn-back-to-top",
 "./library/btn-video-toggle",
 "./library/btn-toggle",
 "./library/carousel-swiper",
 "./library/contact-form",
 "./library/counter",
 "./library/marquee",
 "./library/mouse-cursor",
 "./library/badge",
 "./library/price-cards",
 "./library/promo-banner",
 "./library/solar-system",
 "./library/tabs",
 "./library/theme-toggle",
 "./library/tooltip",
 "./library/video-bg",
 "./library/video-overlay",
 "./library/video-scrub";

// prettier-ignore
@import "./library/components/loader", 
"./library/components/scroll-progress";

// prettier-ignore
@import "./library/advanced/dots",
 "./library/advanced/grid-bg",
 "./library/advanced/grid-flow-img",
 "./library/advanced/particle-waves";

// prettier-ignore
@import "./library/sections/hero-simple",
 "./library/sections/carousel-hero",
 "./library/sections/plan-selection",
 "./library/sections/scroll-horizontal",
 "./library/sections/scroll-stack",
 "./library/sections/tunnel",
 "./library/sections/work-gallery";
