// Base
// prettier-ignore
@import "variables",
 "mixins",
 "globals",
 "utility",
 "fonts",
 "animations";

// Pages
// prettier-ignore
@import "./pages/advanced",
 "./pages/home",
 "./pages/style-guide",
 "./pages/404";

// Partials
// prettier-ignore
// @import "./components/marquee";

// Library // Delete after pulling files
// prettier-ignore
@import "./library/accordion",
  "./library/grid-flow-img",
  "./library/horizontal-scroll",
  "./library/marquee";
