// Base
// prettier-ignore
@import "variables",
 "mixins",
 "globals",
 "utility",
 "fonts",
 "animations";

// Pages
// prettier-ignore
@import "./pages/home",
 "./pages/404";

// Components
// prettier-ignore
@import "./components/cta-group",
"./components/social-media";

// Library // Delete after pulling files
// prettier-ignore
@import "./library/accordion",
  "./library/advanced",
  "./library/blog-archive",
  "./library/blog-post",
  "./library/grid-flow-img",
  "./library/horizontal-scroll",
  "./library/style-guide",
  "./library/marquee",
  "./library/mouse-cursor";
