// // // // // Base
// prettier-ignore
@import "variables",
  "functions",
  "mixins",
  "globals",
  "util",
  "fonts",
  "animations";

// // // // // Components
// prettier-ignore
@import "./components/accordion",
  "./components/icon-svg", // close to top
  "./components/alert",
  "./components/badge",
  "./components/btn", 
  "./components/btn-back-to-top",
  "./components/btn-toggle",
  "./components/btn-video-toggle",
  "./components/carousel-swiper",
  "./components/contact-form",
  "./components/counter",
  "./components/cta-group",
  "./components/dots-fill",
  "./components/dropdown-link",
  "./components/grid-bg",
  "./components/grid-flow-img",
  "./components/loader",
  "./components/marquee",
  "./components/mouse-cursor",
  "./components/particle-waves",
  "./components/price-cards",
  "./components/promo-banner",
  "./components/scroll-progress",
  "./components/social-media",
  "./components/solar-system",
  "./components/tabs",
  "./components/theme-toggle",
  "./components/tooltip",
  "./components/video-bg",
  "./components/video-overlay",
  "./components/video-scrub";

// // // // // Sections
// prettier-ignore
@import "./sections/hero-simple",
  "./sections/carousel-hero",
  "./sections/plan-selection",
  "./sections/scroll-horizontal",
  "./sections/scroll-stack",
  "./sections/tunnel",
  "./sections/work-gallery";

// // // // // Partials
// prettier-ignore
@import "./partials/header-island",
  "./partials/header-simple",
  "./partials/footer-simple",
  "./partials/footer-scroll-reveal";

// // // // // Pages
// prettier-ignore
@import "./pages/home",
  "./pages/style-guide",
  "./pages/blog-archive",
  "./pages/blog-post",
  "./pages/404";
