{% set include_side_nav = blog_article_body.side_nav or false %}

<section class="blog-article-body">
  <div class="blog-article-body__inner">
    {% if include_side_nav %}
    <nav>This is the side nav</nav>
    {% endif %}

    <article>{{ blog_article_body.content | safe }}</article>
  </div>
</section>
