<section class="blog-article-hero">
  <div class="blog-article-hero__inner">
    <h1 class="blog-article-hero__title">{{ title }}</h1>
    <p class="blog-article-hero__desc">{{ description }}</p>
    <p>Published on {{ date | readableDate }} by <a>{{ author }}</a></p>
  </div>
</section>
