#hero-section {
  @include column-center;
  gap: 24px;
  margin-top: 196px;

  h1,
  p {
    text-align: center;
  }

  p {
    opacity: 0.5;
  }
}

#featured-section {
  @include section-padding(thin);

  .featured-blogs-wrapper {
    border: $test;
    padding: 24px;
    min-height: 100vh;
    @include row-center(space-between);
  }

  .blog-block {
    background: #2d2d2d;
    border-radius: 12px;
    width: 264px;
    height: 264px;
  }
}
