---
layout: archive-blog
---

{% set postslist = collections.post %}

<!-- prettier-ignore -->
{% for post in postslist | reverse %}
<article class="blog-article">
  <figure class="blog-article__img">
    <img class="parallax" src="{{ post.data.poster }}" alt="" />
  </figure>
  <h2 class="h3 blog-article__title">
    <a
      class="h3 classic-link {% if loop.first %}content-start{% endif %}"
      href="{{ post.url | url }}"
    >
      <!-- prettier-ignore -->
      {{ post.data.title or 'Untitled' }}
    </a>
  </h2>
  <p class="blog-article__date">
    <time>
      {{ post.date | readableDate }} by
      <a>{{ post.data.author }}</a>
    </time>
  </p>
  {% if post.data.description %}
  <p class="blog-article__details">{{ post.data.description }}</p>
  {% endif %}

  <a class="classic-link" href="{{ post.url | url }}"> Read more → </a>
</article>
{% endfor %}
