---
layout: archive-blog
---

{% set postslist = collections.post %}

<!-- prettier-ignore -->
{% for post in postslist | reverse %}
<!-- prettier-ignore -->
<a 
  class="blog-preview {% if loop.first %}blog-preview--first{% endif %}" 
  href="{{ post.url | url }}"
  {% if loop.first %}
    id="content-start"
  {% endif %}
>
  <figure class="blog-preview__figure">
    <img 
      class="parallax" 
      src="{{ post.data.poster }}" alt="" 
      data-parallax-scrub="0.5"
    />
  </figure>

  <div class="blog-preview__info">
    <h2 class="blog-preview__title">{{ post.data.title or 'Untitled' }}</h2>
  
    <time class="blog-preview__date">
      {{ post.date | readableDate }}
    </time>
    <p>by {{ post.data.author }}</p>
  
    {% if post.data.description %}
    <p class="blog-preview__details">{{ post.data.description }}</p>
    {% endif %}
  </div>
</a>
{% endfor %}
