body:has(.footer-scroll-reveal) {
  & > [class*="main"] {
    margin-block-end: var(--footer-height); // set via js
    // background: var(--color-background);
  }

  // If using the .footer-background-support these styles go with it
  // Originally added for 'grid-bg' (z-indexing issues)
  main {
    position: relative;
    z-index: 1; // gauge page content, this is for alerts over the scroll-to-top
  }

  #grid-bg {
    z-index: 0;
  }

  .footer-background-support {
    --magic-number-offset: 48px; // Optional — Add extra space for the footer

    background: var(--color-background);
    position: absolute;
    top: 0;
    min-height: 100vh;
    // height: var(--document-height);
    height: calc(
      var(--document-height) + var(--header-height, 0) -
        var(--magic-number-offset)
    );
    width: 100vw;

    &.footer-background-support--shorter {
      --magic-number-offset: 48px; // Some pages hugged the footer too mucn, not sure why.
    }

    &.footer-background-support--components-page {
      --magic-number-offset: calc(
        var(--carousel-swiper-height) / 1.7
      ); // The carousel seems to be the culprit with height issues.
    }
  }
}

.footer-scroll-reveal {
  --left-size: 40%;
  --right-size: 50%;

  background: var(--color-background-alt);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;

  &__inner {
    @include width-clamp;
    // @include section-padding;
    padding: var(--body-padding);
    display: flex;
    flex-wrap: wrap;

    @include mq-max(lg) {
      gap: var(--spacing--lg);
    }

    @include mq-max(sm) {
      padding-block: var(--body-padding-double);
    }
  }

  &__top-left {
    @include column-start;
    gap: var(--spacing--lg);

    @include mq-min(lg) {
      margin-inline-end: auto;
      width: var(--left-size);
    }

    // &-title {

    // }
  }

  &__top-right {
    @include column-start(space-between);
    gap: var(--spacing--lg);

    @include mq-min(lg) {
      width: var(--right-size);
    }

    // &-message {

    // }

    &-link {
      @include btn-type--underline;

      @include mq-min(lg) {
        font-size: min(3.2vw, 50px);
      }

      @include mq-max(lg) {
        font-size: min(6.4vw, 36px);
      }
    }
  }

  &__bottom {
    @include row-center(space-between);
    width: 100%;

    @include mq-min(lg) {
      margin-block-start: var(--spacing--xl);
    }

    @include mq-max(lg) {
      flex-flow: column-reverse wrap;
      align-items: start;
      gap: var(--spacing);
    }

    &-left {
      display: flex;
    }

    &-right {
      @include row-center(space-between);

      @include mq-min(lg) {
        width: var(--right-size);
      }
      @include mq-max(lg) {
        flex-direction: column-reverse;
        align-items: start;
        gap: var(--spacing);
      }
    }
  }
}
