.footer-simple {
  --footer-spacing-y: 48px;

  @include column-start;

  &:has(.footer-simple__top) {
    border-block-start: var(--border-width) solid var(--color-border);
  }

  &:has(.footer-simple__divider) {
    position: relative;

    .footer-simple__divider {
      position: absolute;
      left: 50%;
      translate: -50% 0;
      width: calc(100% - calc(var(--body-padding) * 2));
      max-width: calc($content-width - calc(var(--body-padding) * 2));
      height: var(--border-width);
      background: var(--color-border);

      &--width-full {
        left: 0;
        width: 100vw;
        max-width: 100%;
        translate: 0 0;
      }
    }
  }

  &__inner {
    @include width-clamp;
  }

  &__top {
    @include row-start(space-between);
    gap: var(--spacing);
    padding: var(--footer-spacing-y) var(--body-padding);

    @include mq-max(lg) {
      flex-direction: column;
    }

    &-left {
      @include column-start;
      gap: var(--spacing--sm);
    }

    &-right {
      @include row-start(flex-start);
      gap: var(--spacing--xl);
      flex-wrap: wrap;

      @include mq-max(lg) {
        gap: var(--spacing--lg);
      }
    }

    // .site-logo {
    //   &-link {
    //   }
    //   &-img {
    //   }
    // }

    &-message {
      max-width: 420px;
    }

    // .social-media-links {
    // }

    .menu-links {
      @include column-start;
      gap: 1ch;
    }

    .footer-simple__linkset-1,
    .footer-simple__linkset-2,
    .footer-simple__linkset-3 {
      strong {
        color: var(--color-font--secondary);
        margin-block-end: 1ch;
        display: block;
      }
    }
  }

  &__bottom {
    @include row-center(space-between);
    gap: var(--spacing);
    width: 100%;
    padding: var(--footer-spacing-y) var(--body-padding);

    @include mq-max("lg") {
      flex-direction: column;
      align-items: flex-start;
    }

    &:has([class*="to-top"]) {
      // Also update this version in 'float'
      position: relative;

      .footer-simple__copyright {
        @include mq-min(xl) {
          @include absolute-center;
        }
      }
    }

    .footer-simple__copyright {
      @include row-center;

      @include mq-max(lg) {
        order: 1;
      }
    }

    &-group {
      @include row-center;
      gap: var(--spacing--sm);

      @include mq-max(lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      .legal-links {
        @include row-center;
        gap: 1ch;
      }
    }
  }

  // modifiers

  &--float {
    --float-offset: var(--partial-float-offset);

    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius--sm);
    padding: var(--footer-spacing-y) var(--body-padding);

    position: absolute;
    margin-block: var(--float-offset);
    left: 50%;
    translate: -50% 0;
    width: calc(100% - var(--float-offset) * 2);
    max-width: $content-width;

    @include mq-max(md) {
      --float-offset: 8px;
    }

    &:not(:has(.footer-simple__top)) {
      .footer-simple__bottom {
        padding: 0;
      }
    }

    &:has(.footer-simple__divider) {
      .footer-simple__divider {
        &--width-full {
          width: 100%;
        }
      }
    }

    &:has([class*="to-top"]) {
      position: relative;

      .footer-simple__copyright {
        @include mq-min(xl) {
          position: absolute;
          top: auto;
          bottom: 0;
          left: 50%;
          translate: -50% -0.2lh;
        }
      }
    }

    .footer-simple__top {
      padding: 0 0 var(--footer-spacing-y);
    }
    .footer-simple__bottom {
      padding: var(--footer-spacing-y) 0 0;
    }
  }
}
