.header-simple {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-background);
  transition: $ease;
  z-index: $z-index--header;

  &__inner {
    @include width-clamp;
    @include row-center(space-between);
    padding: 12px var(--body-padding);

    position: relative;
  }

  // .site-logo {
  //   &-link {
  //   }
  //   &-img {
  //   }
  // }

  .menu-links {
    --links-gap: 36px;

    @include row-center;
    gap: var(--links-gap);

    @include mq-max(lg) {
      display: none;
    }
  }

  &__cta-group {
    @include row-center;
    gap: 2ch;

    @include mq-max(lg) {
      display: none;
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mq-max(lg) {
      display: block;
    }
  }

  // Modifiers

  // &.watch-scroll--away-from-top {

  // }

  &.watch-scroll--scrolling-down {
    translate: 0 -100%;

    // &:has(*:focus-visible) {
    &:focus-within {
      translate: 0 0;

      // If hovering the dropdown link list and scrolling down, it would still be visible, this fixes that
      .dropdown-link:hover,
      .dropdown-link:focus-within {
        ul.dropdown-link__list {
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    .dropdown-link ul.dropdown-link__list {
      pointer-events: none;
      opacity: 0;
    }
  }

  // &.watch-scroll--near-bottom {

  // }

  // &.site-header--nav-active {

  // }

  &--links-center {
    .menu-links {
      position: absolute;
      left: 50%;
      translate: -50% 0;
    }
  }

  &--links-end {
    .menu-links {
      margin-inline: auto 24px;
    }
  }

  &--links-start {
    .menu-links {
      margin-inline: 24px auto;
    }
  }

  &--float {
    --float-offset: var(--partial-float-offset);

    border: var(--border-width) solid var(--color-border);
    top: var(--float-offset);
    width: calc(100% - (var(--float-offset) * 2));
    border-radius: var(--radius--sm);
    max-width: $content-width;

    left: 50%;
    translate: -50% 0;

    @include mq-max(md) {
      --float-offset: 8px;
    }

    &.site-header--scrolling-down {
      translate: -50% calc(-100% - var(--float-offset));
    }

    &.site-header--promo-banner {
      top: calc(var(--promo-banner-height) + var(--float-offset));
    }

    // Placing below to override all
    &:focus-within {
      translate: -50% 0;
    }
  }

  &--glass {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
  }

  &.site-header--promo-banner {
    // promo-banner-height var set in js. See promo-banner.js
    top: var(--promo-banner-height);

    &.site-header--scrolling-down {
      translate: 0 calc(-100% - var(--promo-banner-height));
    }

    &.site-header-simple--float {
      &.site-header--scrolling-down {
        translate: -50% calc(-100% - var(--promo-banner-height));
      }

      &:focus-within {
        translate: -50% 0;
      }
    }

    &:focus-within {
      translate: 0 0;
    }
  }

  // Library
  .skip-to-content {
    @include btn-type--outline;
    @include hide-content;
    position: absolute;
    top: 100%;
    left: -20%;
    background: var(--color-background);
    color: var(--color-font--primary);
    padding: 8px;
    z-index: -1;
    transition: 0.5s ease;

    &:focus {
      @include show-content;
      left: 0;
    }

    @include mq-max(lg) {
      display: none;
    }
  }
}

.site-nav {
  @include hide-content;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  z-index: $z-index--nav;

  transition: $ease, width 0s, height 0s;

  @include mq-min(lg) {
    display: none;
  }

  .width-constraint {
    @include column-start;
    gap: 48px;

    position: relative;
    max-width: $content-width;
    height: 100dvh;
    min-height: 768px;
    margin: 0 auto var(--body-padding);
    padding: var(--body-padding);

    @include mq-max(xxl) {
      min-height: 640px;
    }

    @include mq-max(sm) {
      min-height: 520px;
    }
  }

  .menu-links {
    @include column-start;
    gap: 12px;
    margin-block: max(40vh, 200px) auto;

    @include mq-max(sm) {
      margin-block: 32vh auto;
    }
  }

  &__footer {
    @include row-center(space-between);
    width: 100%;

    @include mq-max(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--section-gap);
    }

    &-links {
      @include row-center;
      gap: 1ch;

      @include mq-max(md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &[aria-hidden="false"] {
    @include show-content;
    background: var(--color-background);
  }
}

.site-nav-btn {
  $nav-btn-text-shift-hover: 16px;

  @include row-center;
  gap: 12px; // between text and icon
  transition: $ease, $magnet;

  @include desktop-hover {
    .site-nav-btn__text {
      margin-inline-end: $nav-btn-text-shift-hover;
    }

    .site-nav-btn__icon {
      scale: 1.1;
    }
  }

  &:active {
    .site-nav-btn__icon {
      scale: 0.9;
    }
  }

  &__text {
    color: var(--color-font--primary);
    transition: $ease;
  }

  .site-nav-btn__icon {
    aspect-ratio: 1;
    transition: $ease, $magnet;

    &--burger {
      $stroke-offset: 3px;
      $stroke-height: 2px;
      $stroke-width: 100%;

      position: relative;
      width: 20px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-width;
        height: $stroke-height;
        transition: $ease;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
        }

        &.stroke-2 {
          translate: -50% calc(-50% + $stroke-offset);
        }
      }
    }

    &--chocolate {
      $stroke-size: 3px;

      // border: $test;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;

      .site-nav-btn__stroke {
        width: $stroke-size;
        height: $stroke-size;

        transition: $ease;
      }
    }

    &--kebab {
      $stroke-offset: 8px;
      $stroke-size: 4px;

      position: relative;
      width: 24px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-size;
        height: $stroke-size;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
          // translate: calc(-50% - $stroke-offset) -50%;
        }

        &.stroke-3 {
          translate: -50% calc(-50% + $stroke-offset);
          // translate: calc(-50% + $stroke-offset) -50%;
        }
      }
    }

    &--round {
      .site-nav-btn__stroke {
        border-radius: 24px;
      }
    }
  }

  &__stroke {
    background: var(--color-font--primary);
    transition: $ease;
  }

  &[aria-expanded="true"] {
    .site-nav-btn__icon--burger {
      .site-nav-btn__stroke {
        translate: -50% -50%;

        &:first-of-type {
          rotate: 45deg;
        }
        &:last-of-type {
          rotate: -45deg;
        }
      }
    }

    .site-nav-btn__icon--chocolate {
      .site-nav-btn__stroke {
        &.stroke-2,
        &.stroke-4,
        &.stroke-6,
        &.stroke-8 {
          scale: 0;
        }
      }
    }
  }
}

.menu-links {
  .menu-links__link {
    @include mq-max(lg) {
      font-size: 24px;
    }
    @include mq-max(sm) {
      font-size: 20px;
    }
  }
}
