:root {
  --logo-size: 20px;
  --top-offset: 12px;
  --nav-min-height: 640px;

  @media (max-width: 768px) {
    --nav-min-height: 520px;
  }
}

.header-island {
  --padding-y: 6px;

  position: fixed;
  top: var(--top-offset);
  left: 50%;
  translate: -50% 0;
  background: var(--color-surface--2);
  border: 1px solid rgba($grey, 0.25);
  border-radius: var(--radius--sm);
  height: var(--header-height); // For transition property (var declared in js)
  min-height: 0px; // For transition property
  transition: $ease, height $ease-c;
  z-index: $z-index--header;

  @include mq-max(lg) {
    --padding-y: 8px;

    width: calc(100% - var(--top-offset) * 2);
  }

  &__inner {
    @include width-clamp;
    @include row-center(space-between);
    position: relative;
    gap: 24px;
    padding: var(--padding-y) 4px var(--padding-y) 16px;

    @include mq-max(lg) {
      padding-inline: 12px;
    }
  }

  // .site-logo {
  //   &-link {
  //   }
  //   &-img {
  //   }
  // }

  .menu-links {
    --links-gap: 4px;

    @include row-center;
    gap: var(--links-gap);

    @include mq-max(lg) {
      display: none;
    }

    // Library Slider
    .menu-link__option {
      opacity: 1;
      padding: 0;
    }

    &__slider {
      height: calc(100% + var(--padding-y));
      background: var(--color-surface--1);
      border-radius: 4px;
    }

    .menu-links__link {
      padding-inline: 16px;
      padding: var(--option-padding) 12px;
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mq-max(lg) {
      display: block;
    }
  }

  // Modifiers

  // &.site-header--away-from-top {

  // }

  &.site-header--scrolling-down {
    translate: -50% calc(-100% - var(--top-offset));

    // &:has(*:focus-visible) {
    &:focus-within {
      translate: -50% 0;

      // If hovering the dropdown link list and scrolling down, it would still be visible, this fixes that
      .dropdown-link:hover,
      .dropdown-link:focus-within {
        ul.dropdown-link__list {
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    .dropdown-link ul.dropdown-link__list {
      pointer-events: none;
      opacity: 0;
    }
  }

  // &.site-header--near-bottom {

  // }

  &.site-header--nav-active {
    @include mq-max(lg) {
      height: calc(100vh - var(--top-offset) * 2);
      min-height: var(--nav-min-height);
    }
  }

  &--glass {
    border: 1px solid var(--color-border);
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(8px);
  }

  &.site-header--promo-banner {
    // promo-banner-height var set in js. See promo-banner.js
    top: calc(var(--top-offset) + var(--promo-banner-height));

    &.site-header--scrolling-down {
      translate: -50% calc(-100% - var(--promo-banner-height));
    }

    &:focus-within {
      translate: -50% 0;
    }
  }

  // Library
  .skip-to-content {
    @include btn-type--outline;
    @include hide-content;
    position: absolute;
    top: 100%;
    left: -20%;
    background: var(--color-background);
    color: var(--color-font--primary);
    padding: 8px;
    z-index: -1;
    transition: 0.5s ease;

    &:focus {
      @include show-content;
      left: 0;
    }

    @include mq-max(lg) {
      display: none;
    }
  }
}

.site-nav.nav-island {
  $z-index--nav: 4;
  --nav-top-offset: calc(var(--top-offset) + var(--header-height));

  @include hide-content;
  position: fixed;
  top: var(--nav-top-offset);
  width: calc(100vw - var(--body-padding));
  height: calc(100vh - var(--nav-top-offset));
  height: calc(100dvh - var(--nav-top-offset));
  margin-inline-start: var(--body-padding-half);
  overflow: auto;
  z-index: $z-index--nav;

  transition: $ease 0s, width 0s, height $ease-c;

  @include mq-min(lg) {
    display: none;
  }

  .width-constraint {
    @include column-start;
    gap: 136px;

    position: relative;
    max-width: $content-width;
    height: 100%;
    min-height: var(--nav-min-height);
    margin: 0 auto var(--body-padding);
    padding: var(--body-padding) 12px;

    @include mq-max(md) {
      gap: 48px;
    }
  }

  .menu-links {
    @include column-start;
    gap: 0;
    margin-block: max(20vh, 128px) auto;

    @include mq-max(sm) {
      margin-block: 32vh auto;
    }
  }

  .site-nav__footer {
    @include row-center(space-between);
    width: 100%;
    margin-block-end: 24px;

    @include mq-max(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--section-gap);
    }

    &-links {
      @include row-center;
      gap: 1ch;

      @include mq-max(md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &[aria-hidden="false"] {
    @include show-content;
    background: none;

    transition: $ease 0.2s, width 0s, height $ease-c;
  }

  // Library
  &.site-nav--promo-banner {
    --nav-top-offset: calc(
      var(--top-offset) + var(--header-height) + var(--promo-banner-height)
    );
  }
}

.site-nav-btn {
  $nav-btn-text-shift-hover: 16px;

  @include row-center;
  gap: 12px; // between text and icon
  transition: $ease, $magnet;

  @include desktop-hover {
    .site-nav-btn__text {
      margin-inline-end: $nav-btn-text-shift-hover;
    }

    .site-nav-btn__icon {
      scale: 1.1;
    }
  }

  &:active {
    .site-nav-btn__icon {
      scale: 0.9;
    }
  }

  &__text {
    color: var(--color-font--primary);
    transition: $ease;
  }

  .site-nav-btn__icon {
    aspect-ratio: 1;
    transition: $ease, $magnet;

    &--burger {
      $stroke-offset: 3px;
      $stroke-height: 2px;
      $stroke-width: 100%;

      position: relative;
      width: 20px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-width;
        height: $stroke-height;
        transition: $ease;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
        }

        &.stroke-2 {
          translate: -50% calc(-50% + $stroke-offset);
        }
      }
    }

    &--chocolate {
      $stroke-size: 3px;

      // border: $test;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;

      .site-nav-btn__stroke {
        width: $stroke-size;
        height: $stroke-size;

        transition: $ease;
      }
    }

    &--kebab {
      $stroke-offset: 8px;
      $stroke-size: 4px;

      position: relative;
      width: 24px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-size;
        height: $stroke-size;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
          // translate: calc(-50% - $stroke-offset) -50%;
        }

        &.stroke-3 {
          translate: -50% calc(-50% + $stroke-offset);
          // translate: calc(-50% + $stroke-offset) -50%;
        }
      }
    }

    &--round {
      .site-nav-btn__stroke {
        border-radius: 24px;
      }
    }
  }

  &__stroke {
    background: var(--color-font--primary);
    transition: $ease;
  }

  &[aria-expanded="true"] {
    .site-nav-btn__icon--burger {
      .site-nav-btn__stroke {
        translate: -50% -50%;

        &:first-of-type {
          rotate: 45deg;
        }
        &:last-of-type {
          rotate: -45deg;
        }
      }
    }

    .site-nav-btn__icon--chocolate {
      .site-nav-btn__stroke {
        &.stroke-2,
        &.stroke-4,
        &.stroke-6,
        &.stroke-8 {
          scale: 0;
        }
      }
    }
  }
}

// .menu-links {
//   .menu-links__link {
//     @include mq-max(lg) {
//       font-size: 24px;
//     }
//     @include mq-max(sm) {
//       font-size: 20px;
//     }
//   }
// }
