@use "../base/mixins";
@use "../base/variables" as vars;

.header-simple {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-background);
  z-index: vars.$z-index--header;

  @include mixins.mq-motion-allow {
    transition: vars.$ease;
  }

  &__inner {
    @include mixins.width-clamp;
    @include mixins.row-center(space-between);
    padding: 12px var(--body-padding);

    position: relative;
  }

  // .site-logo {
  //   &-link {
  //   }
  //   &-img {
  //   }
  // }

  .menu-links {
    --links-gap: 36px;

    @include mixins.row-center;
    gap: var(--links-gap);

    @include mixins.mq-max(lg) {
      display: none;
    }
  }

  &__cta-group {
    @include mixins.row-center;
    gap: 2ch;

    @include mixins.mq-max(lg) {
      display: none;
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mixins.mq-max(lg) {
      display: block;
    }
  }

  // Modifiers

  // &.watch-scroll--away-from-top {

  // }

  &.watch-scroll--scrolling-down {
    translate: 0 -100%;

    // &:has(*:focus-visible) {
    &:focus-within {
      translate: 0 0;

      // If hovering the dropdown link list and scrolling down, it would still be visible, this fixes that
      .dropdown-link:hover,
      .dropdown-link:focus-within {
        ul.dropdown-link__list {
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    .dropdown-link ul.dropdown-link__list {
      pointer-events: none;
      opacity: 0;
    }
  }

  // &.watch-scroll--near-bottom {

  // }

  // &.header-simple--nav-active {

  // }

  &--links-center {
    .menu-links {
      position: absolute;
      left: 50%;
      translate: -50% 0;
    }
  }

  &--links-end {
    .menu-links {
      margin-inline: auto 24px;
    }
  }

  &--links-start {
    .menu-links {
      margin-inline: 24px auto;
    }
  }

  &--float {
    --float-offset: var(--partial-float-offset);

    border: var(--border-width) solid var(--color-border);
    top: var(--float-offset);
    width: calc(100% - (var(--float-offset) * 2));
    border-radius: var(--radius--sm);
    max-width: vars.$content-width;

    left: 50%;
    translate: -50% 0;

    &.watch-scroll--scrolling-down {
      translate: -50% calc(-100% - var(--float-offset));

      &:focus-within {
        translate: -50% 0;
      }
    }
  }

  &--glass {
    background: transparent; // don't apply glass-background here, breaks dropdown-link glass effect.

    &::before {
      content: "";
      @include mixins.glass-background;
      @include mixins.absolute-center;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  &.site-header--promo-banner {
    // promo-banner-height var set in js. See promo-banner.js
    top: var(--promo-banner-height);

    &.watch-scroll--scrolling-down {
      translate: 0 calc(-100% - var(--promo-banner-height));
    }

    &.header-simple--float {
      top: calc(var(--promo-banner-height) + var(--float-offset));

      &.watch-scroll--scrolling-down {
        translate: -50% calc(-100% - var(--promo-banner-height));
      }

      &:focus-within {
        translate: -50% 0;
      }
    }

    &:focus-within {
      translate: 0 0;
    }
  }

  // Library
  .skip-to-content {
    @include mixins.btn-type--outline;
    @include mixins.hide-content;
    position: absolute;
    top: 100%;
    left: -20%;
    background: var(--color-background);
    color: var(--color-font--primary);
    padding: 8px;
    z-index: -1;
    transition: 0.5s ease;

    &:focus {
      @include mixins.show-content;
      left: 0;
    }

    @include mixins.mq-max(lg) {
      display: none;
    }
  }
}

// only using :has() for template // DELETE ME
body:has(.header-simple) {
  .site-nav {
    // border: vars.$test;
    @include mixins.hide-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; // Seeing issue with 100vw on my iphone (not reaching to the right?)
    // width: 105vw; // Alternate fix for issue above... probably don't do this though.
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    z-index: vars.$z-index--nav;

    transition:
      vars.$ease,
      width 0s,
      height 0s;

    @include mixins.mq-min(lg) {
      display: none;
    }

    .width-constraint {
      @include mixins.column-start;
      gap: 48px;

      position: relative;
      max-width: vars.$content-width;
      height: 100dvh;
      min-height: 768px;
      margin: 0 auto var(--body-padding);
      padding: var(--body-padding);

      @include mixins.mq-max(xxl) {
        min-height: 640px;
      }

      @include mixins.mq-max(sm) {
        min-height: 520px;
      }
    }

    .menu-links {
      @include mixins.column-start;
      gap: 12px;
      margin-block: max(40vh, 200px) auto;

      @include mixins.mq-max(sm) {
        margin-block: 32vh auto;
      }
    }

    &__footer {
      @include mixins.row-center(space-between);
      width: 100%;

      @include mixins.mq-max(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--section-gap);
      }

      &-links {
        @include mixins.row-center;
        gap: 1ch;

        @include mixins.mq-max(md) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    &[aria-hidden="false"] {
      @include mixins.show-content;
      background: var(--color-background);
    }
  }

  // .site-nav-btn {
  // }

  .menu-links {
    .menu-links__link {
      @include mixins.mq-max(lg) {
        font-size: 24px;
      }
      @include mixins.mq-max(sm) {
        font-size: 20px;
      }
    }
  }
}
