<!-- prettier-ignore -->
{% set title = faq_section.title | default('No title') %}
{% set desc = faq_section.desc | default('No desc') %}
{% set accordion = faq_section.accordion or null %}

<section class="faq-section">
  <header class="faq-section__header">
    <h2 class="faq-section__title gsap-animate shift-title" data-gsap-delay="0.5">
      <span class="text-reveal" data-reveal-duration="1" data-reveal-type="chars">
        {{ title }}
      </span>
    </h2>
    <p
      class="faq-section__desc max-width-text text-scale"
      data-scale-duration="0.4"
      data-scale-delay="0.125"
    >
      {{ desc }}
    </p>
  </header>

  {% include '../library/components/accordion.njk' %}
</section>
