<!-- prettier-ignore -->
{% set title = work_gallery.title | default('No title') %}
{% set desc = work_gallery.desc | default('No desc') %}
{% set items = work_gallery.items or [] %}
{% set grid_type = work_gallery.grid_type or 'alternate' %}

<section class="work-gallery">
  <div class="work-gallery__inner">
    <header class="work-gallery__header">
      <h2 class="work-gallery__header-title gsap-animate shift-title" data-gsap-delay="0.5">
        <span class="text-reveal" data-reveal-duration="1" data-reveal-type="chars">
          {{ title }}
        </span>
      </h2>
      <p
        class="work-gallery__header-desc max-width-text text-scale"
        data-scale-duration="0.4"
        data-scale-delay="0.125"
      >
        {{ desc }}
      </p>
    </header>

    <div class="work-gallery__layout work-gallery__layout--{{ grid_type }}">
      <!-- prettier-ignore -->
      {% for item in items %}
      {% set is_odd = loop.index % 2 %}
      <figure class="work-gallery__figure glitch-pair gsap-animate">
        <a
          href="{{ item.url }}"
          class="work-gallery__figure-link cursor-content glitch-trigger"
          data-cursor-icon="/static/img/library/icon-google-arrow-tr.svg"
          data-cursor-icon-size="md"
          data-cursor-class="cursor-content-1"
          data-glitch-target="glitch-target__work-gallery-caption"
        >
          <!-- prettier-ignore -->
          {% set badge = ({
            text: ''~item.year~'',
            type: 'glass'
          }) %}
          {% include "../library/components/badge.njk" %}
          <img class="work-gallery__figure-img" src="{{ item.img.src }}" alt="" />
        </a>
        <figcaption
          class="work-gallery__figure-caption gsap-animate"
          data-gsap-duration="0.75"
          data-gsap-delay="{% if is_odd %}0{%else%}0.2{%endif%}"
        >
          <h3 class="work-gallery__figure-title">
            {{ item.title }}
          </h3>
          <p class="work-gallery__figure-type glitch-target__work-gallery-caption glitch-text">
            {{ item.type }}
          </p>
        </figcaption>
      </figure>
      {% endfor %}
    </div>
  </div>
</section>
