<!-- prettier-ignore -->
{% set cta_1 = axys_hero.cta_1 or null %}
{% set cta_2 = axys_hero.cta_2 or null %}

{% set dots_config = 2 %}
{% set dots_data = '' %}

{% if dots_config == 1 %}
  {% set dots_data = '
    data-dot-size=0.15
    data-dot-gap=2
    data-dot-restore=0.75
    data-dot-sensitivity=0.95
    data-dot-distance=20
    data-dot-strength=0.25
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=false
    data-dot-grow=2.5
  ' %}
{% endif %}

{% if dots_config == 2 %}
  {% set dots_data = '
    data-dot-size=0.2
    data-dot-gap=2
    data-dot-restore=0.9
    data-dot-sensitivity=0.9
    data-dot-distance=50
    data-dot-strength=2.5
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=true
    data-dot-grow=1
  ' %}
{% endif %}

<section class="axys-hero">
  <div class="axys-hero__content">
    <div class="axys-hero__content-title-group">
      <small class="axys-hero__content-small">
        <span
          class="text-reveal"
          data-reveal-type="lines"
          data-reveal-duration="1.25"
          data-reveal-delay="1.25"
          data-loader-aware
          >Unlimited services</span
        >
        <span
          class="text-reveal"
          data-reveal-type="lines"
          data-reveal-duration="1.25"
          data-reveal-delay="1.25"
          data-reveal-from="top"
          data-loader-aware
          >One basic subscription</span
        >
      </small>
      <h1 class="axys-hero__title">
        <span
          class="axys-hero__title-glitch gsap-animate"
          data-loader-aware
          data-reveal-duration="1"
          data-gsap-delay="0"
        >
          <span class="outer-span">
            <span class="text-reveal__words">
              <span
                class="glitch-cycle"
                data-glitch-cycle-words="Creative, Responsive, Accessible, Custom, Engaging"
                data-glitch-cycle-colors="#e48c66, #007bff, var(--color-font--primary), #c0c0c0, #007bff"
                data-glitch-cycle-interval="2000"
              >
                Creative
              </span>
            </span>
          </span>
        </span>
        <span
          class="text-reveal"
          data-loader-aware
          data-reveal-duration="1"
          data-reveal-delay="0.3"
        >
          web design +
        </span>
        <span
          class="axys-hero__title-shift text-reveal gsap-animate"
          data-loader-aware
          data-reveal-duration="1"
          data-reveal-delay="0.52"
          data-gsap-delay="1.2"
        >
          development
        </span>
      </h1>
    </div>

    <!-- prettier-ignore -->
    <div class="axys-hero__title-cta cta-group gsap-animate" data-gsap-delay="1" data-loader-aware>
      <div class="overflow-hidden magnet magnet-wide-btn">
        {% set btn = cta_1 %}
        {% include "../components/btn.njk" %}
      </div>
      
      <div class="overflow-hidden">
        {% set btn = cta_2 %}
        {% include "../components/btn.njk" %}
      </div>
    </div>
  </div>

  <div class="axys-hero__background">
    <div
      class="axys-hero__layer-tilt"
      data-tilt
      data-tilt-reverse="true"
      data-tilt-max="12"
      data-tilt-startX="0"
      data-tilt-startY="0"
      data-tilt-perspective="2400"
      data-tilt-speed="1250"
      data-tilt-reset="false"
    >
      <div
        class="axys-hero__logo-gsap-animate gsap-animate"
        data-loader-aware
        data-gsap-delay="0.36"
        data-gsap-start="-120% top"
        data-gsap-end="120% top"
      >
        <div
          class="axys-dots-logo__push velocity-push"
          data-push-strength="0.75"
          data-push-restore="0.02"
          data-push-rotate-max="5"
        >
          <div class="axys-hero__logo-gsap-animate gsap-animate">
            <!-- prettier-ignore -->
            <svg class="axys-dots-logo__svg dot-fill" {{dots_data}} viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
              <path d="M80 0V43.6367H43.6367V80H0V36.3633H36.3633V0H80Z"></path>
              <path d="M80 0V43.6367H43.6367V80H0V36.3633H36.3633V0H80Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
