<!-- prettier-ignore -->
{% set dots_config = 4 %}
{% set dots_data = '' %}

{% if dots_config == 1 %}
  {% set dots_data = '
    data-dot-size=0.2
    data-dot-gap=2
    data-dot-restore=0.75
    data-dot-sensitivity=0.95
    data-dot-distance=10
    data-dot-strength=10
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=false
    data-dot-grow=false
  ' %}
{% endif %}

{% if dots_config == 2 %}
  {% set dots_data = '
    data-dot-size=0.2
    data-dot-gap=2.5
    data-dot-restore=0.9
    data-dot-sensitivity=0.9
    data-dot-distance=20
    data-dot-strength=1
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=true
    data-dot-grow=true
  ' %}
{% endif %}

{% if dots_config == 3 %}
  {% set dots_data = '
    data-dot-size=0.1
    data-dot-gap=2
    data-dot-restore=0.9
    data-dot-sensitivity=0.9
    data-dot-distance=75
    data-dot-strength=2
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=true
    data-dot-grow=true
  ' %}
{% endif %}

{% if dots_config == 4 %}
  {% set dots_data = '
    data-dot-size=1.25
    data-dot-gap=15
    data-dot-restore=0.9
    data-dot-sensitivity=0.9
    data-dot-distance=100
    data-dot-strength=50
    data-dot-color=var(--color-brand--primary)
    data-dot-illuminate=true
    data-dot-grow=true
  ' %}
{% endif %}

<section class="axys-hero">
  <div class="axys-hero__content">
    <div class="axys-hero__content-title-group">
      <small class="axys-hero__content-small">
        <span
          class="text-reveal"
          data-reveal-type="lines"
          data-reveal-duration="1.25"
          data-reveal-delay="1.25"
          data-loader-aware
          >Unlimited services</span
        >
        <span
          class="text-reveal"
          data-reveal-type="lines"
          data-reveal-duration="1.25"
          data-reveal-delay="1.25"
          data-reveal-from="top"
          data-loader-aware
          >One basic subscription</span
        >
      </small>
      <h1 class="axys-hero__title">
        <span
          class="axys-hero__title-glitch gsap-animate"
          data-loader-aware
          data-reveal-duration="1"
          data-gsap-delay="0"
        >
          <span class="outer-span">
            <span class="text-reveal__words">
              <span
                class="glitch-cycle"
                data-glitch-cycle-words="Creative, Responsive, Accessible, Innovative, Engaging"
                data-glitch-cycle-colors="#e48c66, #007bff, var(--color-font--primary), #c0c0c0, #007bff"
                data-glitch-cycle-interval="2000"
              >
                Creative
              </span>
            </span>
          </span>
        </span>
        <span
          class="text-reveal"
          data-loader-aware
          data-reveal-duration="1"
          data-reveal-delay="0.3"
        >
          web design +
        </span>
        <span
          class="axys-hero__title-shift text-reveal gsap-animate"
          data-loader-aware
          data-reveal-duration="1"
          data-reveal-delay="0.52"
          data-gsap-delay="1.2"
        >
          development
        </span>
      </h1>
    </div>
    {% if desc %}
    <p class="axys-hero__desc">
      <span>Unlimited services</span>
      <span>One basic subscription</span>
    </p>
    {% endif %}
  </div>

  <div class="axys-hero__background">
    <div
      class="axys-hero__layer-tilt"
      data-tilt
      data-tilt-reverse="true"
      data-tilt-max="10"
      data-tilt-startX="0"
      data-tilt-startY="0"
      data-tilt-perspective="2400"
      data-tilt-speed="1250"
      data-tilt-reset="false"
    >
      <div
        class="axys-hero__logo-gsap-animate gsap-animate"
        data-loader-aware
        data-gsap-delay="0.36"
        data-gsap-start="-120% top"
        data-gsap-end="120% top"
      >
        <div
          class="axys-dots-logo velocity-push"
          data-push-strength="0.75"
          data-push-restore="0.02"
          data-push-rotate-max="5"
        >
          <div class="axys-hero__logo-gsap-animate gsap-animate">
            <!-- prettier-ignore -->
            <svg style="display: none" class="axys-dots-logo dot-fill" {{dots_data}} width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M79 1V43.5449H43.5459V79H1V36.4551H36.4541V1H79Z" fill="#F0F0F0" class="svg-elem-1"></path>
              <path d="M79 1V43.5449H43.5459V79H1V36.4551H36.4541V1H79Z" stroke="#F0F0F0" class="svg-elem-2"></path>
            </svg>
          </div>
          <svg
            class="axys-dots-logo dot-fill"
            {{dots_data}}
            width="384"
            height="512"
            viewBox="0 0 384 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
              class="svg-elem-1"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
