@use "../base/mixins";
@use "../base/variables" as vars;

.accordion {
  display: flex;
  flex-direction: column;
  align-items: start;

  &-item {
    $border: var(--border-width--bold) solid var(--color-border);

    border-bottom: $border;
    // padding-block: 20px;

    @include mixins.mq-motion-allow {
      transition: border vars.$ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:has(.accordion-btn:hover),
      &:has(.accordion-btn:focus-visible) {
        border-color: var(--color-brand--primary);
      }
    }

    // &:first-of-type {
    //   border-top: $border;
    // }
  }

  &-btn {
    text-align: left;

    &[aria-expanded="true"] {
      + .accordion-content {
        grid-template-rows: 1fr;
        visibility: visible;
        padding-block-end: 12px;
      }

      .accordion-label__icon {
        // rotate: 180deg;
        transform: scaleY(-1);
      }

      .accordion-label__plus {
        &-line:last-of-type {
          rotate: 0deg;
        }
      }
    }
  }

  &-toggle-all {
    margin-block-end: 12px;

    &[aria-expanded="true"] {
      .btn__icon-end {
        transform: scaleY(-1);
      }
    }
  }

  &-label {
    @include mixins.font-styles--body(lg);
    @include mixins.row-start(space-between);
    gap: 24px;
    width: 100%;
    padding-block: 12px;

    @include mixins.mq-max(sm) {
      gap: 12px;
    }

    &__title {
      @include mixins.inherit-font;
      cursor: pointer;
    }

    &__icon,
    &__plus {
      --icon-size: 2.5ch;
      --plus-size: 1.25ch;

      width: var(--icon-size);
      height: var(--icon-size);
      flex-shrink: 0;
      display: inline-flex;

      @include mixins.mq-motion-allow {
        transition: vars.$ease;
      }
    }

    &__plus {
      position: relative;

      &-line {
        @include mixins.absolute-center;
        width: var(--plus-size);
        height: 2px;
        background: var(--color-font--primary);
      }

      &-line:last-of-type {
        rotate: 90deg;

        @include mixins.mq-motion-allow {
          transition: vars.$ease;
        }
      }
    }
  }

  &-content {
    @include mixins.font-styles--body;
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;

    @include mixins.mq-motion-allow {
      transition: vars.$ease;
    }

    &__inner {
      overflow: hidden;
    }
  }
}
