.btn-toggle {
  $switch-width: 64px;
  $switch-padding: 4px;

  @include row-center;
  gap: 0.5ch;

  &__label {
    @include font-styles--body;
  }

  &__switch {
    @include row-center(space-around);
    position: relative;
    padding-inline: $switch-padding;
    width: $switch-width;
    height: 32px;
    border-radius: var(--radius);
    background: var(--color-surface--1);

    &::before,
    &::after {
      color: var(--color-font--primary);
      font-weight: 700;
      font-size: 12px;

      @include mq-motion-allow {
        transition: $ease;
      }
    }

    &::before {
      content: attr(data-label-true);
      opacity: 0;
    }

    &::after {
      content: attr(data-label-false);
      opacity: 1;
    }

    &-nob {
      position: absolute;
      left: $switch-padding;
      width: 24px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: var(--color-background);
      border: 1px solid $grey;

      @include mq-motion-allow {
        transition: $ease;
      }
    }
  }

  &[aria-pressed="true"] {
    .btn-toggle__switch {
      background: var(--color-brand--primary);
    }
    .btn-toggle__switch::before {
      opacity: 1;
    }
    .btn-toggle__switch::after {
      opacity: 0;
    }
    .btn-toggle__switch-nob {
      translate: calc($switch-width - $switch-padding * 8) 0;
    }
  }
}
