@use "../base/mixins";
@use "../base/variables" as vars;

.btn-back-to-top {
  @include mixins.hide-content;
  @include mixins.right-spacing;
  position: fixed;
  bottom: var(--body-padding);
  scale: 0.25;
  z-index: vars.$z-index--btn-back-to-top;

  &:focus-visible {
    @include mixins.show-content;
    scale: 1;
  }

  &.watch-scroll--away-from-top {
    @include mixins.show-content;
    scale: 1;
  }

  &.watch-scroll--near-bottom {
    @include mixins.hide-content;
    scale: 0.25;
  }
}
