.button {
  --icon-size: 1em;

  display: inline-flex;
  align-items: center;
  gap: var(--gap-btn-icon);
  flex-shrink: 0;

  // LINK_TYPES // solid | outline | icon-end | underline | text
  &-type--solid {
    @include button-type--solid;
  }

  &-type--outline {
    @include button-type--outline;
  }

  &-type--icon-end {
    @include button-type--icon-end;
  }

  &-type--underline {
    @include button-type--underline;
  }

  &-type--text {
    @include button-type--text;
  }

  &__icon-start,
  &__icon-end {
    background: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);

    @include mq-motion-allow {
      transition: $ease;
    }
  }
}
