// Ensure parent doesn't have flex — caused strange image width.
.swiper {
  --swiper-navigation-color: var(--color-font--primary);
  --swiper-pagination-color: var(--color-brand--primary);
  --swiper-pagination-bullet-inactive-color: var(--color-brand--primary);
  --swiper-wrapper-transition-timing-function: #{$cubic-ease};

  margin-block: var(--section-gap);
  padding-block: var(--body-padding);

  .swiper-wrapper {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    // .swiper-slide {

    // }
  }

  div.swiper-pagination-progressbar {
    background: var(--color-font--primary);
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    width: 32.5%;
    height: 3px;
  }

  .swiper-controls {
    @include row-center;
    position: relative;
    gap: 12px;
    height: 4lh;

    &__arrows {
      @include row-center;
      gap: var(--spacing--sm);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    // Resetting styles from CDN stylesheet
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    aspect-ratio: 1;

    // Hides default arrows
    &::after {
      display: none;
    }

    // @include mq-max(md) {
    //   display: none;
    // }

    // &__icon {

    // }
  }
  .swiper-button-prev__icon {
    rotate: 180deg;
  }

  // .swiper-button-next {

  // }
}

// Library
// .carousel-swiper-sample-1 {
//   border: $test;
// }

div.carousel-swiper-sample-2 {
  // border: $test;
  padding-inline: var(--body-padding);

  .swiper-slide {
    @include card-styles;
    @include column-center;
  }
}
