.cta-1 {
  border: var(--border-width--btn) solid var(--color-btn-border);
  border-radius: var(--radius-btn);
  background: var(--color-btn-bg);
  color: var(--color-btn-text);
  padding: var(--btn-padding);
  flex-shrink: 0;
  display: inline-block;

  @include mq-motion-allow {
    // transition: $ease;
    transition: all $ease, $magnet;
  }

  @include desktop-hover {
    border-color: var(--color-btn-border--hover);
    background: var(--color-btn-bg--hover);
    color: var(--color-btn-text--hover);
  }
}

.cta-2 {
  @include row-center(space-between);
  color: var(--color-btn-2-text);
  gap: 8px;
  flex-shrink: 0;

  @include mq-motion-allow {
    transition: $ease;
  }

  @include desktop-hover {
    color: var(--color-btn-text--hover);

    .cta-2__icon {
      translate: 0.5ch 0;
    }
  }

  &__icon {
    --icon-size: 12px;

    @include mask-image(
      "../img/library/icon-angle-arrow-right.svg"
    ); // Use inline style for cms config
    background-color: var(--color-brand--primary);
    width: var(--icon-size);
    height: var(--icon-size);

    @include mq-motion-allow {
      transition: $ease;
    }
  }
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;
}
