.dropdown-link {
  $icon-active: scaleY(-1);

  position: relative;
  cursor: pointer;

  @include mq-max(lg) {
    &:has([aria-expanded="true"]) {
      .dropdown-link__accordion {
        grid-template-rows: 1fr;
        visibility: visible;
        margin-block-start: 12px;
      }

      .dropdown-link__trigger-icon {
        transform: $icon-active;
      }

      .dropdown-link__list {
        padding: 12px;
      }
    }
  }

  &:hover,
  &:focus-within {
    .dropdown-link__trigger-icon {
      @include mq-min(lg) {
        transform: $icon-active;
      }
    }
    .dropdown-link__list {
      @include mq-min(lg) {
        translate: 0 0;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__trigger {
    --icon-size: 1em;

    @include row-center;
    color: var(--color-font--primary);
    gap: var(--gap-btn-icon);
    border-radius: var(--radius--btn);

    &:focus-visible {
      @include a11y-focus;
    }

    &-icon {
      background: currentColor;
      width: var(--icon-size);
      height: var(--icon-size);
      transition: $ease;
    }
  }

  &__accordion {
    @include mq-max(lg) {
      display: grid;
      grid-template-rows: 0fr;
      visibility: hidden;
      transition: $ease;
    }
  }

  &__list {
    @include column-start;
    gap: 8px;
    background: var(--color-surface--1);
    border-radius: var(--radius--xs);

    @include mq-max(lg) {
      padding-inline: 12px;
      overflow: hidden;
      transition: $ease;
    }

    @include mq-min(lg) {
      --top-offset: 12px;

      padding: 16px;
      position: absolute;
      top: calc(100% + var(--top-offset));
      left: -14px;
      pointer-events: none;
      opacity: 0;
      translate: 0 16px;
      transition: $ease;

      // Bridge for hovering. The gap caused the menu to hide.
      &::before {
        content: "";
        position: absolute;
        top: calc(var(--top-offset) * -1);
        left: 0;
        width: 100%;
        height: var(--top-offset);
      }
    }

    li {
      white-space: nowrap;
    }
  }

  // &__link {

  // }
}
