.faq {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq-max("lg") {
    gap: 24px;
  }

  &-btn {
    border-bottom: 2px solid var(--font-color--primary);
    text-align: left;

    &__question {
      @include h4;
      cursor: pointer;
    }

    &__answer {
      @include body-font-styles;
      display: grid;
      grid-template-rows: 0fr;
      transition: 0.3s ease;

      &-inner {
        overflow: hidden;
      }
    }

    &[aria-expanded="true"] {
      .faq-btn__answer {
        grid-template-rows: 1fr;
      }
    }
  }
}
