@use "../base/mixins";

.icon-svg {
  --icon-size: 1em;

  @include mixins.mask-image();

  width: var(--icon-size);
  height: var(--icon-size);

  &--sm {
    --icon-size: 0.75em;
  }

  &--lg {
    --icon-size: 1.5em;
  }
}
