.link {
  --icon-size: 1.25em;

  display: inline-flex;
  align-items: center;
  gap: var(--gap-btn-icon);
  flex-shrink: 0;

  // link types
  &-type--primary {
    @include button-type-primary;
  }

  &-type--secondary {
    @include button-type-secondary;
  }

  &-type--underline {
    @include button-type-underline;
  }

  &-type--text {
    @include button-type-text;
  }

  &__icon-start,
  &__icon-end {
    background: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);

    @include mq-motion-allow {
      transition: $ease;
    }
  }
}
