.promo-banner {
  background: var(--color-surface--1);
  padding-block: 8px;
  width: 100%;
  max-width: $content-width;
  margin: auto;
  font-size: 16px;
  text-align: center;
  display: block;
  // z-index: calc($z-index--header - 1); // -1 for skip-to-content button
  z-index: $z-index--header;

  @include mq-motion-allow {
    transition: $ease, width 0s;
  }

  @include mq-max(sm) {
    font-size: 12px;
  }

  &:is(a),
  &:is(button) {
    @include desktop-hover {
      filter: brightness(1.25);
    }
  }

  &[data-initial-hide] {
    translate: 0 -100%;
  }

  &.promo-banner--reveal {
    translate: 0 0;
  }

  &.promo-banner--closed {
    pointer-events: none;
  }

  &--fixed {
    position: fixed;
    top: 0;
  }

  &--full-width {
    width: 100vw;
    max-width: 100%;
  }

  .marquee {
    // --clip-sides: 0px;

    font-size: inherit;
    // width: calc(100% - calc(var(--clip-sides) * 2)); // optional side clipping
    // max-width: 1512px; // optional
  }
}
