.plan-selection {
  @include section-padding;
  @include width-clamp;
  @include column-center;
  position: relative;
  text-align: center;
  gap: var(--spacing);
  margin-block: var(--spacing--xl);

  &__toggle-wrapper {
    position: relative;

    @include mq-max(lg) {
      position: sticky;
      top: var(--body-padding);
    }

    .toggle-slider {
      --accent-color: var(--color-brand--primary);
    }

    .tooltip {
      position: absolute;
      right: 0;
      top: 50%;
      translate: calc(100% + 1ch) -50%;
    }
  }

  &:has([data-toggle-option="end"][aria-selected="true"]) {
    [data-toggle-show="end"] {
      opacity: 1;
    }
  }
}

.plan-options {
  $card-gap: var(--spacing--sm);
  $all-cards-gap: calc(var(--spacing--sm) * 2);

  @include row-center;
  gap: var(--spacing--sm);
  margin-block-start: var(--spacing--lg);
  width: 100%;

  @include mq-max(lg) {
    flex-direction: column;
  }

  .plan-option {
    @include column-center;
    border: var(--border-width) solid var(--color-border);
    gap: var(--spacing);
    padding: var(--spacing--xl) var(--spacing);
    border-radius: var(--radius--sm);
    background: var(--color-background);
    width: 100%;

    @include mq-min(lg) {
      max-width: calc(33% - $all-cards-gap);
    }

    &__price-group {
      align-self: stretch;
    }

    [data-toggle-show="end"] {
      opacity: 0;
      transition: 0.5s ease;
    }

    &__line-group {
      @include row-center;
      gap: 1ch;

      .plan-option__line {
        width: 100%;
        height: 1px;
        background-image: linear-gradient(
          90deg,
          #efeeec00,
          #efeeec 25% 75%,
          #efeeec00
        );
        opacity: 0.2;
      }
    }

    &__price {
      font-size: 24px;
      display: inline-flex;
    }

    &__total {
      @include body-font-styles(sm);
      display: inline-flex;

      &-swap {
        margin-inline-end: 0.75ch;
      }
      &-frequency {
        margin-inline-start: 0.75ch;
      }
    }

    &--swap-theme {
      background: initial;
      // need way to invert theme even if the user changes preferences
    }
  }
}
