.tunnel {
  --section-height: 105vh;
  --clip-width: 25vw;
  --clip-height: 50vh; // Requires 'centered: true'
  // --clip-corner-radius: var(--radius);
  --message-y-offset: 0; // -50% to place higher

  @include row-center;
  height: var(--section-height);

  @include mq-max(md) {
    --img-size-start: 180px;
  }

  &:has(.tunnel__message) {
    position: relative;
  }

  &-clip {
    width: var(--clip-width);
    overflow: hidden;

    // optional configs?
    // max-width: $content-width;
    // margin-inline: var(--body-padding);
    border-radius: var(--clip-corner-radius, 0) var(--clip-corner-radius, 0) 0 0;
  }

  &__img {
    height: var(--section-height);
    object-fit: cover;
    filter: brightness(1); // "from" position — see animations.js
    scale: 1.125; // hide cropping when rotated
  }

  &__message-wrapper {
    @include width-clamp;
    @include section-padding;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% var(--message-y-offset, 0);
    text-align: center;
    text-wrap: balance;

    // @include mq-max(sm) {
    //   --message-y-offset: -100%;
    // }

    .tunnel__message {
      @include h2;
      @include text-fill;
      color: $white; // May not need theme swap
      text-transform: uppercase;
      font-weight: 900;
      filter: drop-shadow(0 0 0 rgba(0, 0, 0, 1));

      @include mq-max(md) {
        @include h6;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }

  &--extended {
    --section-height: 125vh;

    @include mq-max(md) {
      --section-height: 110vh;
    }
  }

  // below 'extneded' for specificity
  &--centered {
    --section-height: 200vh;
    @include column-center(flex-start);

    &-pin,
    .tunnel-centered--pin {
      @include column-center;
      height: 100vh;
      width: 100vw;
    }

    .tunnel-clip {
      position: relative;
      width: var(--clip-width);
      height: var(--clip-height);
      transform-origin: center;

      // optional config?
      border-radius: var(--clip-corner-radius, 0);
    }

    .tunnel__img {
      @include absolute-center;
      height: 90vh;
      width: 100vw;
      z-index: -1;

      rotate: -2deg;
      filter: brightness(0.75);
    }
  }
}
