.tunnel {
  --section-height: 105vh;
  --img-size-start: 420px;

  @include row-center;
  height: var(--section-height);

  @include mq-max(md) {
    --img-size-start: 180px;
    // --img-size-start: calc(100% - var(--body-padding-double));
  }

  &:has(.tunnel__message) {
    position: relative;
  }

  &-clip {
    // max-width: $content-width;
    // margin-inline: var(--body-padding);
    width: var(--img-size-start);
    overflow: hidden;
    // border-radius: var(--radius) var(--radius) 0 0;
  }

  &__img {
    height: var(--section-height);
    object-fit: cover;
    filter: brightness(1); // "from" position — see animations.js
    scale: 1.125; // hide cropping when rotated
  }

  &__message-wrapper {
    @include width-clamp;
    @include section-padding;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    text-align: center;
    text-wrap: balance;
  }

  &__message {
    @include h2;
    @include text-fill;
    color: $white; // May not need theme swap
    text-transform: uppercase;
    font-weight: 900;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 1));

    @include mq-max(md) {
      @include h6;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &--extended {
    --section-height: 125vh;

    @include mq-max(md) {
      --section-height: 110vh;
    }
  }

  // below 'extneded' for specificity
  &--centered {
    --section-height: 200vh;
    --clip-width: 50vw;
    --clip-height: 50vh;
    @include column-center(flex-start);

    &-pin,
    .tunnel-centered--pin {
      @include column-center;
      height: 100vh;
      width: 100vw;
    }

    .tunnel-clip {
      position: relative;
      width: var(--clip-width);
      height: var(--clip-height);
      transform-origin: center;
      border-radius: var(--radius);
    }

    .tunnel__img {
      @include absolute-center;
      height: 90vh;
      width: 100vw;
      z-index: -1;

      rotate: -2deg;
      filter: brightness(0.75);
    }
  }
}
