@font-face {
  font-family: "Swera Demo";
  src: url("../fonts/swera-regular-demo.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Swera Demo";
  src: url("../fonts/swera-bold-demo.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.otf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.otf") format("truetype");
}
