.axys-hero {
  // border: $test;
  @include full-viewport-section(true);
  @include row-center;
  @include section-padding;
  margin-block-start: var(--header-height);
  position: relative;

  &__content {
    z-index: 1;
  }

  &__title {
    @include column-start;
  }

  &__background {
    @include absolute-center;
    translate: -50% -50%;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    .axys-hero__layer-tilt {
      width: 100%;
      height: 100%;
    }

    .axys-dots-logo {
      --dots-logo-size: 360px;

      @include absolute-center;
      width: var(--dots-logo-size);
      height: var(--dots-logo-size);
      // filter: blur(1px);
      opacity: 0.5;

      @media all {
        // @include mq-max(xxl) {
        @media (max-width: 1512px) {
          --dots-logo-size: 320px;
        }
        @include mq-max(xl) {
          --dots-logo-size: 280px;
        }
        @include mq-max(lg) {
          --dots-logo-size: 240px;
        }
        @include mq-max(md) {
          --dots-logo-size: 200px;
        }
      }

      &__1,
      &__2 {
        --offset: 9.2%;

        @include absolute-center;
        width: 100%;
        height: 100%;

        @media all {
          // @include mq-max(xxl) {
          @media (max-width: 1512px) {
            --offset: 10.6%;
          }
          @include mq-max(xl) {
            --offset: 10%;
          }
          @include mq-max(lg) {
            --offset: 12%;
          }
          @include mq-max(md) {
            --offset: 14.9%;
          }
        }
      }

      &__1 {
        translate: calc(var(--offset) * -1) calc(-100% + var(--offset));
      }
      &__2 {
        translate: calc(-100% + var(--offset)) calc(var(--offset) * -1);
      }
    }
  }
}
