@use "../base/mixins";
// @use "../variables" as vars;

.blog-article-hero {
  // border: $test;
  // @include mixins.full-viewport-section;

  &__inner {
    @include mixins.section-padding;
    @include mixins.width-clamp;
    @include mixins.column-start;
    gap: var(--section-gap--lg);
    padding-block-start: 32vh;
    height: 100%;
  }

  &__tagline {
    display: block;
    margin-block-end: var(--gap-figure-caption);
  }

  &__title {
    max-width: 650px;
  }

  &__desc {
    max-width: 720px;
  }

  &__figure {
    @include mixins.column-end;
    gap: var(--gap-figure-caption);

    .parallax-wrap {
      overflow: hidden;
      border-radius: var(--radius);
      aspect-ratio: 2 / 1;
    }

    &-img {
      // aspect-ratio: 2 / 1;
      border-radius: var(--radius);
      object-fit: cover;
    }

    figcaption {
      @include mixins.font-styles--body(sm);
      font-style: italic;
    }
  }

  &__text,
  &__extra {
    flex: 1 1 auto;

    @include mixins.mq-min(md) {
      max-width: 50%;
    }
  }

  &__text {
    @include mixins.column-center;

    // &-eyebrow {

    // }

    &-desc {
      margin-block-end: var(--spacing--lg);
      max-width: 750px;
      text-align: center;
      text-wrap: balance;
    }
  }

  // Content Modifiers
}
