.hero-curve-crop {
  --crop-padding: 48px; // to be shared with the nested text-curve-crop component

  // @include full-viewport-section(true);
  @include width-clamp;
  @include row-center;
  height: calc(100vh - var(--header-height));
  min-height: 750px;
  width: calc(100% - var(--body-padding-double));

  position: relative;
  overflow: hidden;
  border-radius: var(--radius--lg);

  @include mq-max("lg") {
    --crop-padding: 24px;
  }

  &__inner {
    @include column-start(center);
    padding: var(--crop-padding);
    height: 100%;
    width: 100%;
  }

  &__content {
    @include column-start(center);
    gap: var(--spacing);
  }

  &__bg-img,
  & > picture {
    @include absolute-center;
    z-index: -2;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__dim {
    @include absolute-center;
    width: 100%;
    height: 100%;
    background: var(--color-overlay);
    z-index: -1;
  }

  // local override
  .text-curve-crop {
    max-width: 80%;
  }
}
