@use "../base/mixins";
@use "../base/variables" as vars;

.plan-selection {
  position: relative;
  margin-block: var(--spacing--xl);

  @include mixins.mq-min(md) {
    overflow: hidden; // for scroll-snap (overflow)
  }

  &__inner {
    @include mixins.width-clamp;
    @include mixins.section-padding;
    @include mixins.column-center;
    text-align: center;
    gap: var(--spacing);
  }

  &__toggle-wrapper {
    position: relative;
    z-index: 2;
    transition: vars.$ease;

    @include mixins.mq-max(lg) {
      position: sticky;
      top: var(--body-padding);
    }

    @include mixins.mq-max(md) {
      width: calc(80% - var(--body-padding-double));
      translate: 0 100%;
    }

    .toggle-slider {
      --toggle-padding: 4px;
      --toggle-radius: 8px;
      --option-padding: var(--padding-btn);
      --accent-color: var(--color-brand--primary);
      background-color: var(--color-background);
    }

    .plan-selection__toggle {
      background: var(--color-background);

      @include mixins.mq-max(md) {
        width: 100%;
        display: flex;

        &-option {
          flex: 1;
        }
      }
    }

    .tooltip {
      position: absolute;
      right: 0;
      top: 50%;
      translate: calc(100% + 1ch) -50%;
    }

    &.watch-scroll--scrolling-down {
      @include mixins.mq-max(md) {
        translate: 0 0;
      }
    }
  }

  &__disclaimer {
    @include mixins.font-styles--mono;
    // color: var(--color-font--secondary);
    color: vars.$green;
    margin-block-start: var(--spacing);

    // If using text-reveal
    display: inline-flex;
    align-items: center;
    gap: 0.75ch;

    .icon-svg {
      translate: 0 -1px;

      @include mixins.mq-motion-allow {
        opacity: 0;
        scale: 0.5;

        &.gsap-animated {
          opacity: 1;
          scale: 1;
          transition: 0.8s vars.$cubic-ease 0.5s;
        }
      }
    }

    &-message {
      line-height: 1; // If using text-reveal
    }

    .btn {
      font-family: inherit;
      line-height: 1; // If using text-reveal

      @include mixins.mq-motion-allow {
        .btn__text::before {
          opacity: 0;
        }

        &.gsap-animated {
          .btn__text::before {
            opacity: 1;
            transition:
              vars.$ease-sudden,
              opacity 0.8s vars.$cubic-ease 1s;
          }
        }
      }
    }
  }

  // if quarterly is selected
  &:has([data-toggle-option="end"][aria-selected="true"]) {
    [data-toggle-show="end"] {
      @include mixins.show-content;
      opacity: 0.8;
      translate: 0 0;
    }

    .plan-option {
      &__price,
      &__message {
        color: var(--color-brand--tertiary);
      }

      &__cta-wrapper--monthly {
        display: none;
      }
      &__cta-wrapper--quarterly {
        display: block;
      }

      &--primary {
        .plan-option__price,
        .plan-option__message {
          filter: brightness(1.25);
        }
      }
    }
  }
}

.plan-options {
  $card-gap: var(--spacing--sm);
  $all-cards-gap: calc(var(--spacing--sm) * 2);

  @include mixins.row-stretch(start);
  gap: var(--spacing--sm);
  margin-block-start: var(--spacing--lg);
  width: 100%;

  @include mixins.mq-max(xl) {
    // border: $test;
    $scroll-bar-color-track: var(--color-brand--primary);
    $scroll-bar-color-thumb: var(--color-surface--1);

    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-block: 12px 24px; // room for scrollbar
    // scroll-padding: 24px; // not working?

    scrollbar-color: $scroll-bar-color-track $scroll-bar-color-thumb;
    &::-webkit-scrollbar-track {
      background: $scroll-bar-color-track;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scroll-bar-color-thumb;
    }
  }

  @include mixins.mq-max(md) {
    flex-direction: column;
    align-items: center;
    margin-inline-start: 0;
    // padding-inline: var(--body-padding);
  }

  .border-ray-trace {
    width: 100%;
  }
  .plan-option {
    @include mixins.card-styles;
    @include mixins.column-center;
    position: relative;
    gap: var(--spacing);
    padding: 80px 24px 40px;
    background: var(--color-background);
    width: 100%;
    overflow: hidden;

    @media all {
      @include mixins.mq-max(xl) {
        min-width: 420px;
        scroll-snap-align: start;
      }

      @include mixins.mq-max(md) {
        min-width: 0;
        width: 100%;
        max-width: 520px;
      }

      @include mixins.mq-max(sm) {
        padding: 64px 12px 32px;
      }
    }

    &__title {
      color: var(--color-font--primary);
    }

    &__price-group {
      align-self: stretch;

      [data-toggle-show="end"] {
        @include mixins.hide-content;
        translate: 0 8px;
        // scale: 0.9;
        transition: vars.$ease;
      }
    }

    &__line-group {
      @include mixins.row-center;
      gap: 1ch;

      .plan-option__divider {
        @include mixins.gradient-divider;
      }
    }

    &__price {
      font-size: 24px;
      display: inline-flex;
      transition: vars.$ease;

      &-frequency {
        white-space: nowrap; // fixes issue on firefox
      }
    }

    &__total {
      @include mixins.font-styles--body(sm);
      display: inline-flex;

      &-swap {
        margin-inline-end: 0.75ch;
      }
      &-frequency {
        margin-inline-start: 0.75ch;
      }
    }

    &__perks {
      @include mixins.column-start;
      gap: 1ch;
      margin-block: var(--spacing) var(--spacing--lg);

      li {
        text-align: start;
        display: flex;
        align-items: center;
        gap: 0.5ch;
      }
    }

    &__message {
      @include mixins.font-styles--body(sm);
      @include mixins.font-styles--mono;
    }

    &__cta-wrapper {
      @include mixins.mq-max(sm) {
        margin-block-start: 48px;
        // align-self: stretch;

        .btn {
          @include mixins.wide-btn;
        }
      }
    }

    &__cta-wrapper--quarterly {
      display: none;
    }

    &:has(.noise) {
      > * {
        z-index: 1;
      }

      .noise {
        position: absolute;
        top: 0;
        opacity: 0.75;
        pointer-events: none;
        z-index: 0;

        @include mixins.mq-touch {
          opacity: 0.5;
        }
      }
    }

    &--primary {
      --color-font--primary: #{vars.$black};

      --color-btn-border: #{vars.$white};
      --color-btn-bg: #{vars.$white};
      --color-btn-text: #{vars.$black};

      --color-btn-border--hover: #{vars.$white};
      --color-btn-bg--hover: transparent;
      --color-btn-text--hover: #{vars.$white};

      background: linear-gradient(
        110deg,
        vars.$white -50%,
        var(--color-brand--primary) 30% 70%,
        vars.$white 150%
      );

      *::selection {
        background-color: rgba(vars.$white, 0.5);
      }

      .plan-option__divider {
        @include mixins.gradient-divider(vars.$black);
      }

      .plan-option__price {
        color: var(--color-font--primary);
      }
    }
  }

  .gsap-stagger-child {
    opacity: 0;
    translate: 0 96px;

    &.gsap-stagger-animate {
      opacity: 1;
      translate: 0 0;
      transition: vars.$ease-sudden;
    }
  }
}
