.accordion {
  display: flex;
  flex-direction: column;

  &-btn {
    $border: var(--border-bold-girth) solid var(--border-bold-color);

    // color: var(--font-color--primary);
    border-bottom: $border;
    text-align: left;
    padding-block: 24px;

    &:first-of-type {
      border-top: $border;
    }

    &[aria-expanded="true"] {
      .accordion-label__icon {
        rotate: 90deg;
      }

      .accordion-content {
        grid-template-rows: 1fr;
        visibility: visible;
      }
    }
  }

  &-label {
    @include row-start(space-between);
    @include h4;
    gap: 24px;

    @include mq-max("sm") {
      gap: 12px;
    }

    &__title {
      @include inherit-font;
      cursor: pointer;
    }

    &__icon {
      display: inline-flex;
      transition: $ease, $magnet;
    }
  }

  &-content {
    @include body-font-styles;
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    transition: $ease;

    &__inner {
      overflow: hidden;
    }
  }
}
