.accordion {
  display: flex;
  flex-direction: column;

  &-btn {
    $border: var(--border-width--bold) solid var(--color-border);

    // color: var(--color-font--primary);
    border-bottom: $border;
    text-align: left;
    padding-block: 20px;

    @include mq-motion-allow {
      transition: border $ease;
    }

    @include desktop-hover {
      border-color: var(--color-brand--primary);
    }

    // &:first-of-type {
    //   border-top: $border;
    // }

    &[aria-expanded="true"] {
      .accordion-content {
        grid-template-rows: 1fr;
        visibility: visible;
      }

      .accordion-label__icon {
        // rotate: 180deg;
        transform: scaleY(-1);
      }

      .accordion-label__plus {
        &-line:last-of-type {
          rotate: 0deg;
        }
      }
    }
  }

  &-label {
    @include font-styles--body(lg);
    @include row-start(space-between);
    gap: 24px;

    @include mq-max(sm) {
      gap: 12px;
    }

    &__title {
      @include inherit-font;
      cursor: pointer;
    }

    &__icon,
    &__plus {
      --icon-size: 2.5ch;
      --plus-size: 1.25ch;

      width: var(--icon-size);
      height: var(--icon-size);
      flex-shrink: 0;
      display: inline-flex;

      @include mq-motion-allow {
        transition: $ease;
      }
    }

    &__plus {
      position: relative;

      &-line {
        @include absolute-center;
        width: var(--plus-size);
        height: 2px;
        background: var(--color-font--primary);
      }

      &-line:last-of-type {
        rotate: 90deg;

        @include mq-motion-allow {
          transition: $ease;
        }
      }
    }
  }

  &-content {
    @include font-styles--body;
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;

    @include mq-motion-allow {
      transition: $ease;
    }

    &__inner {
      overflow: hidden;
    }
  }
}
