.main-library-advanced {
  .dots-field {
    @include column-center;
    gap: var(--section-gap--lg);

    svg {
      @include row-center;
      overflow: visible;

      circle {
        fill: var(--color-font--primary);
        opacity: 0.5;
      }
    }
  }

  .grid-flow-img-section {
    @include column-center;
    gap: 128px;
  }
}
