// .badges-group {

// }

.badge {
  --icon-size: 12px;

  display: inline-flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-badge);
  color: var(--color-badge);
  border-radius: 128px;
  padding: 4px 12px;
  font-size: 14px;
  // text-transform: uppercase;

  &__icon {
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
