// .badges-group {

// }

.badge {
  --icon-size: 12px;

  display: inline-flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-badge);
  color: var(--color-badge);
  // border-radius: var(--radius--xs);
  border-radius: 296px;
  padding: 4px 8px;
  font-size: 14px;
  // text-transform: uppercase;

  &__icon {
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &-type--solid {
    background: var(--color-brand--primary);
    color: var(--color-font--primary);
  }

  &-type--outline {
    background: transparent;
  }

  &-type--glass {
    background: var(--color-glass-frost);
    border-color: var(--color-glass-frost);
    backdrop-filter: blur(4px);
    color: var(--color-font--primary);
  }
}
