.btn-back-to-top {
  @include hide-content;
  @include right-spacing;
  position: fixed;
  bottom: var(--body-padding);
  scale: 0.25;
  z-index: $z-index--btn-back-to-top;

  &:focus-visible {
    @include show-content;
    scale: 1;
  }

  &--away-from-top {
    @include show-content;
    scale: 1;
  }

  &--near-bottom {
    @include hide-content;
    scale: 0.25;
  }
}
