.btn-play {
  --btn-size: 48px;
  $icon-swap-scale: 0.5;
  $icon-swap-duration: 0.3s;
  $icon-swap-delay: 0.2s;

  display: grid;
  margin-block: var(--content-spacing) calc(var(--content-spacing) / 2);
  // align-self: flex-end;
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  padding: 12px;
  scroll-margin-top: 520px;

  @include mq-max("xxl") {
    scroll-margin-top: 360px;
  }

  @include mq-max("lg") {
    --btn-size: 40px;
    padding: 10px;
  }

  @include mq-max("sm") {
    --btn-size: 36px;
    padding: 10px;
  }

  &-icon {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    background: var(--color-font--primary);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    &--playing {
      mask-image: url("/static/img/icon-pause.svg");
      opacity: 1;
      scale: 1;

      @include mq-motion-allow {
        transition: $icon-swap-duration $cubic-ease $icon-swap-delay;
      }
    }

    &--paused {
      mask-image: url("/static/img/icon-play.svg");
      opacity: 0;
      scale: $icon-swap-scale;

      @include mq-motion-allow {
        transition: $icon-swap-duration $cubic-ease 0s;
      }
    }
  }

  &.paused {
    .carousel__btn-icon--playing {
      opacity: 0;
      scale: $icon-swap-scale;

      @include mq-motion-allow {
        transition: $icon-swap-duration $cubic-ease 0s;
      }
    }

    .carousel__btn-icon--paused {
      opacity: 1;
      scale: 1;

      @include mq-motion-allow {
        transition: $icon-swap-duration $cubic-ease $icon-swap-delay;
      }
    }
  }
}

.btn-toggle {
  $switch-width: 64px;
  $switch-padding: 4px;

  @include row-center;
  gap: 12px;

  &__label {
    @include body-font-styles;
  }

  &__switch {
    @include row-center(space-around);
    position: relative;
    padding-inline: $switch-padding;
    width: $switch-width;
    height: 32px;
    border-radius: var(--radius);
    background: $grey-light;

    &::before,
    &::after {
      color: $white;
      font-weight: 700;
      font-size: 12px;

      @include mq-motion-allow {
        transition: $ease;
      }
    }

    &::before {
      content: attr(data-label-true);
      opacity: 0;
    }

    &::after {
      content: attr(data-label-false);
      opacity: 1;
    }

    &-nob {
      position: absolute;
      left: $switch-padding;
      width: 24px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: $white;

      @include mq-motion-allow {
        transition: $ease;
      }
    }
  }

  &[aria-pressed="true"] {
    .btn-toggle__switch {
      background: var(--color-brand--primary);
    }
    .btn-toggle__switch::before {
      opacity: 1;
    }
    .btn-toggle__switch::after {
      opacity: 0;
    }
    .btn-toggle__switch-nob {
      translate: calc($switch-width - $switch-padding * 8) 0;
    }
  }
}
