.carousel-snap-section {
  overflow: hidden;
}

.carousel-snap {
  &__controls {
    @include row-center(space-between);
    padding-block: 24px;

    // // Conditioanl Hiding based on wrapping, ALSO SEE JS MEDIA QUERY
    // display: none;

    // @include mq-max("lg") {
    //   display: block;
    // }
    // // Conditioanl Hiding based on wrapping

    button {
      color: var(--font-color--primary);

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__track {
    overflow: hidden;
    position: relative;

    // @include mq-max("lg") {
    cursor: grab; // Conditional media query based on wrapping

    &:active {
      cursor: grabbing;
    }
    // }

    &-inner {
      display: flex;
      gap: var(--carousel-snap-gap);
      transition: transform 0.3s ease-in-out;
      will-change: transform;

      // // Conditional wrapping, ALSO SEE JS MEDIA QUERY
      // flex-wrap: wrap;
      // @include mq-max("lg") {
      //   flex-wrap: nowrap;
      // }
      // // Conditioanl wrapping end
    }
  }

  &__track-item {
    flex: 1;
    min-width: calc(33% - var(--carousel-snap-gap) / 3);

    // // Conditional wrapping
    // min-width: calc(30% - var(--carousel-snap-gap) / 3);
    // // Conditioanl wrapping end

    @include mq-max("lg") {
      min-width: 500px;
    }

    @include mq-max("md") {
      min-width: 250px;
    }

    img {
      // Conditional media query based on wrapping
      // @include mq-max("lg") {
      pointer-events: none;
      user-select: none;
      // }
    }
  }
}
