.carousel-snap-section {
  overflow: hidden;
}

.carousel-snap {
  &__controls {
    @include row-center(space-between);
    padding-block: 24px;

    // // Conditioanl Hiding based on wrapping, ALSO SEE JS MEDIA QUERY
    // display: none;

    // @include mq-max("lg") {
    //   display: block;
    // }
    // // Conditioanl Hiding based on wrapping

    button {
      color: var(--font-color--primary);

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .carousel-snap-autoplay-toggle {
      $switch-width: 64px;
      $switch-padding: 4px;

      @include row-center;
      gap: 12px;

      &__label {
        @include body-font-styles;
      }

      &__switch {
        @include row-center(space-around);
        position: relative;
        padding-inline: $switch-padding;
        width: $switch-width;
        height: 32px;
        border-radius: var(--radius);
        background: $grey-light;

        &::before,
        &::after {
          color: $white;
          font-weight: 700;
          font-size: 12px;

          @include mq-motion-allow {
            transition: $ease;
          }
        }

        &::before {
          content: "ON";
          opacity: 0;
        }

        &::after {
          content: "OFF";
          opacity: 1;
        }

        &-ball {
          position: absolute;
          left: $switch-padding;
          width: 24px;
          aspect-ratio: 1;
          border-radius: 50%;
          background: $white;

          @include mq-motion-allow {
            transition: $ease;
          }
        }
      }

      &[aria-pressed="true"] {
        .carousel-snap-autoplay-toggle__switch {
          background: #007bff;
        }
        .carousel-snap-autoplay-toggle__switch::before {
          opacity: 1;
        }
        .carousel-snap-autoplay-toggle__switch::after {
          opacity: 0;
        }
        .carousel-snap-autoplay-toggle__switch-ball {
          translate: calc($switch-width - $switch-padding * 8) 0;
        }
      }
    }
  }

  &__track {
    overflow: hidden;
    position: relative;

    // @include mq-max("lg") {
    cursor: grab; // Conditional media query based on wrapping

    &:active {
      cursor: grabbing;
    }
    // }

    &-inner {
      display: flex;
      gap: var(--carousel-snap-gap);
      transition: transform 0.3s ease-in-out;
      will-change: transform;

      // // Conditional wrapping, ALSO SEE JS MEDIA QUERY
      // flex-wrap: wrap;
      // @include mq-max("lg") {
      //   flex-wrap: nowrap;
      // }
      // // Conditioanl wrapping end
    }
  }

  &__track-item {
    flex: 1;
    min-width: calc(33% - var(--carousel-snap-gap) / 3);

    // // Conditional wrapping
    // min-width: calc(30% - var(--carousel-snap-gap) / 3);
    // // Conditioanl wrapping end

    @include mq-max("lg") {
      min-width: 500px;
    }

    @include mq-max("md") {
      min-width: 250px;
    }

    img {
      // @include mq-max("lg") {
      pointer-events: none; // Conditional media query based on wrapping
      // }
    }
  }
}
