.grid-flow-parent {
  position: relative;
  overflow: hidden;
  margin: auto;
  height: auto;
  aspect-ratio: 1.75 / 1; // Remember to update the js

  @include mq-motion-reduce {
    canvas {
      display: none !important;
    }
  }

  // img & canvas
  & > * {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: bottom;
  }

  &--lg {
    width: calc(100% - var(--body-padding-double));

    @include mq-max("md") {
      width: 100%;
    }
  }
  &--md {
    width: 50%;

    @include mq-max("md") {
      width: 100%;
    }
  }
}
