.horizontal-scroll {
  overflow: hidden;
  height: 100vh;
  min-height: 850px;

  @include mq-max(xxl) {
    min-height: 650px;
  }

  &:has(&__title),
  &:has(&__desc) {
    .container {
      height: 80%;
    }
  }

  // &__title {

  // }

  &__desc {
    margin-block-end: var(--section-gap--lg);

    @include mq-max(xxl) {
      margin-block-end: var(--section-gap);
    }
  }

  .container {
    // border: $test;
    display: flex;
    align-items: center;
    height: 100%; // Conditionally changes from 85% if there's a title or description.

    .slider {
      height: 100%;
      display: flex;
      gap: 12px;
    }
  }

  &__figure {
    // Couldn't get aspect ratio to work
    @include column-start;
    width: min(25vw, 450px);

    @include mq-max(xl) {
      width: 350px;
    }

    picture {
      overflow: hidden;
      height: 100%;
    }

    img {
      height: 100%;
      width: auto;
    }

    &--parallax {
      picture {
        justify-content: flex-end;
      }
    }
  }

  &__message {
    white-space: nowrap;
    font-size: 12vw;
  }
}
