.marquee {
  $gap-offset: 0.5ch; // inline padding start and in-between duplicate span

  @include h2; // Setting font here to use ch units above
  line-height: 1.5;
  padding-inline: 0;
  overflow: hidden;
  // width: 100vw; // causing x overflow scroll?
  width: 100%;
  // max-width: $content-width; // Clip at content-width
  margin: auto;

  // The slider
  &-inner {
    display: flex;
    align-items: center;
    width: fit-content;
    // will-change: transform; // use sparingly.

    .alternate-img {
      display: inline-block;
      transition: $ease;
    }

    &:nth-of-type(odd) {
      .alternate-img {
        // rotate: 180deg;
        transform: scaleX(-1);
      }
    }

    // nested targets (should have two divs/spans)
    &__split {
      @include inherit-font;
      text-wrap: nowrap;
      display: inline-flex;
      gap: $gap-offset;
      flex-wrap: nowrap;
      width: 100%;
      padding-inline-end: $gap-offset;
    }
  }

  &--imgs {
    @include column-start;
    gap: $gap-offset; // gap between each marquee, if more than one

    picture {
      display: block;
      width: 320px;

      @include mq-max(md) {
        width: 180px;
      }

      img {
        height: 100%;
      }
    }
  }

  &--alternated {
    .alternate-img {
      // rotate: 180deg;
      transform: scaleX(-1);
    }

    .marquee-inner:nth-of-type(odd) {
      .alternate-img {
        // rotate: 0deg;
        transform: scaleX(1);
      }
    }
  }
}
