.marquee {
  $gap-offset: 0.5ch; // space between duplicate span

  @include h2; // Setting font here to use ch units above
  @include section-padding;
  overflow: hidden;
  width: 100vw;
  max-width: $content-width;

  &-inner {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-inline-end: $gap-offset;
  }

  .marquee-text {
    @include inherit-font;
    line-height: 100%;
    display: inline-flex;
    text-wrap: nowrap;
    gap: $gap-offset;
  }
}
