.mouse-cursor,
.mouse-cursor--elastic {
  $ease-opacity: opacity $ease 0s;
  $ease-size: width 0.5s ease, height 0.5s ease;

  position: fixed;
  top: 0;
  pointer-events: none;
  translate: -50% -50%;
  z-index: $z-index--mouse-cursor;
  transition: opacity 0.3s ease 0.2s; // Initial display
  // Transition for movement controlled by js for browser compatibility (old safari issues)

  @include mq-touch {
    display: none;
  }
  @include mq-motion-reduce {
    display: none;
  }

  &__shape {
    --size: 48px;

    border: 2px solid var(--color-font--primary);
    opacity: 0.25;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: $ease-opacity, $ease-size;
  }

  &.hidden {
    .mouse-cursor__shape {
      opacity: 0;
      width: 148px; // scale makes the border thick
      height: 148px;
    }
  }

  // Arbitrary custom class added to test reshaping the cursor
  &.test-class {
    .mouse-cursor__shape {
      --size: 32px;

      opacity: 1;
      transition: $ease-size, opacity $ease 0.12s;
    }
  }

  &--burger {
    .mouse-cursor__shape {
      --size: 64px;
    }
  }
}
