.site-nav-btn {
  @include row-center;
  gap: 12px; // between text and icon
  transition: $ease, $magnet;

  &:hover,
  &:focus-visible {
    .site-nav-btn__text {
      margin-inline-end: 12px;
    }

    .site-nav-btn__icon {
      scale: 1.1;
    }
  }

  &:active {
    .site-nav-btn__icon {
      scale: 0.9;
    }
  }

  &__text {
    color: var(--color-font--primary);
    transition: $ease;
  }

  &__icon {
    aspect-ratio: 1;
    transition: $ease, $magnet;

    &--burger {
      $stroke-offset: 3px;
      $stroke-height: 2px;
      $stroke-width: 100%;

      position: relative;
      width: 24px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-width;
        height: $stroke-height;
        transition: $ease;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
        }

        &.stroke-2 {
          translate: -50% calc(-50% + $stroke-offset);
        }
      }
    }

    &--chocolate {
      $stroke-size: 3px;

      // border: $test;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;

      .site-nav-btn__stroke {
        width: $stroke-size;
        height: $stroke-size;

        transition: $ease;
      }
    }

    &--kebab {
      $stroke-offset: 8px;
      $stroke-size: 4px;

      position: relative;
      width: 24px;

      .site-nav-btn__stroke {
        @include absolute-center;

        width: $stroke-size;
        height: $stroke-size;

        &.stroke-1 {
          translate: -50% calc(-50% - $stroke-offset);
          // translate: calc(-50% - $stroke-offset) -50%;
        }

        &.stroke-3 {
          translate: -50% calc(-50% + $stroke-offset);
          // translate: calc(-50% + $stroke-offset) -50%;
        }
      }
    }

    &.round {
      .site-nav-btn__stroke {
        border-radius: 24px;
      }
    }
  }

  &__stroke {
    background: var(--color-font--primary);
    transition: $ease;
  }

  &[aria-expanded="true"] {
    .site-nav-btn__icon--burger {
      .site-nav-btn__stroke {
        translate: -50% -50%;

        &:first-of-type {
          rotate: 45deg;
        }
        &:last-of-type {
          rotate: -45deg;
        }
      }
    }

    .site-nav-btn__icon--chocolate {
      .site-nav-btn__stroke {
        &.stroke-2,
        &.stroke-4,
        &.stroke-6,
        &.stroke-8 {
          scale: 0;
        }
      }
    }
  }
}
