.price-cards {
  &__inner {
    @include section-padding;
    @include width-clamp;
    @include column-center;
    gap: var(--section-gap);
  }

  &__text-group {
    @include column-center;
    gap: var(--spacing--sm);
  }

  // &__title {

  // }

  &__desc {
    max-width: var(--max-width--text);
    text-align: center;
  }

  &__group {
    display: flex;
    align-items: stretch;
    gap: var(--section-gap);
    margin-block-start: var(--spacing);
    width: 100%;

    @include mq-max(xl) {
      flex-direction: column;
    }
  }

  .price-card {
    @include column-start(flex-start);
    background: var(--color-surface--1);
    padding: var(--section-gap);
    flex: 1;
    border-radius: var(--radius--sm);

    &__title {
      @include row-center;

      &-desc {
        @include font-styles--body;
        margin-block-start: 4px;
        margin-inline-start: 1ch;
      }
    }

    // &__desc {

    // }

    &__price {
      @include font-styles--body(lg);

      &-desc {
        @include font-styles--body(sm);
        margin-block-start: 4px;
        margin-inline-start: 0.5ch;
        opacity: 0.75;
      }
    }

    &__divider {
      margin-block: var(--spacing);
    }

    .cta-group {
      margin-block-start: var(--spacing--xl);
    }
  }
}
