.promo-banner {
  border: $test;

  font-size: 16px;
  width: 100%;
  max-width: $content-width;
  margin: auto;

  @include mq-max(sm) {
    font-size: 12px;
  }

  &--fixed {
    position: fixed;
    top: 0;
  }

  &--full-width {
    width: 100vw;
    max-width: 100%;
  }

  .marquee {
    font-size: inherit;
  }
}
