.solar-system {
  // border: $test;
  font-size: 16px;

  position: relative; // for center image
  margin: auto;
  padding: 5em; // prevent cropping for translated badges
  overflow: hidden;

  @include mq-max(lg) {
    font-size: 14px;
  }

  .orbit {
    @include row-center;
    position: relative;
    border: 1px solid var(--color-border);
    padding: 8em;
    min-width: 25em;
    max-width: 750px;
    aspect-ratio: 1;
    border-radius: 50%;

    @include mq-max(lg) {
      min-width: 20em;
    }

    &-badge {
      @include row-center;
      gap: 8px;
      // border: 2px solid var(--color-background);
      font-size: 1em;
      position: absolute;
      background: var(--color-surface--1);
      width: auto;
      padding: 8px 16px;
      border-radius: 24px;
      z-index: 1;

      // &__icon {

      // }
    }

    &.orbit-1 {
      // Shift orbit to crop
      $solar-system-offset: 148px;

      // translate: 0 $solar-system-offset;
      // margin-block-end: -$solar-system-offset;
      animation: spin-reverse 24s linear infinite;

      & > .orbit-badge {
        animation: spin 24s linear infinite;
      }

      &.orbit-size-3 {
        $x: 0em;
        $y: -8em;

        & > .orbit-badge-1 {
          top: 0;
          left: 50%;
          translate: -50% -50%;
        }

        & > .orbit-badge-2 {
          bottom: 0;
          right: 0;
          translate: $x $y;
        }

        & > .orbit-badge-3 {
          bottom: 0;
          left: 0;
          translate: -$x $y;
        }
      }

      &.orbit-size-4 {
        & > .orbit-badge-1 {
          top: 0;
          left: 50%;
          translate: -50% -50%;
        }

        & > .orbit-badge-2 {
          top: 50%;
          right: 0;
          translate: 50% -50%;
        }

        & > .orbit-badge-3 {
          top: auto;
          bottom: 0;
          left: 50%;
          translate: -50% 50%;
        }

        & > .orbit-badge-4 {
          top: 50%;
          left: 0;
          translate: -50% -50%;
        }
      }
    }

    &.orbit-2 {
      animation: spin 12s linear infinite;

      .orbit-badge {
        animation: spin-reverse 24s linear infinite;
      }

      &.orbit-size-3 {
        $x: 2.125em;
        $y: -6em;

        & > .orbit-badge-1 {
          top: 0;
          left: 50%;
          translate: -50% -50%;
        }

        & > .orbit-badge-2 {
          bottom: 0;
          left: 0;
          translate: -$x $y;
        }

        & > .orbit-badge-3 {
          bottom: 0;
          right: 0;
          translate: $x $y;
        }
      }

      &.orbit-size-4 {
        & > .orbit-badge-1 {
          top: 0;
          left: 50%;
          translate: -50% -50%;
        }

        & > .orbit-badge-2 {
          top: 50%;
          left: 0;
          translate: -50% -50%;
        }

        & > .orbit-badge-3 {
          top: auto;
          bottom: 0;
          left: 50%;
          translate: -50% 50%;
        }

        & > .orbit-badge-4 {
          top: 50%;
          right: 0;
          translate: 50% -50%;
        }
      }
    }
  }

  .orbit-image {
    @include absolute-center;
    aspect-ratio: 1;
    object-fit: cover;
    width: 12em;
    border-radius: 50%;
  }

  @keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }

  @keyframes spin-reverse {
    from {
      rotate: 0deg;
    }
    to {
      rotate: -360deg;
    }
  }
}
