.stack-scroll {
  // $panel-height: calc(100lvh - var(--body-padding-double));
  $panel-to-top: 200px; // Match with panelToTop in animation.js
  $panel-height: calc(100lvh - $panel-to-top * 2);

  position: relative;

  // Optional nav
  &__nav {
    @include row-center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: calc($panel-to-top / 2); // margin is choppy with scrolltrigger
    padding-inline: var(--body-padding);

    &-link {
      opacity: 0.5;

      @include mq-max(md) {
        font-size: 14px;
      }

      &:hover,
      &:focus-visible {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  // Optional section copy
  &__copy {
    @include column-start;
    gap: var(--section-gap);

    // &-title {

    // }

    // &-desc {

    // }

    &--pinned {
      position: absolute;
      top: 50%;
      translate: 0 -50%; // Consider config for alignment?
      // top: calc($panel-to-top + var(--body-padding));
      // left: var(--body-padding);

      @include mq-min(lg) {
        max-width: 40%;
      }

      @include mq-max(lg) {
        display: none;
      }
    }

    &--unpinned {
      display: none;

      @include mq-max(lg) {
        display: flex;
      }
    }
  }

  .stack-panel {
    // @include gradient-border;
    @include column-start(flex-start);
    gap: var(--section-gap);
    position: absolute;
    // See component modifiers for placement
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    height: max($panel-height, 400px);
    width: calc(100% - var(--body-padding-double));
    padding: var(--body-padding);
    transform-origin: top center;
    background: var(--color-background);
    // background: rgba($black, 0.75);
    // backdrop-filter: blur(4px);
    // transform-origin: bottom center;

    @include mq-max(lg) {
      width: 100%;
    }

    &-1 {
      top: $panel-to-top !important; // Strange specificity issue when I introduced the stack-scroll__copy?
    }

    &:nth-of-type(n + 2) {
      top: 120%;
    }

    &__icon {
      width: 48px;
      height: 48px;
      background: var(--color-font--primary);
    }

    // &__title {

    // }

    // &__desc {

    // }

    .cta-group {
      margin-top: auto;
    }
  }

  .stack-pin {
    // Need vh, can't use percentage since it's children are position absolute
    height: calc(100lvh - var(--body-padding-double));
  }

  .pin-steps {
    top: var(--body-padding);
    height: calc(100% - var(--body-padding));

    // Panel linger options — May need to adjust the Stack Link highlight
    // gap: 320px; // all but last panel linger
    padding-bottom: 320px; // Last panel linger

    .pin-step {
      scroll-margin-top: -24px;
    }
  }

  // Modifiers
  &.full {
    .stack-scroll__copy--unpinned {
      display: flex;
    }

    .stack-scroll__copy--pinned {
      display: none;
    }
  }

  &.half {
    .stack-panel {
      @include mq-min(lg) {
        width: max(500px, 50%);
      }
    }
  }

  &.center {
    .stack-panel {
      left: 50%;
      translate: -50% 0;
    }

    .stack-scroll__copy--pinned {
      display: none;
    }

    .stack-scroll__copy--unpinned {
      display: flex;
    }
  }

  &.right {
    .stack-panel {
      right: var(--body-padding);

      @include mq-max(lg) {
        right: 0;
      }
    }
  }

  &.left {
    .stack-scroll__copy--pinned {
      right: var(--body-padding);
    }
  }
}
