// .tabs-section {

// }

.tabs {
  &__controls {
    padding-block: var(--section-gap);
  }

  &__btn {
    &--active {
      background: var(--color-font--primary);
      color: var(--color-background);
    }
  }

  &__panel {
    img {
      max-width: 480px;
    }

    &--hidden {
      display: none;
    }
  }
}
