// Unified for both component and utillity
.tabs {
  &-list {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &-option {
    opacity: 0.5;
    border-bottom: 1px solid transparent;

    &--active,
    &[aria-selected="true"] {
      // Be mindful to remove any styles here that might conflict with 'toggle-slider' styles
      opacity: 1;
      text-transform: underline;
      border-bottom: 1px solid currentColor;
    }
  }

  &-content {
    margin-block-start: var(--spacing);
  }

  &:has(.toggle-slider) {
    // Remove any styles added above or override them here when using 'toggle-slider' styles
    .tabs-option {
      border: none;
    }
  }
}
