.tabs {
  &__controls {
    padding-block: var(--section-gap);
  }

  &__btn {
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__panel {
    &--hidden {
      display: none;
    }
  }
}
