.theme-toggle {
  $toggle-padding: 2px;
  $toggle-radius: 4px;
  $toggle-radius--inner: calc($toggle-radius - $toggle-padding);

  @include row-center;
  position: relative;
  gap: 8px;
  padding: $toggle-padding;
  border: none;

  &__option {
    position: relative;
    @include row-center;
    padding: 6px;
    border-radius: var(--radius--xs);
    transition: $ease;
    cursor: pointer;

    &:hover {
      background: rgba(darkslategrey, 0.25);
    }

    &:has(input:focus-visible) {
      @include a11y-focus;
    }

    &:has(input:checked) {
      .theme-toggle__icon {
        opacity: 1;
      }
    }

    .theme-toggle__icon {
      opacity: 0.5;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__icon {
    @include mask-image();
    background-color: var(--color-font--primary);
    width: 16px;
    pointer-events: none;

    &--desktop {
      display: none;

      // @include mq-mouse {
      @include mq-min(lg) {
        display: block;
      }
    }

    &--mobile {
      display: none;

      // @include mq-touch {
      @include mq-max(lg) {
        display: block;
      }
    }
  }

  // If using prop use_multi_toggle
  &--multi {
    border: var(--border-width) solid var(--color-border);
    border-radius: $toggle-radius;

    .theme-toggle__option {
      &:hover {
        background: none;
      }
    }

    &__slider {
      position: absolute;
      top: $toggle-padding;
      left: $toggle-padding;
      height: calc(100% - $toggle-padding * 2);
      background: rgba(darkslategrey, 0.25);
      border-radius: $toggle-radius--inner;
      transition: $ease;
      z-index: -1;
    }
  }
}
