// .tooltip-section {

// }
$tooltip-font-size: 14px;
$tooltip-undeline-offset: 4px;

// Component (Static)
.tooltip {
  $icon-size: 20px;

  // border: $test;
  position: relative;
  display: inline-block;
  // isolation: isolate;

  &__btn {
    padding: 0;
    cursor: help;

    &:hover,
    &:focus {
      + .tooltip__message {
        @include show-content;
        translate: 0 0;
        // z-index: -1;

        &.right,
        &.left {
          translate: 0 -50%;
        }
      }
    }

    &-text {
      @include tooltip-text-decoration;
      padding-inline: 0.5ch;
    }

    &-icon {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      aspect-ratio: 1;
    }
  }

  &__message {
    $message-offset: calc(100% + 0.5ch);

    @include hide-content;
    position: absolute;
    width: 40vw;
    min-width: 180px;
    background: var(--color-surface--1);
    padding: var(--padding-btn);
    border-radius: var(--radius--btn);
    z-index: 1;
    transition: $ease;

    &:hover {
      @include show-content;
    }

    &.lg {
      width: 48vw;
    }
    &.md {
      width: 32vw;
    }
    &.sm {
      width: 16vw;
    }

    &.top {
      bottom: $message-offset;
      translate: 0 12px;

      &:hover {
        translate: 0 0;
      }
    }

    &.right {
      left: $message-offset;
      top: 50%;
      translate: -12px -50%;

      &:hover {
        translate: 0 -50%;
      }
    }

    &.bottom {
      top: $message-offset;
      translate: 0 -12px;

      &:hover {
        translate: 0 0;
      }
    }

    &.left {
      right: $message-offset;
      top: -50%;
      translate: 12px -50%;

      &:hover {
        translate: 0 -50%;
      }
    }

    p {
      font-size: $tooltip-font-size;
    }
  }
}

// Util (Follows mouse)
.tooltip-util {
  @include tooltip-text-decoration;
  cursor: help;
}

.tooltip-util-message {
  @include hide-content;
  position: fixed;
  top: 0;
  background: var(--color-surface--1);
  border-radius: var(--radius--btn);
  padding: var(--padding-btn);
  font-size: $tooltip-font-size;
  transition: $ease;

  &.active {
    opacity: 1;
  }

  // Viewport zones/quadrants
  $offset: 20px;
  $default-position: $offset $offset;

  &.top-left {
    translate: $default-position;
  }

  &.top {
    translate: -50% $offset;
  }

  &.top-right {
    translate: calc(-100% - $offset) $offset;
  }

  &.left {
    translate: $default-position;
  }

  &.center {
    translate: -50% $offset;
  }

  &.right {
    translate: calc(-100% - $offset) $offset;
  }

  &.bottom-left {
    translate: $offset calc(-100% - $offset);
  }

  &.bottom {
    translate: -50% calc(-100% - $offset);
  }

  &.bottom-right {
    translate: calc(-100% - $offset) calc(-100% - $offset);
  }
}
