$tooltip-font-size: 14px;
$tooltip-underline-offset: 0.5ch; // used in mixins.scss
$tooltip-bubble-gap: 1ch;
$tooltip-bubble-translate-distance: 12px;
$bubble-point-size: 24px;

// Component (Static)
.tooltip {
  $icon-size: 20px;
  $message-offset: calc(100% + $tooltip-bubble-gap);

  position: relative;
  display: inline-block;

  // Using mixins since 'right' and 'left' convert to 'top' or 'bottom' on mobile
  @mixin message-top {
    bottom: $message-offset;
    left: 50%;
    translate: -50% $tooltip-bubble-translate-distance;

    &:hover {
      translate: -50% 0;
    }

    &::after {
      bottom: 0;
      left: 50%;
      translate: -50% 0;
    }
    &::before {
      // helper for hovering message bubble (across gap)
      margin-block-end: -$tooltip-bubble-gap;
    }
  }

  @mixin message-top-right {
    bottom: $message-offset;
    left: 0;
    translate: -$bubble-point-size $tooltip-bubble-translate-distance;
    text-align: start;

    &:hover {
      translate: -$bubble-point-size 0;
    }

    &::after {
      bottom: 0;
      left: $bubble-point-size;
      translate: 0 0;
    }
    &::before {
      // helper for hovering message bubble (across gap)
      margin-block-end: -$tooltip-bubble-gap;
    }
  }

  @mixin message-bottom {
    top: $message-offset;
    left: 50%;
    translate: -50% #{-$tooltip-bubble-translate-distance}; // interpolate so it's not 0 - 12px

    &:hover {
      translate: -50% 0;
    }

    &::after {
      top: 0;
      left: 50%;
      translate: -50% 0;
    }
    &::before {
      // helper for hovering message bubble (across gap)
      margin-block-start: -$tooltip-bubble-gap;
    }
  }

  &__btn {
    padding: 0;
    cursor: help;

    &:hover,
    &:focus {
      + .tooltip__message {
        @include show-content;

        &--top-right {
          translate: -$bubble-point-size 0;
        }

        &--top,
        &--bottom {
          translate: -50% 0;
        }

        &--right,
        &--left {
          @include mq-min(md) {
            translate: 0 -50%;
          }
        }
      }
    }

    &-text {
      @include tooltip-text-decoration;
      padding-inline: 0.5ch;
    }

    &-icon {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      aspect-ratio: 1;
    }
  }

  &__message {
    @include hide-content;
    // opacity: 0.2;
    position: absolute;

    background: var(--color-surface--1);
    padding: var(--padding-btn);
    border-radius: var(--radius--btn);
    width: 100vw;
    z-index: 1;
    transition: $ease;

    @include mq-min(md) {
      &--top {
        @include message-top;
      }
      &--top-right {
        @include message-top-right;
      }
      &--bottom {
        @include message-bottom;
      }
      &--right {
        left: $message-offset;
        top: 50%;
        translate: -$tooltip-bubble-translate-distance -50%;

        &:hover {
          translate: 0 -50%;
        }
        &::after {
          top: 50%;
          left: 0;
          translate: 0 -50%;
        }
        &::before {
          // helper for hovering message bubble (across gap)
          margin-inline-start: -$tooltip-bubble-gap;
        }
      }
      &--left {
        right: $message-offset;
        top: -50%;
        translate: $tooltip-bubble-translate-distance -50%;

        &:hover {
          translate: 0 -50%;
        }

        &::after {
          top: 50%;
          right: 0;
          translate: 0 -50%;
        }
        &::before {
          // helper for hovering message bubble (across gap)
          margin-inline-end: -$tooltip-bubble-gap;
        }
      }
    }
    @include mq-max(md) {
      &--mobile-top {
        @include message-top;
      }
      &--mobile-bottom {
        @include message-bottom;
      }
    }

    &:hover {
      @include show-content;
    }

    &--lg {
      max-width: 650px;

      @include mq-max(md) {
        max-width: 360px;
      }
      @include mq-max(sm) {
        max-width: 250px;
      }
    }
    &--md {
      max-width: 420px;

      @include mq-max(md) {
        max-width: 360px;
      }
      @include mq-max(sm) {
        max-width: 250px;
      }
    }
    &--sm {
      max-width: 250px;
    }
    &--xs {
      max-width: 140px;
    }

    &::before {
      // helper for hovering message bubble (across gap)
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    p {
      font-size: $tooltip-font-size;
    }
  }

  &--include-point {
    .tooltip__message::after {
      // bubble point
      content: "";
      background: inherit;
      position: absolute;
      // top, bottom, left, right set with 'place' modifier
      width: $bubble-point-size;
      height: $bubble-point-size;
      rotate: 45deg;
      border-radius: 2px;
      pointer-events: none;
      z-index: -1;
    }
  }
}

// Util (Follows mouse)
.tooltip-util {
  @include tooltip-text-decoration;
  cursor: help;
}

// Appended with mouse-cursor.njk
.tooltip-util-message {
  @include hide-content;
  position: fixed;
  top: 0;
  background: var(--color-surface--1);
  border-radius: var(--radius--btn);
  padding: var(--padding-btn);
  font-size: $tooltip-font-size;
  transition: $ease;

  &.active {
    opacity: 1;
  }

  // Viewport zones/quadrants
  $offset: 20px;
  $default-position: $offset $offset;

  &.top-left {
    translate: $default-position;
  }

  &.top {
    translate: -50% $offset;
  }

  &.top-right {
    translate: calc(-100% - $offset) $offset;
  }

  &.left {
    translate: $default-position;
  }

  &.center {
    translate: -50% $offset;
  }

  &.right {
    translate: calc(-100% - $offset) $offset;
  }

  &.bottom-left {
    translate: $offset calc(-100% - $offset);
  }

  &.bottom {
    translate: -50% calc(-100% - $offset);
  }

  &.bottom-right {
    translate: calc(-100% - $offset) calc(-100% - $offset);
  }
}
