// .tooltip-section {

// }

.tooltip {
  $icon-size: 20px;

  // border: $test;
  position: relative;
  display: inline-block;
  // isolation: isolate;

  &__btn {
    padding: 0;
    cursor: help;

    &:hover,
    &:focus {
      + .tooltip__message {
        @include show-content;
        translate: 0 0;
        // z-index: -1;

        &.right,
        &.left {
          translate: 0 -50%;
        }
      }
    }

    &-text {
      text-decoration: underline dotted var(--color-brand--secondary);
      // text-underline-offset: 12px;
      text-underline-position: below;
      padding-inline: 0.5ch;
    }

    &-icon {
      width: $icon-size;
      height: $icon-size;
      aspect-ratio: 1;
    }
  }

  &__message {
    $message-offset: calc(100% + 0.5ch);

    @include hide-content;
    position: absolute;
    // opacity: 0.5;
    width: 40vw;
    min-width: 180px;
    background: var(--color-surface--1);
    padding: var(--btn-padding);
    border-radius: var(--radius-btn);
    z-index: 1;
    transition: $ease;

    &:hover {
      @include show-content;
    }

    &.lg {
      width: 40vw;
    }
    &.md {
      width: 32vw;
    }
    &.sm {
      width: 24vw;
    }

    &.top {
      bottom: $message-offset;
      translate: 0 12px;

      &:hover {
        translate: 0 0;
      }
    }

    &.right {
      left: $message-offset;
      top: 50%;
      translate: -12px -50%;

      &:hover {
        translate: 0 -50%;
      }
    }

    &.bottom {
      top: $message-offset;
      translate: 0 -12px;

      &:hover {
        translate: 0 0;
      }
    }

    &.left {
      right: $message-offset;
      top: -50%;
      translate: 12px -50%;

      &:hover {
        translate: 0 -50%;
      }
    }
  }
}
