@use "../base/mixins";

.main-style-guide {
  &__section {
    @include mixins.width-clamp;
    @include mixins.section-padding;

    &-header {
      @include mixins.column-start;
      gap: var(--spacing--sm);
      margin-block-end: var(--spacing--lg);
    }

    // &-heading {
    //   @include mixins.h5;
    // }
  }

  &__subgroup {
    @include mixins.column-start;
    gap: var(--spacing--xs);
    margin-block-end: var(--spacing);

    &-title {
      @include mixins.h6;
    }
  }

  //
  .row-to-column {
    @include mixins.row-center(flex-start);
    gap: var(--spacing--sm);

    @include mixins.mq-max(lg) {
      flex-direction: column;
    }
  }
}
