body {
  // Loading styles
  .hero-simple.home-hero {
    h1,
    p,
    .cta-group {
      opacity: 0;
      translate: 0 48px;
      scale: 0.75;
    }
  }

  // Loading complete styles
  &[data-body-loading-complete] {
    // $duration: 1s;
    $ease: 1s $cubic-ease;
    $delay: 0.36s;
    $stagger: 0.12s;

    .hero-simple.home-hero {
      h1,
      p,
      .cta-group {
        opacity: 1;
        translate: 0 0;
        scale: 1;
        transition: translate $ease $delay, opacity $ease $delay, scale $ease $delay;
      }

      p {
        transition-delay: calc($delay + $stagger);
      }
      .cta-group {
        transition-delay: calc($delay + $stagger * 2);
      }
    }
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100dvh;
  background: var(--color-background);
  z-index: $z-index--loader;

  &__text {
    @include font-styles--body(lg);
    color: var(--color-font--primary);
  }

  &.load-complete {
    @include hide-content;
    transition: 0.5s ease;
  }
}
