<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Admin | {{ meta_data.site_name }}</title>
    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link
      rel="icon"
      href="{{ meta_data.favicon_light_theme }}"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="{{ meta_data.favicon_dark_theme }}"
      media="(prefers-color-scheme: dark)"
    />

    <!-- <script>
      document.addEventListener("DOMContentLoaded", () => {
        function removeNetlifyBadge() {
          let netlifyBadge = document.querySelector(
            `[class*="NetlifyCreditIcon"]`
          );

          if (netlifyBadge) {
            setTimeout(() => {
              if (netlifyBadge) {
                netlifyBadge.remove();
              }
            }, 500);
          } else {
            console.log("Netlify badge not found.");
          }
        }

        setTimeout(removeNetlifyBadge, 500);

        const observer = new MutationObserver(() => {
          removeNetlifyBadge();
        });

        observer.observe(document.body, { childList: true, subtree: true });

        // Modal updates
        const netlifyLogin = document.getElementById("netlify-identity-widget");

        if (netlifyLogin) {
          netlifyLogin.addEventListener("mouseover", () => {
            console.log("mousing over");
          });
        } else {
          console.log("not found");
        }
      });
    </script> -->
  </head>
  <body>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>

    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </body>
</html>
