---
# Netlify form submission redirect
layout: app
path: contact
---

<section class="hero-alert">
  <h1 class="hero-alert__title">{{ library.form_submit.section_title }}</h1>
  <p class="hero-alert__desc">{{ library.form_submit.section_desc }}</p>

  <!-- prettier-ignore -->
  {% set content_start = true %}
  {% set cta_1 = library.form_submit.cta_1 %}
  {% include "./_includes/components/cta-group.njk" %}
</section>
