---
layout: app
path: home
---

<!-- prettier-ignore -->
{% set promo_banner_data = library.promo_banner %}
{% include './_includes/library/components/promo-banner.njk' %}

{% set hero_simple = page_home.hero_simple %}
{% include './_includes/library/sections/hero-simple.njk' %}

{% include './_includes/partials/loader.njk' %}
