---
layout: app
path: home

title: Sample title // CHANGE ME
description: Sample description // CHANGE ME

# master props for cta-group
cta_1_text: CHANGE ME
cta_1_url: "#"
cta_2_text: CHANGE ME
cta_2_url: "#"
cta_2_target: "_blank"
---

<section class="hero">
  <h1>H1 CHANGE ME</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

  <!-- prettier-ignore -->
  {% set content_start = true %}
  {% include "./_includes/components/cta-group.njk" %}
</section>

{% include './_includes/partials/loader.njk' %}
