---
title: AXYS DECAP
layout: app
path: home
cta1: { url: "#featured-section", title: "Visit Blog" }
---

<section id="hero-section">
  <!-- <h1>Access the power <br />of Decap CMS</h1> -->
  <h1 class="h1">Tell your story</h1>
  <p>
    User Friendly &nbsp;•&nbsp; Secure &nbsp;•&nbsp; Quick Updates &nbsp;•&nbsp;
    Flexible &nbsp;•&nbsp; Asset Uploads
  </p>
  <!-- <p>
    Powered by Decap CMS, AXYS Creative let's you <br />
    control the content of your site, with ease.
  </p>
  -->

  {% include "./_includes/partials/cta-wrapper.html" %}

  <!-- prettier-ignore -->
  {% include "./_includes/partials/social-media.html" %}
  <!-- prettier-ignore -->
</section>

<section id="featured-section">
  <h2>Featured Blogs</h2>
  <div class="featured-blogs-wrapper">
    <div class="blog-block">
      <h3>Featured Blog title</h3>
      <p>Featured Blog description</p>
    </div>
    <div class="blog-block">
      <h3>Featured Blog title</h3>
      <p>Featured Blog description</p>
    </div>
    <div class="blog-block">
      <h3>Featured Blog title</h3>
      <p>Featured Blog description</p>
    </div>
  </div>
</section>
