---
layout: app
path: home
---

<section class="hero">
  <h1>{{ page_home.hero.section_title }}</h1>
  <p>{{ page_home.hero.section_desc }}</p>

  <!-- prettier-ignore -->
  {% set content_start = true %}
  {% set cta_1 = page_home.hero.cta_1 %}
  {% set cta_2 = page_home.hero.cta_2 %}
  {% include "./_includes/components/cta-group.njk" %}
</section>

{% include './_includes/partials/loader.njk' %}
