---
layout: app
path: library
# Non public facing

title: Library // Delete this file from production sites
description:
---

<section class="hero">
  <h1>Library</h1>
  <p>A playground to build out sections that can be stored as a template.</p>
</section>

<section class="grid-image"></section>

<!-- prettier-ignore -->
{% set marquee_text = 'Sample Marquee. Pass in the marquee_text prop to control the content.' %}
{% include './_includes/components/marquee.html' %}

<section class="faq-section">
  <h2 class="h6" style="margin-bottom: 48px">Frequently Asked Questions</h2>
  <!-- prettier-ignore -->
  {% set faq_list = library.faq_data %}
  {% include './_includes/components/faq.html' %}
</section>

<!-- prettier-ignore -->
{% include './_includes/partials/loader.html' %}
