---
layout: app
path: library
# Non public facing

title: Library // Delete this file from production sites
description:
---

<section class="hero">
  <h1>Library</h1>
  <p>
    A playground to build out components and sections that can be stored as a
    template.
  </p>
</section>

<!-- prettier-ignore -->
{% set marquee_text = marquee.marquee_text %}
{% set marquee_scrub = marquee.marquee_scrub %}
{% include './_includes/components/marquee.html' %}

<section class="accordion-section">
  <h2 class="h6" style="margin-bottom: 48px">Accordion</h2>
  <!-- prettier-ignore -->
  {% set accordion_list = library_accordion.accordion_data %}
  {% include './_includes/components/accordion.html' %}
</section>

<!-- prettier-ignore -->
{% include './_includes/partials/loader.html' %}
