---
layout: app
path: library
# Non public facing DELETE ME
---

<section class="hero">
  <h1>Library</h1>
  <p>
    A playground to build out components and utilites that can be stored as a
    template. <br />
    Pick what you need from the library and then be sure to delete the
    following:
  </p>
  <ol>
    <li>JS library directory</li>
    <li>JS animations.js library blocks</li>
    <li>CSS library directory</li>
    <li>CSS utillity.scss library block</li>
    <li>_data library directory</li>
    <li>_includes library directory</li>
    <li>img Folder library directory</li>
  </ol>
</section>

<section class="tooltip-section">
  <h2 class="h6">[ Tooltip - Component ]</h2>

  <p>
    This includes a tooltip. {% include "./_includes/library/tooltip.njk" %}
  </p>
</section>

<section class="image-slice-section">
  <h2 class="h6">[ Image Slice (Two image reveal) - Component ]</h2>
</section>

<section class="glitch-text-section">
  <h2 class="h6">
    [
    <span class="glitch-text glitch-scroll" data-glitch-once="false"
      >Scramble</span
    >
    <span class="glitch-text glitch-scroll" data-glitch-once="false">Text</span>
    -
    <span class="glitch-text glitch-scroll" data-glitch-once="false">
      Utility
    </span>
    ]
  </h2>

  <!-- 'glitch-cycle' scrambles between the words passed in the 'data-glitch-cycle' attribute. Also has cycle-interval -->
  <h3 class="h6">
    Glitch cycle:
    <span
      class="glitch-text glitch-cycle"
      data-glitch-cycle="creative, responsive, accessible, innovative, engaging"
      data-glitch-cycle-interval="2000"
    >
      Creative
    </span>
  </h3>

  <!-- 'glitch-scroll' should scramble the text on scroll -->
  <p class="glitch-text glitch-scroll" data-glitch-once="true">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut optio
    doloremque quo fuga error, in tenetur. Corporis esse commodi iste
    exercitationem fuga ullam quis!
  </p>

  <!-- 'glitch-hover' should scramble the text on hover -->
  <a href="/" class="cta-1 glitch-text glitch-hover">Hover over me</a>
</section>

<section class="tabs-section">
  <h2 class="h6">[ Tabs - Component ]</h2>

  <!-- prettier-ignore -->
  {% set tab_list = library.tabs.tabs %}
  {% include "./_includes/library/tabs.njk" %}
</section>

<h2 class="h6" style="margin: 0 0 48px var(--body-padding)">
  [ Carousel 'Hero' - Component ]
</h2>
<!-- prettier-ignore -->
{% set carousel_hero_autoplay = library.carousel_hero.autoplay %}
{% set carousel_hero_slides = library.carousel_hero.slides %}
{% include "./_includes/library/carousel-hero.njk" %}

<section class="carousel-swiper-section">
  <h2 class="h6">[ Carousel 'Swiper' - Component ]</h2>

  <!-- prettier-ignore -->
  {% set carousel_swiper_autoplay = library.carousel_swiper.autoplay %}
  {% set list = library.carousel_swiper.list %}
  {% set carousel_progress = true %}
  {% include './_includes/library/carousel-swiper.njk' %}
</section>

<!-- prettier-ignore -->
{% set marquee_toggle = true %}
{% set marquee_text = library.marquee.marquee_text %}
{% set marquee_scrub = library.marquee.marquee_scrub %}
{% include './_includes/library/marquee.njk' %}

<section class="accordion-section">
  <h2 class="h6" style="margin-bottom: 48px">[ Accordion - Component ]</h2>
  <!-- prettier-ignore -->
  {% set accordion_list = library.accordion.accordion_data %}
  {% include './_includes/library/accordion.njk' %}
</section>

<section class="fill-text-section">
  <h2 class="h6 fill-text slow-fill">[ Fill Text - Utility ]</h2>

  <h3 style="margin-block: 48px">
    <span class="fill-text quick-fill">This is a large title</span>
  </h3>

  <p class="fill-text">
    This is some sample fill text. Note: this relies on a simple utlity class.
    Modify the speed with 'slow-fill' or 'quick-fill'. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Perferendis earum maxime ab, accusantium
    rem ex assumenda doloribus officia corrupti deserunt repellendus, rerum nisi
    beatae debitis dolore eligendi accusamus dolor voluptate facilis quos odit
    deleniti pariatur a. Consequuntur qui laudantium esse rem commodi odio
    assumenda, architecto officiis consectetur quas, earum vel. Harum incidunt
    eligendi alias commodi expedita enim perspiciatis sequi nemo, numquam
    architecto ipsam? Perspiciatis eaque delectus fugit tempora iste iusto
    aspernatur asperiores, atque esse corporis, id mollitia labore eos
    doloremque consequatur! Qui officia natus voluptates cumque eum fugit aut
    iure amet quam, earum libero, rerum obcaecati beatae totam, quaerat facere
    harum! Fugiat neque laborum aspernatur ut. Minima soluta, harum quisquam
    repellat vitae eveniet doloribus omnis excepturi? A officia eius
    perferendis.
  </p>
</section>

<!-- prettier-ignore -->
{% set title = '[ Horizontal scroll - Component ]' %} 
{% include './_includes/library/horizontal-scroll.njk' %}

<section class="fade-text-section">
  <h2 class="h6">[ Fade Text - Utility ]</h2>

  <h3 style="margin-block: 48px">
    <span>This is a large title</span>
  </h3>

  <p>
    This is some sample fill text. Note: this relies on a simple utlity class.
    Modify the speed with 'slow-fill' or 'quick-fill'. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Perferendis earum maxime ab, accusantium
    rem ex assumenda doloribus officia corrupti deserunt repellendus, rerum nisi
    beatae debitis dolore eligendi accusamus dolor voluptate facilis quos odit
    deleniti pariatur a. Consequuntur qui laudantium esse rem commodi odio
    assumenda, architecto officiis consectetur quas, earum vel. Harum incidunt
    eligendi alias commodi expedita enim perspiciatis sequi nemo, numquam
    architecto ipsam? Perspiciatis eaque delectus fugit tempora iste iusto
    aspernatur asperiores, atque esse corporis, id mollitia labore eos
    doloremque consequatur! Qui officia natus voluptates cumque eum fugit aut
    iure amet quam, earum libero, rerum obcaecati beatae totam, quaerat facere
    harum! Fugiat neque laborum aspernatur ut. Minima soluta, harum quisquam
    repellat vitae eveniet doloribus omnis excepturi? A officia eius
    perferendis.
  </p>
</section>

<section class="carousel-section"></section>

<section class="video-section">
  <h2 class="h6">[ Video Overlay - Utility ]</h2>
  <p>
    This can be a traditional cta or can simply wrap an element i.e. an image
    (see joinsunder)
  </p>

  <!-- prettier-ignore -->
  <button
    class="cta-1 video-toggle tab-element-page"
    data-src="{{ library.video_overlay.video_src }}"
    aria-label="Open video overlay for {{ item.title }}"
    aria-controls="video-overlay"
  >
    Toggle video overlay
  </button>
</section>

<section class="form-section">
  <h2 class="h6">[ Form Feedback - Component ]</h2>

  <!-- prettier-ignore -->
  {% set form_data = library.form_contact.form_data %}
  {% include "./_includes/library/form-feedback.njk" %}
</section>

<section class="form-section">
  <h2 class="h6">[ Form Redirect - Component ]</h2>

  <!-- prettier-ignore -->
  {% set form_data = library.form_redirect.form_data %}
  {% include "./_includes/library/form-redirect.njk" %}
</section>
