---
layout: app
path: playground
# A place to build out production pages
---

<!-- prettier-ignore -->
{% include "./_includes/playground/axys-hero.njk" %}

<!-- prettier-ignore -->
{% set scroll_horizontal = ({
  title: '',
  desc: '',
  message: true
}) %} 
{% include './_includes/playground/axys-scroll-horizontal.njk' %}

<!-- prettier-ignore -->
{% set work_gallery = playground.section_work %}
{% include "./_includes/playground/axys-work.njk" %}

<!-- prettier-ignore  -->
{% set scroll_stack = playground.section_scroll_stack %}
{% include './_includes/playground/axys-scroll-stack.njk' %}

<!-- prettier-ignore -->
{% set plan_selection = playground.section_plans %}
{% include './_includes/playground/axys-plans.njk' %}

<!-- prettier-ignore -->
{% set faq_section = playground.section_faq %}
{% include './_includes/playground/axys-faq-section.njk' %}

<!-- prettier-ignore -->
{% set marquee = library.marquee.marquee_2 %}
  {% include './_includes/library/components/marquee.njk' %}
