---
layout: app
path: playground
# A place to build out production pages
---

<!-- prettier-ignore -->
{% include "./_includes/sections/axys-hero.njk" %}

<!-- prettier-ignore -->
{% set work_gallery = library.sections.work_gallery %}
{% include "./_includes/library/sections/work-gallery.njk" %}

<!-- prettier-ignore  -->
{% set scroll_stack = library.scroll_stack %}
{% include './_includes/library/sections/scroll-stack.njk' %}

<!-- prettier-ignore -->
{% set plan_selection = library.sections.plan_selection %}
{% include './_includes/library/sections/plan-selection.njk' %}

<!-- prettier-ignore -->
{% set marquee = library.marquee.marquee_2 %}
  {% include './_includes/library/components/marquee.njk' %}
