---
layout: app
path: style-guide
# Public facing

title: Style Guide
---

<!-- prettier-ignore -->
{% set hero_simple = ({
  title: 'Style Guide',
  desc: 'A place to view common styles and guidelines.',
  direction: 'column'
}) %}
{% include './_includes/library/sections/hero-simple.njk' %}

<section class="main-style-guide__section">
  <h1>Heading I</h1>
  <h2>Heading II</h2>
  <h3>Heading III</h3>
  <h4>Heading IV</h4>
  <h5>Heading V</h5>
  <h6>Heading VI</h6>
  <br /><br /><br /><br /><br />
  <p class="max-width-text">
    This is a paragraph. It uses the <code>font-styles--body</code> mixin.
    Responsive range from 18px (lg), 16px (md), to 14px (sm). Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Quasi, quod.
  </p>

  <br /><br />
  <p class="max-width-text indent-first">
    This is a paragraph includes the util <code>indent-first</code>. This will
    indent only the first line of the paragraph. It also uses the css property
    <code>text-align: justify</code> to help reach the edges of the container
    nicely.
  </p>

  <br /><br /><br /><br /><br />
  <div>
    <strong>This is strong text</strong>
    <br /><br />
    <p class="text-bold">
      This is bold text via global util <code>text-bold</code>
    </p>
    &nbsp;

    <!-- prettier-ignore -->
    {% set tooltip = ({
      message: 'CMS friendly!',
      size: 'xs',
      place: 'right',
      place_sm: 'bottom-left',
      include_point: true
    }) %}
    {% include "./_includes/library/components/tooltip.njk" %}
    <br /><br />
  </div>
  <div>
    <em>This is emphasized text</em>
    <p class="text-italic">
      This is italic text (CMS Friendly, use '.text-italic')
    </p>
  </div>
  <small
    >This is small text. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Asperiores sequi repudiandae corporis.</small
  >
  <code>This is a code block</code>

  <br /><br /><br /><br /><br />
  <p>[ Classic List ]</p>
  <br /><br />
  <ul class="classic-list">
    <li>Classic List, Child I</li>
    <li>Classic List, Child II</li>
    <li>Classic List, Child III</li>
  </ul>
</section>

<section class="main-style-guide__section">
  <header class="main-style-guide__section-header">
    <h2 class="main-style-guide__section-heading">[ Buttons ]</h2>
    <p>
      Buttons <code>btn.njk</code> that keep styles consistent and easy to use.
      These handle both button and link behavior and come with the following
      types:
      <code style="display: inline-block; margin-block: 12px 24px">
        solid | outline | text | icon-end | underline
      </code>
    </p>
  </header>

  <div class="main-style-guide__subgroup">
    <strong>Type Solid</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Solid Button',
        type: 'solid'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Solid Custom 1',
        type: 'solid',
        size: 'sm',
        class: 'btn--bg-slide',
        icon_start: '/static/img/library/icon-google-orbit.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Solid Custom 2',
        url: '/',
        new_tab: false,
        type: 'solid',
        class: 'magnet magnet-wide-btn btn--underline glitch-hover cursor-hide',
        icon_end: '/static/img/library/icon-google-new-tab.svg',
        attributes: 'data-glitch-new-text="Let’s do this!"'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <div class="main-style-guide__subgroup">
    <strong>Type Outline</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Outline Button',
        type: 'outline'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Outline Slide Button',
        type: 'outline',
        class: 'cursor-hide btn--bg-slide',
        attributes: 'data-btn-slide="up"'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Outline Custom',
        url: '/',
        new_tab: false,
        type: 'outline',
        class: 'btn--split-text cursor-trigger cursor-pair',
        icon_end: '/static/img/library/icon-google-chevron-right.svg',
        icon_end_class: 'sample-link-icon',
        attributes: 'data-cursor-target=sample-link-icon data-cursor-class=cta-2'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <div class="main-style-guide__subgroup">
    <strong>Type Text</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Text Button',
        url: '/',
        new_tab: false,
        type: 'text'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Text Button Custom',
        url: '/',
        new_tab: true,
        type: 'text',
        class: 'glitch-hover',
        icon_end: '/static/img/library/icon-google-new-tab.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <div class="main-style-guide__subgroup">
    <strong>Type Icon End</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Icon End Button',
        url: '/',
        new_tab: false,
        type: 'icon-end'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Icon End Circle',
        url: '/',
        new_tab: false,
        type: 'icon-end',
        class: 'cursor-hide',
        icon_end: '/static/img/library/icon-google-chevron-right.svg',
        icon_end_class: 'magnet magnet-strong',
        icon_circle: true
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Icon End Button Custom',
        url: '/',
        new_tab: false,
        type: 'icon-end',
        class: 'btn--underline',
        icon_end: '/static/img/library/icon-google-chevron-right.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <div class="main-style-guide__subgroup">
    <strong>Type Underline</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Underline Button',
        url: '/',
        new_tab: false,
        type: 'underline'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: 'Underline Button Custom',
        url: '/',
        new_tab: true,
        type: 'underline',
        class: 'btn--split-text magnet magnet-wide-btn',
        icon_end: '/static/img/library/icon-google-warning-triangle.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <div class="main-style-guide__subgroup">
    <strong>Config Icon Only</strong>
    <div class="row-to-column">
      <!-- prettier-ignore -->
      {% set btn = ({
        text_desc: 'This is an icon button',
        type: 'solid',
        icon_end: '/static/img/library/icon-google-check.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text_desc: 'This is an icon button',
        type: 'outline',
        size: 'sm',
        icon_end: '/static/img/library/icon-google-x-lg.svg',
        class: 'btn--bg-slide'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text_desc: 'This is an icon button',
        type: 'text',
        icon_end: '/static/img/library/icon-google-check-circle.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text_desc: 'This is an icon button',
        type: 'underline',
        icon_end: '/static/img/library/icon-google-chevron-right.svg'
      }) %}
      {% include './_includes/components/btn.njk' %}
    </div>
  </div>

  <br /><br />
  <h3>Utility snippets</h3>
  <br />
  <p>
    You (and admin) can make use of utility classes to achieve special effects.
  </p>
  <br /><br /><br />
  <p style="display: flex; align-items: center; gap: 0.5ch">
    <a href="" class="glitch-hover tab-element-page"> Glitch Button </a>
    <span>Class: <code>glitch-hover</code></span>
  </p>
  <br />
  <p>
    <a href="" class="magnet magnet-wide-btn tab-element-page">Magnet Button</a>
    <span>Class: <code>magnet magnet-wide-btn</code></span>
  </p>
  <br /><br />
  <button class="btn-type--solid btn--bg-slide">Bg Slide Button (solid)</button>
  <span>Class: <code>btn-type--solid btn--bg-slide</code></span>

  <br /><br />
  <button class="btn-type--outline btn--bg-slide" data-btn-slide="down">
    Bg Slide Button (outline)
  </button>
  <span>Class: <code>btn-type--outline btn--bg-slide</code></span>
  <span>Attributes: <code>data-btn-slide="down"</code></span>

  <br /><br />
  <p>
    <a href="" class="btn--split-text tab-element-page">Split Text Button</a>
    <span>Class: <code>btn--split-text</code></span>
  </p>
  <br /><br />
  <p>
    <a href="" class="btn--split-text tab-element-page" data-hover-alt>
      Split Text Button Alt
    </a>
    &nbsp;
    <span>
      Class: <code>btn--split-text</code> Attribute:
      <code>data-hover-alt</code> (only animates in)
    </span>
  </p>
  <br /><br />
  <p>
    <a href="" class="btn--underline tab-element-page">Underline Button</a>
    &nbsp;
    <span> Class: <code>btn--underline</code></span>
  </p>

  <br /><br /><br /><br />
  <h3>CTA Group</h3>
  <br /><br />

  <!-- prettier-ignore -->
  {% set cta_1 = ({
    text: 'Primary CTA',
    text_desc: 'sup broseph',
    url: '/',
    new_tab: false
  }) %}
  {% set cta_2 = ({
    text: 'Secondary CTA',
    url: 'https://axyscreative.com',
    icon: '/static/img/library/icon-google-chevron-right.svg',
    new_tab: true
  }) %}
  {% include './_includes/components/cta-group.njk' %}

  <br /><br />

  <!-- prettier-ignore -->
  {% set btn_toggle_label = 'Autoplay:' %}
  {% set btn_toggle = ({
    class: 'btn-toggle-carousel',
    label: 'Toggle —',
    label_true: 'On',
    label_false: 'Off'
  }) %}
  {% include "./_includes/library/components/btn-toggle.njk" %}

  <br /><br />
  <!-- prettier-ignore -->
  {% set play_btn_id = 'library-id-play-btn' %}
  {% include "./_includes/library/components/btn-video-toggle.njk" %}

  <br /><br />
  <h3>Toggle Sliders (Util structure)</h3>
  <br />
  <p>Toggle sliders look for a structure similar to the one below:</p>
  <br /><br />
  <code class="codearea"
    >&lt;div class="toggle-slider"&gt;
    <br />
    &nbsp; &lt;button class="*option*" aria-selected="true"&gt;&lt;/button&gt;
    <br />
    &nbsp; &lt;button class="*option*"&gt;&lt;/button&gt;
    <br />
    &nbsp; &lt;div class="*slider*"&gt;&lt;/div&gt;
    <br />
    &lt;/div&gt;
  </code>
  <br /><br />
  <p>
    It also works with radios, labels and nested inputs, in the case of
    <code>theme-toggle.njk</code>
  </p>
  <br />
  <strong>
    Note: used <code>aria-selected="true"</code> or
    <code>class="option-active"</code> to set a default.
  </strong>
  <br />
  <div class="cursor-hide">
    <br /><br />
    <strong class="max-width-text">
      Extra Note about style/type changing!
    </strong>
    <p>Toggle-slider styles can be changed in two ways:</p>
    <li>
      Either with a modifier class:
      <code>class="toggle-slider toggle-slider--solid"</code>
    </li>
    <li>
      Or using a data tag:
      <code>class="toggle-slider" data-toggle-slider='solid'"</code>
    </li>
    <br />
    <p>
      When using the utility class, continue working with the modifier util to
      change the toggle-slider style. When working with a component, such as the
      tabs component or other util class such as tabs, we’ll use the attribute
      <code>data-toggle-slider="underline"</code> since the parent renders
      controls with js (parent) for example.
    </p>
    <br /><br />
    <div class="toggle-slider toggle-slider--solid">
      <button class="option tab-element-page" aria-selected="true">
        Option 1
      </button>
      <button class="option tab-element-page">Option 2</button>
      <button class="option tab-element-page">Option 3</button>
      <div class="slider"></div>
    </div>
  </div>

  <br /><br />
  <div class="cursor-hide">
    <p>
      The toggle slider comes with a second variation out of the box. Use the
      modifier class <code>toggle-slider--underline</code> to change to this
      style.
    </p>
    <br /><br />
    <div class="toggle-slider toggle-slider--underline">
      <button class="option tab-element-page">Option 1</button>
      <button class="option tab-element-page">Option 2</button>
      <button class="option tab-element-page" aria-selected="true">
        Option 3
      </button>
      <div class="slider"></div>
    </div>
  </div>
</section>

<section class="main-style-guide__section last-section">
  <header class="main-style-guide__section-header">
    <h2 class="main-style-guide__section-heading">[ Badge ]</h2>
    <p>
      Badge <code>badge.njk</code> that keep styles consistent and easy to use.
      These come with the following types:
      <code style="display: inline-block; margin-block: 12px 24px">
        solid | outline | text | icon-end | underline
      </code>
    </p>
  </header>

  <br />
  <!-- prettier-ignore -->
  {% set badge = ({
    text: 'Basic Badge'
  }) %}
  {% include "./_includes/library/components/badge.njk" %}

  <br /><br />

  <!-- prettier-ignore -->
  {% set badge = ({
    text: 'Badge with icon',
    icon: '/static/img/library/icon-google-orbit.svg',
    type: 'outline'
  }) %}
  {% include "./_includes/library/components/badge.njk" %}

  <br /><br />

  <!-- prettier-ignore -->
  {% set badge = ({
    text: 'Badge with icon',
    icon: '/static/img/library/icon-google-orbit.svg',
    type: 'glass'
  }) %}
  {% include "./_includes/library/components/badge.njk" %}
</section>
