---
layout: app
path: style-guide
# Public facing

title: Style Guide
---

<section class="hero">
  <h1>Style Guide</h1>
  <p class="text-balance">A place to view common styles and guidelines.</p>
</section>

<section class="style-guide">
  <h1>Heading I</h1>
  <h2>Heading II</h2>
  <h3>Heading III</h3>
  <h4>Heading IV</h4>
  <h5>Heading V</h5>
  <h6>Heading VI</h6>
  <br />
  <p>
    This is a paragraph. It uses the <code>body-font-styles</code> mixin.
    Responsive range from 18px (lg), 16px (md), to 14px (sm). Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Quasi, quod.
  </p>
  <div>
    <strong>This is strong text</strong>
    <p class="text-bold">
      This is bold text via global util (CMS Friendly, use '.text-bold')
    </p>
  </div>
  <div>
    <em>This is emphasized text</em>
    <p class="text-italic">
      This is italic text (CMS Friendly, use '.text-italic')
    </p>
  </div>
  <small
    >This is small text. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Asperiores sequi repudiandae corporis.</small
  >
  <code>This is a code block</code>

  <ul class="classic-list">
    <li>Classic List, Child I</li>
    <li>Classic List, Child II</li>
    <li>Classic List, Child III</li>
  </ul>

  <h2 class="h5 style-guide__heading">[ Buttons ]</h2>

  <div class="style-guide__buttons">
    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Solid Button',
      url: '/',
      new_tab: false,
      type: 'solid',
      class: '',
      attributes: 'data-test-1=no-quotes data-test-2="with-quotes"'
    }) %}
    {% include "./_includes/components/btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Solid Icon Start',
      url: '/',
      new_tab: false,
      type: 'solid',
      class: '',
      icon_start: '/static/img/library/icon-google-orbit.svg',
      attributes: 'data-test-1=no-quotes data-test-2="with-quotes"'
    }) %}
    {% include "./_includes/components/btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Solid Custom',
      url: '/',
      new_tab: false,
      type: 'solid',
      class: 'magnet magnet-wide-btn',
      icon_end: '/static/img/library/icon-google-new-tab.svg',
      attributes: 'data-test-1=no-quotes data-test-2="with-quotes"'
    }) %}
    {% include "./_includes/components/btn.njk" %}
  </div>

  <div class="style-guide__buttons">
    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Outline Button',
      url: '/',
      new_tab: false,
      type: 'outline',
      class: 'hide-cursor',
      attributes: ''
    }) %}
    {% include "./_includes/components/btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Outline Custom',
      url: '/',
      new_tab: false,
      type: 'outline',
      class: 'btn--split-text cursor-trigger cursor-pair',
      icon_end: '/static/img/library/icon-google-chevron-right.svg',
      icon_end_class: 'sample-link-icon',
      attributes: 'data-cursor-target=sample-link-icon data-cursor-class=cta-2'
    }) %}
    {% include "./_includes/components/btn.njk" %}
  </div>

  <div class="style-guide__buttons">
    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Icon End Button',
      url: '/',
      new_tab: false,
      type: 'icon-end'
    }) %}
    {% include "./_includes/components/btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Text Button Custom',
      url: '/',
      new_tab: false,
      type: 'icon-end',
      class: 'btn--underline',
      icon_end: '/static/img/library/icon-google-chevron-right.svg'
    }) %}
    {% include "./_includes/components/btn.njk" %}
  </div>

  <div class="style-guide__buttons">
    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Text Button',
      url: '/',
      new_tab: false,
      type: 'text'
    }) %}
    {% include "./_includes/components/btn.njk" %}

    <!-- prettier-ignore -->
    {% set btn = ({
      text: 'Text Button Custom',
      url: '/',
      new_tab: true,
      type: 'text',
      class: 'glitch-hover',
      icon_end: '/static/img/library/icon-google-new-tab.svg'
    }) %}
    {% include "./_includes/components/btn.njk" %}
  </div>

  <br /><br />
  <h3 class="h6">Utility snippets</h3>
  <br /><br />
  <p style="display: flex; align-items: center; gap: 0.5ch">
    <a href="" class="glitch-text glitch-hover tab-element-page">
      Glitch Button
    </a>
    <span>Class: <code>glitch-hover</code></span>
  </p>
  <br />
  <p>
    <a href="" class="magnet magnet-strong tab-element-page">Magnet Button</a>
    <span>Class: <code>magnet magnet-strong</code></span>
  </p>
  <br /><br />
  <p>
    <a href="" class="btn--split-text tab-element-page">Split Text Button</a>
    <span>Class: <code>btn--split-text</code></span>
  </p>
  <br /><br />
  <p>
    <a href="" class="btn--split-text tab-element-page" data-hover-alt
      >Split Text Button Alt</a
    >
    <span
      >Class: <code>btn--split-text</code> Attribute:
      <code>data-hover-alt</code> (only animates in)
    </span>
  </p>
  <br /><br />
  <p>
    <a href="" class="btn--underline tab-element-page">Underline Button</a>
    &nbsp;
    <span> Class: <code>btn--underline</code></span>
  </p>

  <br /><br /><br /><br />
  <h3 class="h6">CTA Group</h3>
  <br /><br />

  <!-- prettier-ignore -->
  {% set cta_1 = ({
    text: 'Primary CTA',
    text_desc: 'sup broseph',
    url: '/',
    new_tab: false
  }) %}
  {% set cta_2 = ({
    text: 'Secondary CTA',
    url: 'https://axyscreative.com',
    icon: '/static/img/library/icon-google-chevron-right.svg',
    new_tab: true
  }) %}
  {% include "./_includes/components/cta-group.njk" %}

  <br />
  <br />

  <!-- prettier-ignore -->
  {% set btn_toggle_label = 'Autoplay:' %}
  {% set btn_toggle = ({
    class: 'btn-toggle-carousel',
    label: 'Toggle —',
    label_true: 'On',
    label_false: 'Off'
  }) %}
  {% include "./_includes/library/button-toggle.njk" %}

  <br />
  <!-- prettier-ignore -->
  {% set play_btn_id = 'library-id-play-btn' %}
  {% include "./_includes/library/button-play.njk" %}

  <h2 class="h5 style-guide__heading">[ Pills ]</h2>

  <br />
  <!-- prettier-ignore -->
  {% set pill = ({
    text: 'Sample Pill',
    icon: '/static/img/library/icon-google-orbit.svg'
  }) %}
  {% include "./_includes/library/pill.njk" %}
</section>
