* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

// Utility

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Media query classes

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
