* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}

header {
  .header-logo {
    position: fixed;
    top: $body-padding;
    left: $body-padding;
    width: 24px;
    height: 24px;

    img {
      width: 100%;
    }
  }
}

section {
  border: $test;
  @include row-center;
  margin: auto;
  max-width: $content-width;
  height: 80vh;
}

h1 {
  font-family: $primary-font;
  font-size: 64px;
  font-weight: 300;
}

a {
  font-family: $primary-font;
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
