* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}

// section {
//   @include section-padding;
// }

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

a,
p {
  font-family: $font-family-body;
}

a {
  text-decoration: none;

  &.cta-1 {
    border: 1px solid black;
    border-radius: 4px;
    background: black;
    color: white;
    padding: 8px 16px;
  }

  &.cta-2 {
    border-bottom: 1px solid black;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
