:root {
  --background-color: #ddd;
  --primary-font-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --primary-font-color: #ddd;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--primary-font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}
body:has(.admin-edit) .admin-edit-btn {
  display: block;
}

header .header-logo {
  position: fixed;
  top: 64px;
  left: 64px;
  width: 24px;
  height: 24px;
}
header .header-logo img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: auto;
  max-width: 1920px;
  height: 80vh;
}

h1,
h2 {
  font-size: 64px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: var(--primary-font-color);
  cursor: pointer;
}
a.cta-1 {
  border: 1px solid var(--primary-font-color);
  padding: 12px 20px;
  color: var(--primary-font-color);
  transition: 0.2s ease;
}
a.cta-1:hover {
  background: var(--primary-font-color);
  color: var(--background-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

div[data-netlify-identity-menu] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 64px;
  right: 64px;
}
div[data-netlify-identity-menu] [data-netlify-identity-button] {
  display: none;
}
div[data-netlify-identity-menu] ul.netlify-identity-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
div[data-netlify-identity-menu] ul.netlify-identity-menu span.netlify-identity-user {
  font-family: sans-serif;
}

#netlify-identity-widget {
  border: 2px dashed rgba(220, 20, 60, 0.75);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lg-screen-and-up {
  display: none;
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}

.lg-screen-and-below {
  display: none;
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}

.admin-edit-btn {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  border: 2px solid lightcoral;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  padding: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}
.admin-edit-btn:hover {
  scale: 0.9;
}
.admin-edit-btn svg {
  fill: lightcoral;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#blog-section .blogs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}/*# sourceMappingURL=styles.css.map */