<footer>
  <a href="#" class="return-to-top classic-link tab-element-page">
    Return to top
  </a>
  <small class="copyright">
    <span>&copy;<time class="year-text"></time> Business Name Here</span>
    <span class="lg-screen-and-up" aria-hidden="true">•</span>
    <span class="lg-screen-and-up">All Rights Reserved</span>
  </small>
  <a
    href="https://axyscreative.com"
    target="_blank"
    class="axys-link classic-link tab-element-page"
  >
    Made in collaboration with AXYS Creative
  </a>
</footer>
