<!-- prettier-ignore -->
{% set a11y_tab = 'tab-element-page' %}
{% set footer = global.footer_advanced %}

{% set float = footer.float %}
{% set has_logo = footer.has_logo %}
{% set message = footer.message %}
{% set social_media = footer.social_media %}
{% set linkset_1_title = footer.linkset_1_title %}
{% set linkset_1 = footer.linkset_1 %}
{% set linkset_2_title = footer.linkset_2_title %}
{% set linkset_2 = footer.linkset_2 %}
{% set linkset_3_title = footer.linkset_3_title %}
{% set linkset_3 = footer.linkset_3 %}
{% set tertiary_links_title = footer.tertiary_links_title %}
{% set tertiary_links = footer.tertiary_links %}
{% set divider = footer.divider %}
{% set return_to_top = footer.return_to_top %}
{% set copyright = footer.copyright %}
{% set legal_links = footer.legal_links %}
{% set theme_toggle = footer.theme_toggle %}

{% set footer_class = '' %}
{% if float %}
  {% set footer_class = 'site-footer--float' %}
{% endif %}

<footer class="site-footer site-footer--advanced {{ footer_class }}">
  <div class="site-footer__inner">
    <div class="site-footer__top">
      <div class="site-footer__top-left">
        <!-- prettier-ignore -->
        {% if has_logo %}
          {% set logo = global.components.logo %}
          {% include "../components/logo.njk" %}
        {% endif %}
  
        {% if message %}
        <p class="site-footer__top-message">{{ message }}</p>
        {% endif %}

        <!-- prettier-ignore -->
        {% if social_media %}
          {% include "../components/social-media.njk" %}
        {% endif %}
      </div>

      <div class="site-footer__top-right">
        <!-- prettier-ignore -->
        {% if linkset_1 %}
        <div class="site-footer__linkset-1">
          {% if linkset_1_title %}
          <strong>{{ linkset_1_title }}</strong>
          {% endif %}

          <!-- prettier-ignore -->
          {% set links = linkset_1 %}
          {% set menu_links_class = 'site-footer__primary-links' %}
          {% include "../components/menu-links.njk" %}
        </div>
        {% endif %}

        <!-- prettier-ignore -->
        {% if linkset_2 %}
        <div class="site-footer__linkset-2">
          {% if linkset_2_title %}
          <strong>{{ linkset_2_title }}</strong>
          {% endif %}

          <!-- prettier-ignore -->
          {% set links = linkset_2 %}
          {% set menu_links_class = '' %}
          {% include "../components/menu-links.njk" %}
        </div>
        {% endif %}

        <!-- prettier-ignore -->
        {% if linkset_3 %}
        <div class="site-footer__linkset-2">
          {% if linkset_3_title %}
          <strong>{{ linkset_3_title }}</strong>
          {% endif %}

          <!-- prettier-ignore -->
          {% set links = linkset_3 %}
          {% set menu_links_class = '' %}
          {% include "../components/menu-links.njk" %}
        </div>
        {% endif %}
      </div>
    </div>

    {% if divider %}
    <hr class="site-footer__divider" />
    {% endif %}

    <div class="site-footer__bottom">
      <!-- prettier-ignore -->
      {% if return_to_top %}
        {% set link = return_to_top %}
        {% include "../components/button.njk" %}
      {% endif %}
  
      {% if copyright %}
      <p class="site-footer__copyright">{{ copyright | safe }}</p>
      {% endif %}

      <!-- prettier-ignore -->
      {% if legal_links or theme_toggle %}
      <div class="site-footer__bottom-group">
        <!-- prettier-ignore -->
        {% if legal_links %}
          {% set links = legal_links %}
          {% set menu_links_class = 'legal-links' %}
          {% include "../components/menu-links.njk" %}
        {% endif %}

        <!-- prettier-ignore -->
        {% if theme_toggle %}
          {% include "../library/theme-toggle.njk" %}
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</footer>
