<!-- Not currently compatible with grid-bg due to sections having background color to hide the footer -->
<!-- prettier-ignore -->
{% set footer = global.footer_scroll_reveal %}

{% set title = footer.title or '' %}
{% set cta_1 = footer.cta_1 or null %}
{% set cta_2 = footer.cta_2 or null %}

{% set message = footer.message or '' %}
{% set big_link = footer.big_link or null %}
{% set social_media = footer.social_media or false %}
{% set theme_toggle = footer.theme_toggle or false %}
{% set copyright = footer.copyright | default(
  '©<span data-current-year></span>
&nbsp;' + meta_data.site_name + '. All rights reserved' ) %}

<!-- prettier-ignore -->
{% set mod_class_bg_support = '' %}

{% if path == "archive-blog" %}
  {% set mod_class_bg_support = 'footer-background-support--shorter' %}
{% endif %}

<div
  class="footer-background-support {{ mod_class_bg_support }}"
  aria-hidden="true"
></div>

<footer class="footer-scroll-reveal">
  <div class="footer-scroll-reveal__inner">
    <div class="footer-scroll-reveal__top-left">
      <h2 class="footer-scroll-reveal__top-left-title">{{ title }}</h2>
      {% include "../components/cta-group.njk" %}
    </div>

    <div class="footer-scroll-reveal__top-right">
      {% if message %}
      <p class="footer-scroll-reveal__top-right-message">{{ message }}</p>
      {% endif %}

      <!-- prettier-ignore -->
      {% set btn = ({
        text: big_link.text,
        text_desc: big_link.text_desc,
        url: big_link.url,
        new_tab: true,
        type: 'text',
        class: 'footer-scroll-reveal__top-right-link btn--split-text',
        attributes: 'data-hover-alt'
        }) %}
      {% include "../components/btn.njk" %}
    </div>

    <div class="footer-scroll-reveal__bottom">
      <div class="footer-scroll-reveal__bottom-left">
        {% if copyright %}
        <p class="site-footer__copyright">{{ copyright | safe }}</p>
        {% endif %}
      </div>

      <div class="footer-scroll-reveal__bottom-right">
        <p>
          Made in collaboration with
          <!-- prettier-ignore -->
          {% set btn = ({
            text: 'axys creative',
            url: 'https://axyscreative.com',
            new_tab: true,
            type: 'underline',
            class: 'glitch-hover',
            attributes: 'data-hover-alt'
           }) %}
          {% include "../components/btn.njk" %}
        </p>

        <!-- prettier-ignore -->
        {% if social_media %}
        {% include "../components/social-media.njk" %}
        {% endif %}
        
        {% if theme_toggle %}
        {% include "../library/components/theme-toggle.njk" %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
