<footer class="site-footer">
  <a href="#" class="return-to-top classic-link tab-element-page">
    Return to top
  </a>
  <small class="copyright">
    <span>&copy;<time class="year-text"></time> {{ meta_data.site_name }}</span>
    <span class="lg-up" aria-hidden="true">•</span>
    <span class="lg-up">All Rights Reserved</span>
  </small>
  <a
    href="https://axyscreative.com"
    target="_blank"
    class="axys-link classic-link tab-element-page"
  >
    Made by axys creative
  </a>
</footer>
