<header>
  <a href="/" class="header-logo">
    <img src="../../static/img/logo-light.svg" alt="" />
  </a>

  <button class="menu-btn" aria-label="Menu" type="button">Toggle Nav</button>

  <nav>
    <div class="nav-menu">
      {% if navigation.items %}

      <ul class="nav-menu__link-list">
        {% for item in navigation.items %}
        <li class="">
          <a class="" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </nav>
</header>
