{% set tab_nav = false %}

<!-- Props -->
<!-- prettier-ignore  -->
{% set show_skip_to_content = global.header.show_skip_to_content or false %}
{% set logo = global.header.logo or null %}
{% set link_placement = global.header.link_placement or 'end' %}
{% set cta_1 = global.header.cta_1 or null %}
{% set cta_2 = global.header.cta_2 or null %}
{% set nav_btn = global.header.nav_btn %}

<header class="site-header site-header--links-{{ link_placement }}">
  {% if show_skip_to_content %}
  <button class="skip-to-content tab-element-page">Skip to main content</button>
  {% endif %}

  <!-- prettier-ignore -->
  {% include "../components/site-logo.njk" %}

  {% include "../components/menu-links.njk" %}
  
  {% if cta_1.url %}
    {% include "../components/cta-group.njk" %}
  {% endif %}

  {% if nav_btn %}
  <div class="site-nav-btn-wrapper glitch-pair">
    {% include "../components/nav-btn.njk" %}
  </div>
  {% endif %}
</header>
