<header class="site-header" aria-label="Site Header">
  {% if global.header.show_skip_to_content %}
  <button class="skip-to-content tab-element-page">Skip to main content</button>
  {% endif %}

  <!-- prettier-ignore -->
  {% set logo = global.header.logo %}
  {% include "../components/site-logo.njk" %}

  {% if global.header.links %}
  <ul class="header-links" aria-label="Header navigation">
    {% for link in global.header.links %}
    <li>
      <!-- prettier-ignore -->
      <a
        class="header-links__link classic-link tab-element-page"
        href="{{ link.url }}"
        {% if link.new_tab %}
          target="_blank"
          rel="noopener noreferrer"
        {% endif %}
      >
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="site-nav-btn-wrapper">
    <button
      class="site-nav-btn sibling-hover-burger"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      {% if global.header.nav_btn.text %}
      <small
        class="site-nav-btn__text glitch-text glitch-hover glitch-target__menu-btn"
      >
        {{ global.header.nav_btn.text }}
      </small>
      {% endif %}
      <div
        class="site-nav-btn__line-wrapper magnet magnet-strong sibling-hover-burger__target glitch-trigger"
        data-glitch-target="glitch-target__menu-btn"
      >
        <span class="site-nav-btn__line"></span>
        <span class="site-nav-btn__line"></span>
      </div>
    </button>
  </div>
</header>
