<!-- prettier-ignore  -->
{% set tab_nav = false %}
{% set header = global.header_absolute %}
{% set header_class = 'header-absolute' %}

<!-- Props -->
<!-- prettier-ignore  -->
{% set show_skip_to_content = header.show_skip_to_content or false %}
{% set logo = header.logo or null %}
{% set menu_links = header.menu_links or null %}
{% set link_placement = header.link_placement or 'end' %}
{% set cta_1 = header.cta_1 or null %}
{% set cta_2 = header.cta_2 or null %}
{% set nav_btn = header.nav_btn %}

{% set header_mod_class = '' %}

<header class="{{ header_class }} watch-scroll" id="site-header">
  <!-- prettier-ignore -->
  {% if logo %}
    {% include "../components/logo.njk" %}
  {% endif %}

  <!-- prettier-ignore -->
  <div class="{{ header_class }}__controls">
    <!-- prettier-ignore -->
    {% set btn = cta_2 %}
    {% if btn.text %}
    {% include "../components/btn.njk" %}
    {% endif %}

    <!-- prettier-ignore -->
    {% set btn = cta_1 %}
    {% if btn.text %}
    {% include "../components/btn.njk" %}
    {% endif %}
    
    
    <!-- prettier-ignore -->
    {% include "../components/btn-nav.njk" %}
  </div>
</header>
<!-- end header -->

<!-- start nav -->
{% set tab_nav = true %}

<!-- Props -->
<!-- prettier-ignore  -->
{% set nav_footer = global.header.nav_footer or false %}

<nav
  class="site-nav nav-absolute"
  id="site-navigation"
  aria-label="Site Navigation"
  aria-hidden="true"
  data-scroll-lock="true"
>
  <div class="width-constraint" data-lenis-prevent>
    <!-- prettier-ignore -->
    {% set menu_links_class = 'site-nav__primary-links' %}
    {% include "../components/menu-links.njk" %}

    <div class="site-nav__footer">
      {% if nav_footer.links or nav_footer.admin_login %}
      <ul class="site-nav__footer-links">
        {% for link in nav_footer.links %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/"
            >{{ link.text }}</a
          >
        </li>
        {% endfor %}

        <!-- prettier-ignore -->
        {% if nav_footer.admin_login %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/admin">
            Admin Login
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

      <!-- prettier-ignore -->
      {% set social_data = social_media.links %}
      {% include "../components/social-media.njk" %}
    </div>
  </div>
</nav>
