<header class="site-header" aria-label="Site Header">
  <a class="header-logo" href="#">
    <img
      class="header-logo__icon"
      src="../../static/img/logo-light.svg"
      alt="AXYS Decap Logo"
    />
  </a>

  {% if navigation.items %}

  <ul class="header-links">
    {% for item in navigation.items %}
    <li class="">
      <a class="header-links__link" href="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>

  {% endif %}

  <div class="menu-btn-wrapper">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-dots-wrapper">
        <span class="menu-btn-dot top-left"></span>
        <span class="menu-btn-dot top-center"></span>
        <span class="menu-btn-dot top-right"></span>

        <span class="menu-btn-dot middle-left"></span>
        <span class="menu-btn-dot middle-center"></span>
        <span class="menu-btn-dot middle-right"></span>

        <span class="menu-btn-dot bottom-left"></span>
        <span class="menu-btn-dot bottom-center"></span>
        <span class="menu-btn-dot bottom-right"></span>
      </div>
    </button>
  </div>
</header>
