<!-- prettier-ignore  -->
{% set tab_nav = false %}
{% set header = global.header_simple %}
{% set header_class = 'header-simple' %}

<!-- Props -->
<!-- prettier-ignore  -->
{% set show_skip_to_content = header.show_skip_to_content or false %}
{% set logo = header.logo or null %}
{% set menu_links = header.menu_links or null %}
{% set float = header.float or false %}
{% set glass = header.glass or false %}
{% set link_placement = header.link_placement or 'end' %}
{% set cta_1 = header.cta_1 or null %}
{% set cta_2 = header.cta_2 or null %}
{% set nav_btn = header.nav_btn %}

{% set header_mod_class = '' %}

{% if float %}
  {% set header_mod_class = header_mod_class + " '~header_class~'--float" %}
{% endif %}

{% if glass %}
  {% set header_mod_class = header_mod_class + " '~header_class~'--glass" %}
{% endif %}

<header
  class="
  {{ header_class }}
  {{ header_class }}--links-{{ link_placement }}
  {{ header_mod_class }}
  watch-scroll
  "
  id="site-header"
>
  {% if show_skip_to_content %}
  <button class="skip-to-content tab-element-page">Skip to main content</button>
  {% endif %}

  <div class="{{ header_class }}__inner">
    <!-- prettier-ignore -->
    {% if logo %}
      {% include "../components/logo.njk" %}
    {% endif %}

    {% set menu_links_class = header_class + '__primary-links' %}
    {% include "../components/menu-links.njk" %}

    <!-- prettier-ignore -->
    {% if cta_1 or cta_2 %}
    <div class="{{ header_class }}__cta-group">
      <!-- prettier-ignore -->
      {% set btn = cta_2 %}
      {% include "../components/btn.njk" %}

      <!-- prettier-ignore -->
      {% set btn = cta_1 %}
      {% include "../components/btn.njk" %}
    </div>
    {% endif %}

    <!-- prettier-ignore -->
    {% if nav_btn %}
    <div class="site-nav-btn-wrapper glitch-pair">{% include "../components/nav-btn.njk" %}</div>
    {% endif %}
  </div>
</header>

<!-- end header -->

<!-- start nav -->

{% set tab_nav = true %}

<!-- Props -->
<!-- prettier-ignore  -->
{% set nav_footer = global.header.nav_footer or false %}
{% set lock_body_scroll = global.header.lock_body_scroll %}

<nav
  class="site-nav nav-simple"
  id="site-navigation"
  aria-label="Site Navigation"
  aria-hidden="true"
  data-scroll-lock="{{ lock_body_scroll }}"
>
  <div class="width-constraint" data-lenis-prevent>
    <!-- prettier-ignore -->
    {% set menu_links_class = 'site-nav__primary-links' %}
    {% include "../components/menu-links.njk" %}

    <div class="site-nav__footer">
      {% if nav_footer.links or nav_footer.admin_login %}
      <ul class="site-nav__footer-links">
        {% for link in nav_footer.links %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/">{{ link.text }}</a>
        </li>
        {% endfor %}

        <!-- prettier-ignore -->
        {% if nav_footer.admin_login %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/admin"> Admin Login </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

      <!-- prettier-ignore -->
      {% set social_data = social_media.links %}
      {% include "../components/social-media.njk" %}
    </div>
  </div>
</nav>
