<header class="site-header" aria-label="Site Header">
  {% if global.header.show_skip_to_content %}
  <button class="skip-to-content tab-element-page">Skip to main content</button>
  {% endif %}

  <!-- prettier-ignore -->
  {% set logo = global.header.logo %}
  {% include "../components/site-logo.njk" %}

  {% if global.header.links %}
  <ul class="header-links" aria-label="Header navigation">
    {% for link in global.header.links %}
    <li>
      <!-- prettier-ignore -->
      <a
        class="header-links__link classic-link tab-element-page"
        href="{{ link.url }}"
        {% if link.new_tab %}
          target="_blank"
          rel="noopener noreferrer"
        {% endif %}
      >
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="site-nav-btn-wrapper">
    <button
      class="site-nav-btn sibling-hover-burger"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      {% if global.header.nav_btn.text %}
      <small
        class="site-nav-btn__text glitch-text glitch-hover glitch-target__menu-btn"
      >
        {{ global.header.nav_btn.text }}
      </small>
      {% endif %}
      <!-- prettier-ignore -->
      {% set nav_btn = global.header.nav_btn %}
      {% if nav_btn.type == 'burger' %}
      {% include "../library/nav-btn-burger.njk" %}
      {% elseif nav_btn.type == 'chocolate' %}
      {% include "../library/nav-btn-chocolate.njk" %}
      {% else %}
      {% include "../library/nav-btn-kebab.njk" %}
      {% endif %}
    </button>
  </div>
</header>
