<nav
  class="site-nav"
  id="site-navigation"
  aria-label="Site Navigation"
  aria-hidden="true"
>
  <div class="width-constraint">
    {% if global.nav.links %}
    <ul class="nav-links">
      {% for link in global.nav.links %}
      <li>
        <a class="nav-link tab-element-nav" href="{{ link.url }}">
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <ul class="nav-footer-links">
      <li>
        <a
          class="nav-footer-link tab-element-nav"
          href="{{ settings.url }}admin"
        >
          Admin Login
        </a>
      </li>
      <li>
        <a class="nav-footer-link tab-element-nav" href="/">Privacy Policy</a>
      </li>
      <li>
        <a class="nav-footer-link tab-element-nav" href="/">
          Terms & Conditions
        </a>
      </li>
    </ul>

    <!-- prettier-ignore -->
    {% set tab_nav = true %}
    {% set social_data = social_media.links %}
    {% include "../components/social-media.njk" %}
  </div>
</nav>
