<nav
  class="site-nav"
  id="site-navigation"
  aria-label="Main Navigation"
  aria-hidden="true"
>
  <div class="width-constraint">
    {% if navigation.items %}

    <ul class="nav-links">
      {% for item in navigation.items %}
      <li>
        <a class="nav-link tab-element-nav" href="{{ item.url }}">
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}

    <ul class="nav-footer-links">
      <li>
        <a
          class="nav-footer-link tab-element-nav"
          href="{{ settings.url }}admin"
        >
          Admin Login
        </a>
      </li>
      <li>
        <a class="nav-footer-link tab-element-nav" href="/">Privacy Policy</a>
      </li>
      <li>
        <a class="nav-footer-link tab-element-nav" href="/">
          Terms & Conditions
        </a>
      </li>
    </ul>

    <!-- prettier-ignore -->
    {% set tab_nav = true %}
    {% include "../components/social-media.html" %}
  </div>
</nav>
