<!-- prettier-ignore -->
{% set tab_nav = true %}
{% set nav_footer = global.header.nav_footer or false %}
{% set lock_body_scroll = global.header.lock_body_scroll %}

<nav
  class="site-nav"
  id="site-navigation"
  aria-label="Site Navigation"
  aria-hidden="true"
  data-scroll-lock="{{ lock_body_scroll }}"
>
  <div class="width-constraint" data-lenis-prevent>
    {% include "../components/menu-links.njk" %}

    <div class="site-nav__footer">
      {% if nav_footer.links or nav_footer.admin_login %}
      <ul class="site-nav__footer-links">
        {% for link in nav_footer.links %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/">{{
            link.text
          }}</a>
        </li>
        {% endfor %}

        <!-- prettier-ignore -->
        {% if nav_footer.admin_login %}
        <li>
          <a class="nav-footer-link classic-link tab-element-nav" href="/admin">
            Admin Login
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

      <!-- prettier-ignore -->
      {% set social_data = social_media.links %}
      {% include "../components/social-media.njk" %}
    </div>
  </div>
</nav>
